{% extends 'base.html.twig' %}

{% block body %}
    <!-- Registro de Árbitros section -->
	<section class="about-section spad pt-0">
		<div class="container">
			<div class="section-title text-center">
				<h3>Registro de Árbitros</h3>
			</div>
            <div class="row">
				<div class="col-lg-12 about-text">
                    <p>El presente registro está ordenado alfabéticamente y no indica la categorización ni especialidad de los árbitros.</p>
                    <p>Para poder ingresar y conservar la inscripción en el registro los árbitros deben cumplir los requisitos establecidos por el "<a href="{{ path('registro-profesional') }}">Reglamento de Registro de Profesionales</a>" del IANCA.</p>
                    <p>Para poder conservar la inscripción los mediadores/conciliadores deben realizar un proceso de actualización y especialización permanente de 30 créditos anuales.</p>
                    <p>El Ministerio de Justicia y Derechos Humanos, <a href="http://www.pmp.jus.gov.ar/" target="_blank">Dirección Nacional de Promoción de Métodos Participativos de Justicia</a>, con nota 4.452/01 (13 de noviembre de 2001), manifestó la posibilidad que el IANCA desarrolle la administración de un "registro profesional para incorporar y controlar la tarea multidisciplinaria (abogados, contadores públicos, licenciados en administración, etcétera) como mediadores, negociadores, conciliadores, árbitros, etcétera, y de esta forma contribuir a la pacificación social, cabe decir que la misma puede ser apreciada como una interesante iniciativa de gestión, de carácter no oficial, en el campo de los métodos participativos de resolución de conflictos, cuyos alcances quedan enmarcados por los límites de la actividad privada en cuyo contexto se desempeña vuestra Entidad".</p>
                    <p>Además de las disciplinas explícitamente señaladas en la nota 4.452/01, se incluyen todas las demás disciplinas universitarias (profesionales de la conducta, ciencias sociales, psicológicas, salud, ingeniería, informática, arquitectura, etcétera), oficialidad de fuerzas armadas, de seguridad, etcétera, y todos aquellos que desarrollen funciones comunitarias (inmobiliarias, sociales, defensorías, etcétera).</p>
                    <p>Los Árbitros del IANCA que están en representación de Consumidores Alerta - CONSAL en el Sistema Nacional de Arbitraje de Consumo (SNAC), designados por Disposición Nº 6, y  figuran con la indicación de esta sigla y su número entre paréntesis.</p>
                    <h5>Árbitros:</h5>
                    <ul class="about-list" style="margin-left:20px">
                        <li>1. Aguilar, Graciela Elsa</li>
                        <li>2. Amarelle, Carlos Alfredo (SNAC 96)</li>
                        <li>3. Audisio, Diego Luis (Santa Fe)</li>
                        <li>4. Barrionuevo, Claudia Patricia</li>
                        <li>5. Barrionuevo, Rodolfo</li>
                        <li>6. Báston, Laura Evangelina</li>
                        <li>7. Báston, Verónica Elizabeth</li>
                        <li>8. Casal, Armando Miguel</li>
                        <li>9. Casal, Daniel Alejandro (SNAC 94)</li>
                        <li>10. Casal, Pablo Mariano</li>
                        <li>11. Casasco, Domingo Enrique</li>
                        <li>12. Cattaneo, María Rosa</li>
                        <li>13. Cattaneo, Nora Nelly</li>
                        <li>14. Contuci, Julio Jorge (SNAC 95)</li>
                        <li>15. De Francisco Mier, María de las Mercedes</li>
                        <li>16. Díaz, Luis Ángel</li>
                        <li>17. Dulcich, María Evangelina</li>
                        <li>18. Eufemio, Jorge José</li>
                        <li>19. Echavarría, Ignacio Hervé (SNAC 90)</li>
                        <li>20. Franco Bobadilla, Eduardo Daniel (Corrientes)</li>
                        <li>21. Ferrario, María Elena</li>
                        <li>22. Ferraro, Gladys Alicia (Ushuaia)</li>
                        <li>23. Igolnikov, Daniel Jaime</li>
                        <li>24. Martín, Lucas Ezequiel</li>
                        <li>25. Linch, Silvia Adriana</li>
                        <li>26. Lizarazu, Gustavo Martín (SNAC 91)</li>
                        <li>27. Longhi, Analía Elizabeth</li>
                        <li>28. Martín, Miguel Ángel (SNAC 89)</li>
                        <li>29. Martín Salinas, Gabriela Alejandra</li>
                        <li>30. Martínez de Metti, Rosa Ana (SNAC 92)</li>
                        <li>31. Medina, Sandro Horacio (Chajarí, Entre Ríos)</li>
                        <li>32. Mues, Blanca Ester</li>
                        <li>33. Noble Hernández, Alfredo (tucumán)</li>
                        <li>34. Ortegta, Ricardo Pablo</li>
                        <li>35. Petroff, María Susana (Bella Vista)</li>
                        <li>36. Radonde, José Juan</li>
                        <li>37. Richarte, Fabiana Andrea</li>
                        <li>38. Romano, Juan Manuel (Ushuaia)</li>
                        <li>39. Sakellaropoulos, Leonidas</li>
                        <li>40. Salzman, Amalia Berta  </li>
                        <li>41. Torrealba Canga, Paulo Emilio de Jesús</li>
                        <li>42. Vecchiarelli, María de los Ángeles (SNAC 93)</li>
                        <li>43. Vazquez, Romina Julieta</li>
                        <li>44. Zavala, Néstor Edgardo (Formosa)</li>
                    </ul>
                </div>
			</div>
		</div>
	</section>
	<!-- Registro de Árbitros section end-->

{% endblock %}
