{% extends 'base.html.twig' %}

{% block body %}
    <!-- Instituto en Desarrollo y Cultura de la Paz section -->
    <section class="about-section spad pt-0">
        <div class="container">
            <div class="section-title text-center">
                <h3>Instituto en Desarrollo y Cultura de la Paz</h3>
            </div>
            <div class="row">
                <div class="col-lg-6 about-text">
                    <p>El <b>IANCA - Instituto Argentino de Negociación, Conciliación y Arbitraje Instituto Argentino de Negociación, Conciliación y Arbitraje</b> consolida su actividad a lo largo de sus pasados 24 años, presentando su nuevo Instituto de la referencia.</p>
                    <p>Su tarea permanente cuidando el Respeto a los Derechos Humanos, la consolidación en Formación de Actores en Procesos de Diálogo. Construcción de Valores y Calidad de vida, Prevención de Situaciones de Crisis y de Violencia en nuestro ámbito nacional e internacional, acompañados por Instituciones Educativas de distintos niveles y modalidades, Organizaciones de diferentes sectores públicos y privados, asistenciales, recreativas, culturales, religiosas, servicios, laborales, de rehabilitación y demás. Se ha abordado la conflictiva individual y social, cuestiones de inequidad, vulnerabilidad, discriminación, exclusión, usura, desigualdad buscando respuestas favorables al cambio que se plasman en nuestra obra de Investigación y desarrollo permanente con la muestra representativa en la práctica empírica en el marco de la Realidad social.</p>
                    <p>Convocamos a los que quieran sumarse para fortalecernos como sociedad pacífica.</p>
                </div>
                <div class="col-lg-6 pt-5 pt-lg-0" style="padding-left:100px">
                    <img src="{{ asset('img/InastPAZ.gif') }}" alt="" style="width:300px">
                </div>
                <div class="col-lg-16 about-text">
                    <h5>Propósitos:</h5>
                    <p>1. Formación y Registro de nuevos Actores para la implementación del proceso: ciudadanos y agentes de paz, educadores, la escuela en sus diferentes modalidades (primaria, media y terciaria), familias, profesionales, atención a grupos de convivencia, culturales, representante de entidades religiosas, artísticos, deportivos, medios de comunicación y quienes se dispongan a dedicarse a la temática.</p>
                    <ul class="about-list" style="margin-left:20px">
                        <li><i class="fa fa-check-square-o"></i> En la Prevención, Tratamiento y Transformación .de los conflictos individuales y sociales  trabajando con disciplinas como la Filosofía de la Paz y Sociología del Lenguaje, presentamos el siguiente rol:
                        <br><br><b>Mediador en Desarrollo y Cultura de la Paz</b></li>
                        <li><i class="fa fa-check-square-o"></i> Para Contextos más complejos que requieran Estudios Preliminares, Pronósticos para la Acción y Solución en las redes interistitucionales, el rol es el siguiente:
                        <br><br><b>Consejero en Desarrollo y Cultura de la Paz</b></li>
                    </ul>
                    <br>
                    <p>2. Lograr acuerdo pacíficos entre Naciones con Procesos de Gestión Constructiva de Conflictos, evitando controversias que puedan afectar la Paz.</p>
                    <ul class="about-list" style="margin-left:20px">
                        <li><i class="fa fa-check-square-o"></i> Presentamos formación, registro y tratamiento de casos conjuntamente con la CIDECOMER (Cámara Internacional de Comercio del MERCOSUR) en las áreas temáticas:
                        <br><br><b>Mediación, Conciliación y Arbitraje Nacional e Internacional</b>
                        <br><br><b>Mediación, Conciliación y Arbitraje Nacional e Internacional</b></li>
                    </ul>
                    <br>
                    <p>3. Equidad en la distribución de la riqueza para la <b>prevención del abuso financiero y la usura</b>, 27 tomos de investigación:</p>
                    <ul class="about-list" style="margin-left:20px">
                        <li><b>Formación, Desarrollo y Tratamiento de las casos Nacionales e Internacionales.</b></li>
                    </ul>
                    <br>
                    <p>4. Respetar, resguardar y proteger la vida y la salud integral, incluyendo con su patrimonio, material, económico, social y cultural, en prevención de situaciones críticas trabajando con la experiencia en <b>seguridad sin violencia</b>.</p>

                    <p>5. Integración con las Universidades e Instituciones Educativas Nacionales y Privadas para el trabajo en conjunto:</p>
                    <ul class="about-list" style="margin-left:20px">
                        <li><b>Presentación de la Cátedra de Cultura y desarrollo de la Paz</b></li>
                        <li><b>Carreras de Grado. Posgrado. Maestría y Doctorado</b></li>
                        <li><b>Primer Posgrado Internacional de Derechos Humanos en las Américas</b>, auspiciado por la UNESCO.</li>
                    </ul>
                    <br>
                    <p>6. Afianzar la interrelación conjunta en el <b>marco internacional</b>.</p>

                    <p>7. Conexión permanente con la <b>Región Latinoamericana. Ministerios de Cultura, Educación y Justicia</b> entre otros para el Desarrollo Sustentable.</p>

                    <p>8. <b>Jornadas y Foros por el Desarrollo y Cultura de Paz</b>.</p>

                    <p>9. Trabajo Conjunto para el fomento y enriquecimiento de la <b>Diversidad Cultural</b>.</p>

                    <p>10. Por la <b>inclusión social y educativa</b>.</p>

                    <p>11. Actuación conjunta con las Defensorías en la Defensa y Promoción de los <b>Derechos Humanos</b>.</p>

                    <p>12. Priorizar a los más débiles en nuestra cultura atendiendo cuestiones de <b>salud, edad y vulnerabilidad</b>.</p>

                    <p>13. Continuar con la investigación permanente vertida en <b>obras, libros y publicaciones</b>.</p>

                    <p>14. Abordaje <b>multidisciplinario</b> en la integración con participantes interesados en el tratamiento, estudio e investigación de la temática.</p>

                    <p>15. Atender a la Ecología Humana como proceso de conexión de la población con el escosistema.</p>

                    <p>16. Cuidar el consumo responsable y el desafío global de la pérdida y desperdicio de alimentos y otros recursos. Atender y resolver a las situaciones de Usuarios y/o Consumidores que afecten o abusen de sus Derechos</p>

                    <p>17. Trabajar los Conflictos Sociales a través de una Gestión Transformadora integrando a los actores aplicando Procesos Sistemáticos conducentes al logro de Acuerdos de Paz. Siendo observadores permanentes desde la prevención para evitar la crisis y la violencia consolidando y comprendiendo este otro valor y DDHH que conduce a la Paz como es la Unidad Social.</p>

                    <p>18. Incorporar la Disciplina de la Misionología en la Mediación en Cultura de Paz.</p>

                    <p>19. La Misión de Promover, Difundir, Informar, Educar, Transmitir, Acudir. Llevar. Consolidar la Paz en todo ámbito. Que avance de manera paulatina y permanente para transformar la adversidad, las dificultades y Prevención de la Violencia creando la Misión de la Mediación en la Cultura de Paz.
                    Que pueda formar y conformar grupos con actitud de Misioneros en su Solicitud y Premura Solidaria preparados a tal fin.
                    Presentando un rol afín <b>Misioneros Mediadores en Desarrollo y Cultura de la Paz</b>.
                    Permanecer atentos a la ocurrencia de hechos que la afecten; que trabajen en Misiones de Paz para transformar las situaciones adversas en <b>Calidad de Vida y Hermandad</b>.</p>
                    <br>
                    <p>
                        María de los Ángeles Vecchiarelli
                        <br><br>
                        14 de septiembre de 2014
                        <br><br>
                        Ciudad Autónoma de Buenos de Aires
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Instituto en Desarrollo y Cultura de la Paz section end-->
{% endblock %}
