{% extends 'base.html.twig' %}

{% block body %}
    <!-- Quienes Somos section -->
	<section class="about-section spad pt-0">
		<div class="container">
			<div class="section-title text-center">
				<h3>NATURALEZA DE LA ENTIDAD</h3>
			</div>
            <div class="row">
				<div class="col-lg-16 about-text">
					<h5>1. Naturaleza de la entidad</h5>
                    <p>El <b>Instituto Argentino de Negociación, Conciliación y Arbitraje (IANCA)</b> es una entidad de carácter académico sin fines de lucro, constituida por especialistas en la materia provenientes de diversas disciplinas profesionales relacionadas con las actividades y sus colaterales.</p>
                    <p>Nuestro Institución es fundada, el <b>14 de mayo de 1992</b>, como producto de la sentida necesidad de los expertos que la componen, con la finalidad de intercambiar experiencias en materia de investigación, difusión y desarrollo. Su conformación jurídica es la una Asociación Civil sin fines de lucro.</p>
                    <p>En el presente, las técnicas de <b>negociación, conciliación, mediación, arbitraje y otras apropiadas para la administración de conflictos y situaciones críticas</b> han tomado un notable impulso y desarrollo en las organizaciones (Gobierno, Empresas, Justicia, Cámaras, Gremios, Asociaciones Civiles, etcétera) de nuestro país y del mundo.</p>
                    <p>En este contexto, la reunión en torno a temas comunes y la consolidación de ideas y posturas por parte de los especialistas, investigadores y estudiosos del área, facilita la concentración del material existente y posibilita el incremento de su intercomunicación e interconsulta, arrojando como consecuencia una creciente sinergia.</p>
                    <p>El <b>IANCA</b> es dirigido y administrado por una Comisión Directiva, elegida por la Asamblea General de Asociados.</p>
                    <p>Sus necesidades son atendidas con los fondos provenientes de las cuotas abonadas por los asociados, con el producto de los eventos académicos y técnicos que organiza, con la venta de sus publicaciones, con los servicios que brinda y con las contribuciones que recibe.</p>
                    <br>
                    <h5>2. Objetivos</h5>
                    <ul class="about-list" style="margin-left:20px">
						<li>
				            <i class="fa fa-check-square-o"></i>
Promover y difundir el conocimiento técnico y científico, los resultados de la investigación, el desarrollo y las experiencias en el área.
				        </li>
                        <li>
				            <i class="fa fa-check-square-o"></i>
                            Vincular a las personas o las instituciones interesadas en las disciplinas promovidas, fomentando su mayor conocimiento y desarrollo.
				        </li>
                        <li>
				            <i class="fa fa-check-square-o"></i>
                            Coadyuvar a la jerarquización de la tecnología y de sus generadores.
				        </li>
                        <li>
				            <i class="fa fa-check-square-o"></i>
                            Mantener relaciones con entidades nacionales e internacionales que posean fines similares o complementarios.
				        </li>
                        <li>
				            <i class="fa fa-check-square-o"></i>
                            Organizar y/o participar en jornadas, congresos, cursos y otras actividades análogas.
				        </li>
                        <li>
				            <i class="fa fa-check-square-o"></i>
                            Unificar criterios y emitir recomendaciones o suministrar conclusiones sobre temas referidos a las tecnologías de Negociación, Conciliación, Mediación, Arbitraje, Probation y otras que apunten a la administración de conflictos, a la paz social y al hombre en la sociedad.
				        </li>
                        <li>
				            <i class="fa fa-check-square-o"></i>
                            Resolver situaciones críticas sin violencia.
				        </li>
                        <li>
				            <i class="fa fa-check-square-o"></i>
                            Tratar de difundir la adecuada aplicación de la técnica con un enfoque plenamente humanístico y orientado hacia el efectivo desarrollo del individuo, procurando el mayor reconocimiento a los niveles personal, organizacional y gubernamental.
				        </li>
                        <li>
				            <i class="fa fa-check-square-o"></i>
                            Expandirse hacia el interior y el exterior del país desarrollando filiales o representantes para producir un campo más abarcativo y globalizador.
				        </li>
                        <li>
				            <i class="fa fa-check-square-o"></i>
                            Promover e impulsar la investigación y el desarrollo de las tecnologías de negociación, de terciación, de resocialización y de seguridad personal frente al delito.
				        </li>
					</ul>
                    <br>
                    <h5>3. Servicios prestados</h5>
                    <p>El <b>IANCA</b> brinda permanentemente apoyo a sus asociados y a todas aquellas personas que requieran de sus conocimientos y solvencia técnica y ética, tales como son:</p>
                    <ul class="about-list" style="margin-left:20px">
						<li>
				            <i class="fa fa-check-square-o"></i>
                            Promoción de cursos de capacitación, seminarios, conferencias, talleres y mesas redondas vinculados a tópicos específicos o afines de la especialidad.
                        </li>
                        <li>
				            <i class="fa fa-check-square-o"></i>
                            Fomento y apoyo de tareas de investigación y desarrollo en las áreas de <b>negociación, mediación, conciliación y arbitraje</b>.
                        </li>
                        <li>
				            <i class="fa fa-check-square-o"></i>
                            Auxilio y servicios profesionales a terceros en materia de Negociación, Mediación, Conciliación, Arbitraje y Probation.
                        </li>
                        <li>
				            <i class="fa fa-check-square-o"></i>
                            Centro de Administración de Diferencias del IANCA que trabaja en forma profesional.
                        </li>
                        <li>
				            <i class="fa fa-check-square-o"></i>
                            Patronato de Probación y Resocialización
                        </li>
					</ul>
                    <br>
                    <h5>4. Sede Matriz del Instituto</h5>
                    <p>El <b>IANCA</b> funciona en la calle Fragata Presidente Sarmiento 46, Código Postal 1406, Ciudad Autónoma de Buenos Aires, República Argentina.</p>
                    <p>Su teléfono es (54 11) 2054 1499.</p>
                    <p>E-Mail: info@ianca.com.ar</p>
                    <p>Su <b>Centro de Administración de Diferencias y el Patronato de Probación y Resocialización</b> es gestionado desde la sede central del Instituto y funciona en ella, en las oficinas de los terciadores o en el lugar que resulte conveniente a los involucrados o al asunto.</p>
                    <p><img src="{{ asset('img/organigrama_IANCA.gif') }}" alt=""></p>
                    <br>
                    <h5>5. Comité de Honor</h5>
                    <p>La entidad ha designado un Comité de personas notables en las temáticas que nos ocupan y que han prestado importantes y desinteresados servicios y aportes para nuestros asociados, y que actualmente está conformado por:</p>
                    <ul class="about-list" style="margin-left:20px">
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            Doctor (Abogado) Ángel Marcelo Bová
                        </li>
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            Doctor (Abogado) Oscar L. Fappiano
                        </li>
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            Doctor (Abogado) Federico Domínguez
                        </li>
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            Doctor (Abogado) Mariano Armando González Palazzo
                        </li>
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            Doctor (Abogado) Claudio Marcelo Kiper
                        </li>
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            Doctor (Abogado) Fernando Adolfo Larraín
                        </li>
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            Doctor (Abogado) Luis Gustavo Lozada
                        </li>
					</ul>
                    <br>
                    <h5>6. Comités permanentes</h5>
                    <p>Dentro de las actividades del <b>IANCA</b> funcionan los siguientes Comités:</p>
                    <ul class="about-list" style="margin-left:20px">
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            Documentación y Bibliografía
                        </li>
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            Prensa y Difusión
                        </li>
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            Formación y Actualización
                        </li>
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            Congresos
                        </li>
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            Normatización
                        </li>
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            Relaciones Institucionales
                        </li>
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            Ética
                        </li>
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            Investigación y Desarrollo
                        </li>
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            Calificaciones
                        </li>
					</ul>
                    <p>Todos los Comités están interrelacionados por un Coordinador General.</p>
                    <br>
                    <h5>7. Delegaciones y Filiales</h5>
                    <ul class="about-list" style="margin-left:20px">
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            América Central y Caribe (sede en República de Guatemala)
                        </li>
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            México
                        </li>
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            Ciudad de San Miguel del Tucumán, Provincia de Tucumán y NOA (Noroeste Argentino)
                        </li>
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            Ciudad de Quilmes, Provincia de Buenos Aires
                        </li>
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            Provincia de San Luís
                        </li>
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            Provincia de Buenos Aires
                        </li>
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            Provincia de Tierra del Fuego
                        </li>
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            Provincia de La Pampa
                        </li>
					</ul>
                    <br>
                    <h5>8. Servicio de Terciación y Asesoramiento</h5>
                    <p>El <b>IANCA</b> cuenta con un registro de negociadores, mediadores, conciliadores, árbitros, oficiales de probation, seguridad personal ante el delito, usurólogos, todos calificados por nivel y especialidad.</p>
                    <p>La calificación es efectuada con un sistema que apunta a la excelencia de los terciadores/expertos y la calidad está permanentemente controlada y evaluada por nuestro <b>Comité de Calificaciones</b>.</p>
                    <br>
                    <h5>9. Publicaciones</h5>
                    <p>El IANCA ha encarado la edición de obras de las disciplinas que son su objeto social.</p>
                    <p>Todas las obras están produciéndose bajo la denominación de Master Ediciones.</p>
                    <p>Además editamos la Revista electrónica "NegoCyAr" mensualmente, que puede suscribirse gratuitamente y se publica desde marzo de 2005.</p>
                    <br>
                    <h5>10. Inscripción en formación y actualización</h5>
                    <p>El <b>IANCA</b> se encuentra autorizado para el dictado de actividades de formación, perfeccionamiento, specialización y actualización ante:</p>
                    <ul class="about-list" style="margin-left:20px">
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            Ministerio de Justicia y Derechos Humanos de la Nación, Dirección de Promoción de Métodos Participativos de Justicia, para Mediadores y Conciliadores, Bajo el Número 1 de Entidad Formadora (Disposición Número 4 de 1998).
                        </li>
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            Gobierno de la Ciudad de Buenos Aires, Ministerio de Educación. Dirección General de Educación de Gestión Privada, Registro “C” Número 457 de Institutos Privados de Perfeccionamiento Docente.
                        </li>
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            Gobierno de la Provincia de Buenos Aires, Dirección General de Cultura y Educación, Red Federal de Formación Docente Continua, Registro de Instituciones Oferentes, Número de Acreditación d2 - 0000 82.
                        </li>
					</ul>
                    <br>
                    <h5>11. Distinciones</h5>
                    <p>El Consejo Deliberante de la Ciudad de Ushuaia, Provincia de Tierra del Fuego, declaró “Visitantes Ilustres” a nuestro Presidente y nuestra Secretaria, en diciembre de 2007.</p>
                    <p>El Consejo Deliberante de la Ciudad de Villa Mercedes, Provincia de San Luís, Declaró "Visitantes Ilustres" a nuestro Presidente y a Nuestra Secretaria, septiembre de 2009.</p>
                </div>
			</div>
		</div>
	</section>
	<!-- Quienes Somos section end-->
{% endblock %}
