{% extends 'base.html.twig' %}

{% block body %}
    <!-- Registro de mediadores y/o conciliadores section -->
	<section class="about-section spad pt-0">
		<div class="container">
			<div class="section-title text-center">
				<h3>Registro de mediadores y/o conciliadores</h3>
			</div>
            <div class="row">
				<div class="col-lg-12 about-text">
                    <p>El presente registro está ordenado alfabéticamente y no indica la categorización ni especialidad de los mediadores y/o conciliadores.</p>
                    <p>Para poder desarrollar inscripción en el registro los mediadores y/o conciliadores deben de deben cumplirse los requisitos establecidos:</p>
                    <ul class="about-list" style="margin-left:20px">
						<li>
                            <i class="fa fa-check-square-o"></i>
                            En el inciso 2) del artículo 16 del Decreto Reglamentario Número 91/98 de la Ley Número 24.573 de Mediación y Conciliación, que dice "Haber aprobado las instancias de capacitación y evaluación que exija el MINISTERIO DE JUSTICIA (Actualmente Ministerio de Justicia y Derechos Humanos) por intermedio de la DIRECCIÓN NACIONAL DE MEDIOS ALTERNATIVOS DE RESOLUCIÓN DE CONFLICTOS (Actualmente <a href="http://www.pmp.jus.gov.ar/" target="_blank">Dirección Nacional de Promoción de Métodos Participativos de Justicia</a>)".
                        </li>
						<li>
                            <i class="fa fa-check-square-o"></i>
                            Haber aprobado la formación básica: ("Curso Introductorio de Mediación" -20 horas-, "Curso de Entrenamiento en Mediación" -60 horas- y "Pasantías de Mediación’ -20 horas-), establecidos en el Anexo II, de la <a href="{{ path('resolucion-480') }}">Resolución 480/03</a> del Ministerio de Justicia, Seguridad y Derechos Humanos (27/XII/2002).
                        </li>
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            En el "<a href="{{ path('registro-profesional') }}">Reglamento de Registro de Profesionales</a>" del IANCA.
                        </li>
					</ul>
                    <br>
                    <p>Para poder conservar la inscripción los mediadores y/o conciliadores deben realizar un proceso de actualización y especialización permanente de 30 créditos anuales.</p>
                    <p>El Ministerio de Justicia, Seguridad y Derechos Humanos, <a href="http://www.pmp.jus.gov.ar/" target="_blank">Dirección Nacional de Promoción de Métodos Participativos de Justicia</a>, con nota 4.452/01 (13 de noviembre de 2001), manifestó la posibilidad que el IANCA desarrolle la administración de un "registro profesional para incorporar y controlar la tarea multidisciplinaria (abogados, contadores públicos, licenciados en administración, etcétera) como mediadores, negociadores, conciliadores, árbitros, etcétera, y de esta forma contribuir a la pacificación social, cabe decir que la misma puede ser apreciada como una interesante iniciativa de gestión, de carácter no oficial, en el campo de los métodos participativos de resolución de conflictos, cuyos alcances quedan enmarcados por los límites de la actividad privada en cuyo contexto se desempeña vuestra Entidad".</p>
                    <p>Además de las disciplinas explícitamente señaladas en la nota 4.452/01, se incluyen todas las demás disciplinas universitarias (profesionales de la conducta, ciencias sociales, psicológicas, económicas, financieras, salud, ingeniería, informática, arquitectura, etcétera), oficialidad de fuerzas armadas, de seguridad, etcétera, y todos aquellos que desarrollen funciones comunitarias (inmobiliarias, sociales, defensorías, etcétera).</p>
                    <h5>Mediadores y/o Conciliadores:</h5>
                    <ul class="about-list" style="margin-left:20px">
                        <li>1. Abregú, Julio César (Villa Dolores - Córdoba)</li>
                        <li>2. Albanese, Rita Esther</li>
                        <li>3. Albornoz, Enrique Ramón</li>
                        <li>4. Audisio, Diego Luis (Santa Fe)</li>
                        <li>5. Baldoma Ghelardi, Ariel</li>
                        <li>6. Baque, Guillermo Marcelo</li>
                        <li>7. Barbella, María Alejandra</li>
                        <li>8. Barrionuevo, Rodolfo</li>
                        <li>9. Baston, Cecilia Jacqueline</li>
                        <li>10. Baston, Laura Evangelina</li>
                        <li>11. Boladian, Mirta María</li>
                        <li>12. Bonpland, Antonio Amado</li>
                        <li>13. Briones, Martha Esther</li>
                        <li>14. Brianza, Rubén Eduardo</li>
                        <li>15. Canese, Luciana</li>
                        <li>16. Canteros, Verónica Alejandra</li>
                        <li>17. Caraballo, Walter Mario  </li>
                        <li>18. Cabrera, Juan Carlos</li>
                        <li>19. Casal, Armando Miguel</li>
                        <li>20. Casal, Daniel Alejandro</li>
                        <li>21. Castiñeiras, Elsa Ethel</li>
                        <li>22. Cattaneo, María Rosa</li>
                        <li>23. Cattaneo, Nora Nelly</li>
                        <li>24. Celeste, María Isolina</li>
                        <li>25. Contuci, Julio Jorge</li>
                        <li>26. Corrales, Irma Sara</li>
                        <li>27. Correa, Olga Yolanda (Chubut - Puerto Madryn)</li>
                        <li>28. Cortese, Graciela Edit</li>
                        <li>29. Courtade, Luis</li>
                        <li>30. Dal Santo, Marta Alicia (La Pampa)</li>
                        <li>31. Darrieux, Gisele Claudia</li>
                        <li>32. Décima, Nora Isabel</li>
                        <li>33. Destéfano, María Cristina</li>
                        <li>34. Devani Conti, Natalia de los Milagros</li>
                        <li>35. Devincenti, Ramón Pablo Alejandro</li>
                        <li>36. Díaz, Luis Ángel *</li>
                        <li>37. Di Meglio, Graciela Silvia</li>
                        <li>38. Di Nardo, Lisa Ivana</li>
                        <li>39. Di Pardo, Mónica Elisabet</li>
                        <li>40. Ducos, Mariano</li>
                        <li>41. Dulcich Farroni, María Evangelina</li>
                        <li>42. Echavarría, Ignacio Hervé</li>
                        <li>43. Eufemio, Jorge José</li>
                        <li>44. Fagundes, José Daniel</li>
                        <li>45. Farace, Ana María</li>
                        <li>46. Farías, Adriana Vicenta</li>
                        <li>47. Fariña, María Amarú</li>
                        <li>48. Ferraro, Gladys Alicia (Ushuaia)</li>
                        <li>49. Francioso, Angélica Beatriz</li>
                        <li>50. Fuente, Liliana María</li>
                        <li>51. Gaete, Mónica Elizabet</li>
                        <li>52. Gaona, Ramona</li>
                        <li>53. Giglio, María del Carmen (Municipio de la Costa)</li>
                        <li>54. Godoy Nanni, Gabriel Ernesto</li>
                        <li>55. González, Vilma</li>
                        <li>56. Grin, Nancy Felisa</li>
                        <li>57. Heredia, Martín Javier  </li>
                        <li>58. Herrera, Jessica Ianina</li>
                        <li>59. Herrera, María Teresa</li>
                        <li>60. Jáuregui, Jorge Ricardo</li>
                        <li>61. Javier, Livio Jorge</li>
                        <li>62. Juárez, María E. </li>
                        <li>63. Kaezuk, Araceli</li>
                        <li>64. Kesque, Jorgelina Alejandra</li>
                        <li>65. Ladini, Roxana</li>
                        <li>66. Lastra, Delfina del Carmen</li>
                        <li>67. Lado, Marta Susana</li>
                        <li>68. Lamas, Myriam Silvina</li>
                        <li>69. Larroca, Matías</li>
                        <li>70. Latorre, César</li>
                        <li>71. Leanis, Silvana</li>
                        <li>72. Liberjen, Cecilia Anahí</li>
                        <li>73. Liberjen, Jorge Osvaldo</li>
                        <li>74. Lista, Silvia Beatriz</li>
                        <li>75. Livio, Jorge Javier</li>
                        <li>76. Lizarazu, Gustavo Martín</li>
                        <li>77. Loggia, Liliana Noemí</li>
                        <li>78. Longhi, Analía Elizabeth</li>
                        <li>79. Lopez, María Cristina</li>
                        <li>80. Lucero; Noemí Susana</li>
                        <li>81. Lupo, Valeria Liliana</li>
                        <li>82. Madricardo de Díscoli, Gladys *</li>
                        <li>83. Maggiolo, Norma Mabel</li>
                        <li>84. Magnano, Flavia Silvana</li>
                        <li>85. Magnano, Marcelo Daniel</li>
                        <li>86. Maidana, César O.</li>
                        <li>87. Mancini, Victoria Mariel</li>
                        <li>88. Marrella, Ana Amelia</li>
                        <li>89. Martín, Miguel Ángel</li>
                        <li>90. Martín, Olinda</li>
                        <li>91. Martínez de Metti, Rosa Ana *</li>
                        <li>92. Mazzolini, Carla Patricia</li>
                        <li>93. Medina, Sandro Horacio (Chajarí, Entre Ríos)</li>
                        <li>94. Meler, Graciela Beatriz</li>
                        <li>95. Mendizabal, Karina</li>
                        <li>96. Menín, Adriana</li>
                        <li>97. Merlino, Mónica Beatriz (Córdoba)</li>
                        <li>98. Monteiro, Adriana Patricia</li>
                        <li>99. Montemurro, María Lucía</li>
                        <li>100. Montenegro, Carlos Ariel  </li>
                        <li>101. Morelli, Liliana Beatriz </li>
                        <li>102. Navarro, Mario Rómulo</li>
                        <li>103. Nieli, Daniel Alejandro (Salta)</li>
                        <li>104. Nobili, Mirian Viviana</li>
                        <li>105. Núñez, Verónica Alejandra</li>
                        <li>106. Pagliuca, Dora</li>
                        <li>107. Paiva, Romina Natalia</li>
                        <li>108. Palumbo, María Estela</li>
                        <li>109. Paredes, Alejandra Lorena</li>
                        <li>110. Penelas, Fernando Abel</li>
                        <li>111. Pereyra, Fernando Enrique</li>
                        <li>112. Ponce, Lidia Laura</li>
                        <li>113. Rago, Patricia</li>
                        <li>114. Raimondi; Emmanuel</li>
                        <li>115. Rao, Marisa Daniela</li>
                        <li>116. Riverol, Virginia Cristina</li>
                        <li>117. Robatto, Roberto</li>
                        <li>118. Rocha, Raúl Oscar</li>
                        <li>119. Rodríguez, Carlos Daniel Alejandro</li>
                        <li>120. Roldán, Oscar Paulo</li>
                        <li>121. Romano, Juan Manuel (Ushuaia)</li>
                        <li>122. Rodríguez, Daniel Oscar</li>
                        <li>123. Rodríguez, María Laura</li>
                        <li>124. Rodríguez Lois, María Estela</li>
                        <li>125. Rojas, Isabel</li>
                        <li>126. Saccone, Stela Maris Susana</li>
                        <li>127. Sakellaropoulos, Leonidas</li>
                        <li>128. Salzman, Amalia Berta</li>
                        <li>129. Samad, Alba Patricia</li>
                        <li>130. Sánchez, Mirtha Graciela</li>
                        <li>131. Santacápita, Lucia Ángela</li>
                        <li>132. Saragusti, Christian  </li>
                        <li>133. Sardá, Margarita Lucía</li>
                        <li>134. Saucedo, Nancy Roxana</li>
                        <li>135. Sbrolla, Beatriz Adriana </li>
                        <li>136. Schiavi, Analía Gabriela</li>
                        <li>137. Secchi, Andrea (Azul)</li>
                        <li>138. Seco, Ana Gabriela</li>
                        <li>139. Senini, Roberto</li>
                        <li>140. Sgammini, Enrique Marino</li>
                        <li>141. Soto, Sergio Fernando</li>
                        <li>142. Stella Maris Vega</li>
                        <li>143. Teymoy, Patricia E.</li>
                        <li>144. Tommasone, Carla Beatriz</li>
                        <li>145. Vallejo, Victoria</li>
                        <li>146. Vattuone, Lía</li>
                        <li>147. Vecchiarelli, Carmen Noemí</li>
                        <li>148. Vecchiarelli, María de los Ángeles</li>
                        <li>149. Vega, Marcelo Fabián  </li>
                        <li>150. Vega, Stella Maris</li>
                        <li>151. Villalba, Nestor Oscar</li>
                        <li>152. Virgili, Inés María</li>
                        <li>153. Yusef, Susana Teresita * </li>
                        <li>154. Zavala, Néstor Edgardo (Formosa)</li>
                        <li>155. Zornetta, María Graciela</li>
                        <li>156. Zudaire, Gabriela Alejandra</li>
                    </ul>
                    <br>
                    <p>* Mediadores inscriptos en el Registro de Ley 24.573 MJyDH - PMP-Jus</p>
                    <br>
                    <p>Ante las numerosas consultas recibidas sobre el ancance y ámbito de la Mediación a continuación damos ina idea de esto.</p>
                    <p>Los Mediadores registrados en el IANCA han cumplido al menos con la formación requerida por el Ministerio de Justicia y Derechos Humanos de la Nación, que establece el artículo 10 del decreto 91/98, que reglamenta la Ley de Mediación 24.573.</p>
                    <p>Los mismos están en condiciones de practicar Mediaciones por que contar con la formación y experiencia requerida, existiendo las siguientes formas habituales:</p>
                    <ul class="about-list" style="margin-left:20px">
						<li>
                            <i class="fa fa-check-square-o"></i>
                            Con un único Mediador especializado en la temática convocante, con la posibilidad de que en caso de llegarse a un acuerdo se lo homologue judicialmente para así dar un respaldo de certidumbre temporal y fáctica. Esta tipo de Mediación no requiere que los Conflictuados sean acompañados por Profesionales.
                        </li>
						<li>
                            <i class="fa fa-check-square-o"></i>
                            Desarrollar una Mediación Privada en conjunto con un Mediador Especializado y otro inscripto en el registro de la Dirección de Promoción de Métodos Participativos de Justicia, del citado Ministerio, que lo único que agrega es que en caso de no llegarse a un acuerdo en la instancia de Mediación es evitar la Mediación prejudicial establecida por la mencionada Ley en su artículo 1º (último párrafo). Esta tipo de Mediación no requiere que los Conflictuados sean acompañados por Profesionales. También puede homologarse judicialmente.
                        </li>
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            Organizar una Mediación Prejudicial, con una lista de 8 Mediadores del Registro de la Ley 24.573 y que cualquiera de ellos lo acompañe un Mediador Especilizado. En este caso en caso de arribarse a un acuerdo el mismo tiene el valor de cosa juzgada y no requiere ser homologado en la justicia, y en caso de incumplimiento puede ser ejecutado como una sentencia judicial.
                        </li>
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            Dirigirse a la Cámara Judial del Fuero que corresponda y solicitar el sorteo de un Mediador, que tiene las mismas características del apartado precedente.
                        </li>
					</ul>
                </div>
			</div>
		</div>
	</section>
	<!-- Registro de mediadores y/o conciliadores section end-->
{% endblock %}
