{% extends 'base.html.twig' %}

{% block body %}
    <!-- registros profesionales section -->
	<section class="about-section spad pt-0">
		<div class="container">
			<div class="section-title text-center">
				<h3>REGISTROS</h3>
			</div>
            <div class="row">
				<div class="col-lg-12 about-text">
                    <p>El IANCA posee los siguientes registros profesionales:
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Negociadores
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Mediadores / Conciliadores
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Árbitros
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Consejeros
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Oficiales de "Probation"
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Seguridad Personal
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Negociadores de Crisis
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Usurólogos
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Experticia
                            </li>
                        </ul>
                    </p>
                    <p>El Comité de Evaluación para los Registros Profesionales del IANCA está conformado por los Doctores:
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Julio Jorge Contuci
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Ignacio Hervé Echavarría
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Miguel Ángel Martín
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Rosa Ana Martínez de Metti
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                María de los Ángeles Vecchiarelli
                            </li>
                        </ul>
                    </p>
                    <p>Para la inscripción en el Registro Profesional del IANCA los aspirantes a ingresar y aquellos registrados que requieren una reevaluación de su categorización o calificación deben cumplimentar el formulario "Solicitud de Inscripción en el Registro".</p>
                    <p>El Reglamento "Registro Profesional" o el "Negociadores de Crisis".</p>
                    <p><b>Recomendación para la presentación de la documentación para la evaluación</b>
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Para las reevaluaciones o la actualización anual los aspirantes solamente deberán agregar la documentación e información que no haya sido integrada a evaluaciones previamente presentadas.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Para la acreditación de horas en actividades desarrolladas en labores que no tienen documentación concreta las mismas pueden ser presentadas en el formulario "Parte de Dedicación". Los tiempos de las tareas volcadas al "Parte de Dedicación" deben estar acreditadas ante la persona que controla las mismas, dejando expresa constancia de haber desarrollado l control de su cumplimiento.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Las tareas desarrolladas en investigaciones u otras funciones pueden documentarse con los informes impresos o grabados.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Para contribuir a un mejor cómputo de los créditos a cada uno de los distintos tipos de Registros Profesionales, el aspirante deberá indicar sobre el margen derecho de sus Antecedentes Personales y Profesionales una columna por cada uno de los registros a los que aspire a ingresar o a ser recalificado, colocando una letra:
                                <ul class="about-list" style="margin-left:20px">
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        "A" para el Registro de Arbitraje
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        "M" para el Registro de Mediación y/o Conciliación
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        "N" para el Registro de Negociación
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        "P" para el Registro de "Probation"
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        "S" para el Registro de Seguridad Personal
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        "U" para el Registro de Usurología
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        "C" para el registro de Negociadores de Crisis
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                En las columnas mencionadas en el punto anterior deberá indicarse la característica de la actividad o logro que se pretende computar en la evaluación indicando con una letra, a la altura del primer renglón de la descripción del ítem, para cada uno de los registros si se trata de una relación:
                                <ul class="about-list" style="margin-left:20px">
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        "E" para una actividad específica y directamente relacionada con el Registro al que se aspira computar.
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                         "A" para una actividad afín o indirectamente relacionada con el Registro al que se aspira computar.
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        "G" para una actividad general no específica, no afín ni indirectamente relacionada con el Registro al que se aspira computar.
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                A los fines de facilitar la evaluación la cantidad de créditos deben estar expresados en unidades y centesimales.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Las horas de distintos tipos (por ejemplo las horas cátedra de 40 minutos equivalen a 0,66 hora, las de 45 minutos equivalen a 0,75 hora) deben estar transformadas a horas reloj en centesimales para facilitar su cómputo.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Es conveniente que se resalten o subrayen los títulos de las actividades y las cifras para ser computadas como créditos.
                            </li>
                        </ul>
                    </p>
                    <p><b>Costos del Registro:</b>
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Inscripción inicial a registros: $200,= por cada uno de los mismos.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Reevaluación en los registros: $100.= por cada uno de los mismos.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Mantenimiento anual y control de créditos anuales por todos los registros (sin reclasificación o reevaluación del aspirante): $150,= por año calendario.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Carné Profesional (original, duplicado o actualización): $150.= por cada año calendario.
                            </li>
                        </ul>
                    </p>
                </div>
			</div>
		</div>
	</section>
	<!-- registros profesionales section end-->
{% endblock %}
