{% extends 'base.html.twig' %}

{% block body %}
    <!-- Resolucion section -->
	<section class="about-section spad pt-0">
		<div class="container">
            <div class="row">
				<div class="col-lg-16 about-text">
                    <img src="{{ asset('img/mjsydh.gif') }}" alt="">
                    <p align="right">Buenos Aires, 27 de diciembre de 2002</p>
                    <p>VISTO el Expediente Nº 135.243/02 del Registro de este Ministerio y CONSIDERANDO:</p>
                    <p>Que el Artículo 16 de la Ley N º 24.573 establece los requerimientos para ingresar en el Registro de Mediadores.</p>
                    <p>Que el Inciso 2º del Artículo 16 del Anexo I del Decreto Nº 91/98 reglamenta los requerimientos de ingreso en el Registro de Mediadores, entendidos como instancias de capacitación y evaluación cuya ejecución se delega en el organismo competente del MINISTERIO DE JUSTICIA, hoy MINISTERIO DE JUSTICIA, SEGURIDAD y DERECHOS HUMANOS.</p>
                    <p>Que tales requerimientos fueron pautados por los Artículos 2º, 4º, 7º y 8º, por el Anexo II de la Resolución M. J. Nº 284 del 17 de julio de 1998 y por la Resolución M. J. y D. H. Nº 729 del 25 de julio de 2000.</p>
                    <p>Que la experiencia obtenida en la implementación y ejecución del Anexo II de la Resolución M. J. Nº 284 del 17 de abril de 1998 hace necesario reformular los requerimientos establecidos para la instancia de evaluación de idoneidad de aspirantes a ingresar al Registro de Mediadores creado por la Ley N º 24.573.</p>
                    <p>Que resulta imprescindible especificar las diferentes instancias, escala de calificación y criterios de evaluación que sustentan la instancia de evaluación de idoneidad que establece el Artículo 16 Anexo I del Decreto Nº 91/98 para la inscripción en el Registro de Mediadores, así como también las fechas en las que se realizarán y las limitaciones éticas que deberán respetar los integrantes del comité de evaluación.</p>
                    <p>Que se han recogido y compatibilizado con la presente las precisiones referidas a la evaluación de idoneidad contenidas en la Resolución M. J. y D. H. Nº 729 del 25 de julio de 2000.</p>
                    <p>Que la DIRECCIÓN GENERAL DE ASUNTOS JURIDICOS ha tomado la intervención que le compete.</p>
                    <p>Que la presente medida se dicta en uso de las facultades conferidas por los artículos 15, 16 y 17 de la Ley N º 24.573, por el artículo 3º del Decreto Nº 91/98, el artículo 16, inciso 2º, del Anexo I del Decreto Nº 91/98. Por ello,</p>
                    <p align="center">EL MINISTRO DE JUSTICIA, SEGURIDAD Y DERECHOS HUMANOS RESUELVE:</p>
                    <p>ARTICULO 1º- Establécense las instancias de evaluación que deberán aprobar los aspirantes a ingresar al Registro de Mediadores de la Ley N º 24.573, sus etapas, propósitos, instrumentos, escala de calificación y criterios de evaluación, que como Anexo I forma parte de la presente Resolución.</p>
                    <p>ARTICULO 2º- Apruébase la estructura del Plan de Estudios de Formación inicial para aspirantes a mediadores de la Ley N º 24. 573, sus instancias, programas, carga horaria mínima y bibliografía recomendada, que como Anexo II forma parte de la presente Resolución.</p>
                    <p>ARTICULO 3º- Los aspirantes a ingresar en el Registro de Mediadores, conforme lo dispuesto por el Artículo 16 de la Ley N º 24.573 y el Artículo 16 del Anexo I del Decreto Nº 91/98, deberán acreditar tres años de ejercicio profesional contado a partir de la fecha de matriculación en un Colegio de Abogados Nacional.</p>
                    <p>ARTICULO 4º- Las pruebas de evaluación exigidas serán tomadas durante los meses de mayo y octubre de cada año. Los aspirantes a ingresar al Registro de Mediadores podrán presentar durante todo el año al organismo de aplicación, la documentación exigida por las normas vigentes. Quienes se inscriban hasta el último día hábil del mes de abril serán examinados en el mes de mayo y quienes lo hagan hasta el último día hábil de setiembre serán examinados en el mes de octubre.</p>
                    <p>ARTICULO 5º- Los aspirantes a ingresar en el Registro de Mediadores, conforme lo dispuesto por el Artículo Nº 16 de la Ley N º 24.573 y el Artículo 16 del Anexo I del Decreto Nº 91/98, deberán acreditar un certificado de curso introductorio a la mediación, un entrenamiento en mediación y una pasantía en mediación, emitidos por: el MINISTERIO DE JUSTICIA a través de la entonces DIRECCIÓN NACIONAL DE EXTENSIÓN JURIDICA entre el 1º de julio de 1994 y el 31 de diciembre de 1997, entidades cuyos programas fueron reconocidos en calidad de equivalentes a los de esa Dirección entre el 2 de enero de 1997 y el 28 de febrero de 1998, entidades habilitadas en el Registro de Instituciones Formadoras en Mediación cuyos programas fueron aprobados en el marco del Anexo I de la Resolución M. J. Nº 284/98, la entonces DIRECCION NACIONAL DE MEDIOS ALTERNATIVOS DE RESOLUCIÓN DE CONFLICTOS entre el mes de enero de 1998 y el 31 de diciembre de 1999 y aquéllos que emita la DIRECCIÓN NACIONAL DE PROMOCION DE METODOS PARTICIPATIVOS DE JUSTICIA u organismo competente en la materia de este Ministerio, según los programas del plan de estudios de formación inicial que como Anexo II forman parte de la presente Resolución.</p>
                    <p>ARTICULO 6º- La convocatoria, gestión y corrección de las instancias de evaluación estará a cargo de la DIRECCIÓN NACIONAL DE PROMOCION DE METODOS PARTICIPATIVOS DE JUSTICIA u organismos competentes de este Ministerio.</p>
                    <p>ARTICULO 7º- Se asegurará el anonimato de las evaluaciones escritas, que sólo serán identificadas por un código y por el detalle de la institución o instituciones en las cuales el aspirante cursó su formación inicial. Las evaluaciones escritas y orales no podrán ser corregidas ni administradas por personal del MINISTERIO DE JUSTICIA, SEGURIDAD y DERECHOS HUMANOS, de planta permanente, transitoria o contratado, que al momento de la realización de la evaluación integren o hayan integrado el cuerpo docente de la institución o instituciones habilitadas en el Registro de Instituciones Formadoras en Mediación creado por el Anexo I de la Resolución M. J. Nº 284/98, o el cuerpo docente de la DIRECCIÓN NACIONAL DE PROMOCION DE METODOS PARTICIPATIVOS DE JUSTICIA, que hubiesen dictado cursos a aspirantes a ingresar el Registro de Mediadores en el marco de las acciones asignadas a esta dependencia por el Anexo II del Decreto Nº 624/00. Se podrá invitar a representantes de Colegios de Abogados Nacionales para participar con carácter honorario en cualquiera de las instancias de evaluación.</p>
                    <p>ARTICULO 8º- Aquellos aspirantes que obtuviesen la calificación "desaprobado" podrán solicitar revisión de sus evaluaciones por nota escrita, en un plazo no mayor a tres días hábiles desde la publicación de los resultados de aquéllas en una cartelera de este Ministerio. La comunicación de la revisión de las evaluaciones se realizará a través de un informe escrito al aspirante que lo hubiera solicitado, realizado por un evaluador diferente al primero.</p>
                    <p>ARTICULO 9º- Aquellos aspirantes que obtuviesen la calificación de "desaprobado" podrán presentarse a sucesivas fechas de evaluación a través de la presentación de la correspondiente solicitud.</p>
                    <p>ARTICULO 10º- Deróganse los Artículos 2º, 4º, 7º y el Anexo II de la Resolución M. J. Nº 284 del 17 de abril de 1998 y la Resolución M. J. y D. H. Nº 729 del 25 de julio de 2000.</p>
                    <p>ARTICULO 11º- Sustitúyase el ARTICULO 1º de la Resolución M. J. Nº 284/98 del 17 de abril de 1998, por el siguiente texto: "ARTICULO 1º- Apruébase el PROGRAMA DE EVALUACIÓN DE CALIDAD DE FORMACIÓN EN MEDIACIÓN, que contiene el Anexo I que forma parte de la presente Resolución".</p>
                    <p>ARTICULO 12º- Regístrese, comuníquese, publíquese, dése a la DIRECCIÓN NACIONAL DEL REGISTRO OFICIAL y archívese.</p>
                    <p><b>RESOLUCIÓN Nº 480</b></p>
                    <p><b>Dr. Juan José Álvarez</b></p>
                    <p><b>Ministro de Justicia, Seguridad y Derechos Humanos</b></p>
                    <br><br>
                    <h5 align="center">ANEXO I</h5>
                    <p><b>Instancias de evaluación de aspirantes a mediadores de Ley Nº 24.573</b></p>
                    <p><b>Etapa I: Antecedentes curriculares.</b></p>
                    <ul class="about-list" style="margin-left:20px">
						<li>
                            <i class="fa fa-check-square-o"></i>
                            Propósitos:
                            <ul class="about-list" style="margin-left:20px">
						        <li>
                                    <i class="fa fa-check"></i>
                                    Registrar los datos básicos de los profesionales aspirantes a ingresar al Registro de Mediadores.
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    Tomar conocimiento con la trayectoria profesional y académica del aspirante a ingresar en el Registro de Mediadores.
                                </li>
					        </ul>
                        </li>
						<li>
                            <i class="fa fa-check-square-o"></i>
                            Instrumentos: formulario de información curricular, obligatorio y con carácter de declaración jurada. Formulario de antecedentes curriculares, optativo y con carácter ampliatorio.
                        </li>
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            Metodología: ambos formularios podrán ser completados en el momento de la presentación de la totalidad de la documentación reglamentaria o retirados con anticipación.
                        </li>
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            Los antecedentes curriculares consignados a través del formulario de información curricular obligatorio y el formulario de antecedentes curriculares tienen sólo carácter informativo y para constituir el legajo del aspirante. Los mismos no serán evaluados con un puntaje ya que no influyen necesariamente en el perfil del mediador considerado idóneo para el desempeño en el ámbito prejudicial.
                        </li>
					</ul>
                    <br>
                    <p><b>Etapa II: Evaluación escrita.</b></p>
                    <p>Propósitos:</p>
                    <ul class="about-list" style="margin-left:20px">
						<li>
                            <i class="fa fa-check-square-o"></i>
                            Determinar el nivel de conocimiento del procedimiento de la mediación, de sus fundamentos conceptuales y de las normas que regulan su funcionamiento y ejercicio.
                        </li>
						<li>
                            <i class="fa fa-check-square-o"></i>
                            Determinar la capacidad para elaborar un programa de intervención en una mediación prejudicial desde el rol de mediador.
                        </li>
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            Determinar la capacidad de analizar situaciones posibles dentro del proceso de una mediación, valorar cursos de acción viables y proponer soluciones factibles con adecuado nivel de fundamentación legal y procedimental.
                        </li>
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            Instrumento de evaluación: Casos de mediación.
                        </li>
						<li>
                            <i class="fa fa-check-square-o"></i>
                            Metodología: Análisis de casos. Los mismos con sus respectivas consignas serán entregados en el mismo momento de la evaluación.
                        </li>
						<li>
                            <i class="fa fa-check-square-o"></i>
                            Escala de calificación: de 1 a 10. Aprobado con un mínimo de 6 ( seis) puntos, desaprobado con menos de 6 ( seis). La aprobación de esta prueba es un requisito para el acceso a la instancia oral.
                        </li>
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            Criterios de evaluación: se fundamentan en el perfil de mediador considerado idóneo para su desempeño en el ámbito prejudicial: se considerará aprobada la evaluación de un aspirante cuya producción escrita evidencie:
                        </li>
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            Conocimiento de las normas vigentes aplicables al caso.
                        </li>
						<li>
                            <i class="fa fa-check-square-o"></i>
                            Capacidad para identificar y describir fundamentadamente las características del proceso de la mediación, la utilización de los recursos según lo requiera el proceso, las herramientas e intervenciones del mediador en el caso planteado ( parafraseo, utilización de sesiones privadas, detección de posiciones e intereses, confección de agenda y manejo de temas sustanciales, manejo del diálogo y de las intervenciones para replantear el conflicto, elaborar opciones y formular acuerdos).
                        </li>
						<li>
                            <i class="fa fa-check-square-o"></i>
                            Capacidad de analizar el problema desde el rol del mediador y de elaborar un plan estratégico para mediar en el caso planteado.
                        </li>
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            Conocimiento de estrategias comunicacionales pertinentes para: neutralizar cargas emocionales, formular preguntas que permitan indagar intereses y necesidades, obtener información, promover la comunicación entre las partes o a través del mediador, intervenir para hacer agente de la realidad y replantear adecuadamente el motivo del conflicto.

                        </li>
					</ul>
                    <br>
                    <p><b>Etapa III: Evaluación oral.</b></p>
                    <p>Propósitos:</p>
                    <ul class="about-list" style="margin-left:20px">
						<li>
                            <i class="fa fa-check-square-o"></i>
                            Determinar la capacidad para exponer claramente los componentes involucrados en una situación de mediación.
                        </li>
						<li>
                            <i class="fa fa-check-square-o"></i>
                            Determinar la capacidad de explicar el análisis de una situación fundamentando cada aspecto del análisis.
                        </li>
						<li>
                            <i class="fa fa-check-square-o"></i>
                            Indagar la capacidad para comunicarse con diferentes códigos verbales y no verbales.
                        </li>
						<li>
                            <i class="fa fa-check-square-o"></i>
                            Instrumento de evaluación: entrevista oral individual, con una duración máxima de 60 minutos.
                        </li>
						<li>
                            <i class="fa fa-check-square-o"></i>
                            Metodología: una vez aprobada la prueba escrita, el aspirante podrá contar la fotocopia del caso o casos analizados en esa instancia, cuyo análisis expondrá en la entrevista y a partir del cual se le formularán preguntas.
                        </li>
						<li>
                            <i class="fa fa-check-square-o"></i>
                            Escala de calificación: 1 a 10, aprobado con 6 (seis) puntos y desaprobado con menos de 6 ( seis).
                        </li>
						<li>
                            <i class="fa fa-check-square-o"></i>
                            Criterios de evaluación: se fundamentan en el perfil de mediador considerado idóneo para su desempeño en el ámbito pre-judicial: se considerará aprobada la entrevista de un aspirante cuya evaluación evidencie:
                            <ul class="about-list" style="margin-left:20px">
						        <li>
                                    <i class="fa fa-check"></i>
                                    Capacidad para expresar claramente y en forma sintética los diversos componentes involucrados en un caso de mediación ( problema, intereses y necesidades, posibles opciones, etc.)
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    Capacidad para explicar normas jurídicas en términos comprensibles para legos.
                                </li>
						        <li>
                                    <i class="fa fa-check"></i>
                                    Capacidad de utilizar los recursos comunicacionales para promover el diálogo.
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    Capacidad para evaluar cambios viables en la solución de problemas.
                                </li>
					        </ul>
                        </li>
                    </ul>
                    <br><br>
                    <h5 align="center">ANEXO II</h5>
                    <p><b>Plan de Estudios de Formación inicial para aspirantes a mediadores de la Ley N º 24 573</b></p>
                    <p><b>Primera instancia: Curso Introductorio a la mediación</b></p>
                    <p>Programa</p>
                    <p>Objetivos:</p>
                    <ul class="about-list" style="margin-left:20px">
						<li>
                            <i class="fa fa-check-square-o"></i>
                            Conocer las ventajas y diferencias de la mediación en relación con otros métodos de resolución de disputas.
                        </li>
						<li>
                            <i class="fa fa-check-square-o"></i>
                            Conocer las características de la mediación y la pertinencia de su utilización según el tipo de conflicto.
                        </li>
						<li>
                            <i class="fa fa-check-square-o"></i>
                            Conocer la estructura del procedimiento de la mediación.
                        </li>
						<li>
                            <i class="fa fa-check-square-o"></i>
                            Conocer la dinámica del procedimiento.
                        </li>
						<li>
                            <i class="fa fa-check-square-o"></i>
                            Conocer el rol del mediador en cada una de las etapas del procedimiento y las cualidades necesarias para una adecuado desempeño del rol.
                        </li>
                    </ul>
                    <br>
                    <p>Contenidos:</p>
                    <ul class="about-list" style="margin-left:20px">
						<li>
                            <i class="fa fa-check-square-o"></i>
                            Métodos de resolución de conflictos, adversariales y no adversariales. Ubicación de la mediación en el continuo de los métodos de resolución de conflictos. Concepto de mediación. Pertinencia de su utilización.
                        </li>
						<li>
                            <i class="fa fa-check-square-o"></i>
                            Teoría del conflicto. Diferentes campos de abordaje. Conflictos mediables y no mediables. Necesidades subyacentes, posición, interés. Rol del mediador en los conflictos mediables. Aspectos éticos.
                        </li>
						<li>
                            <i class="fa fa-check-square-o"></i>
                            Teoría de la negociación. Diferentes modelos de negociación. La negociación colaborativa como fundamento de la mediación. Concepto de M. A. A. N.
                        </li>
						<li>
                            <i class="fa fa-check-square-o"></i>
                            Teoría de la comunicación: teoría de Paul Watzlawick, el modelo de Barnett Pearce, el modelo circular narrativo de Sara Cobb. La comunicación en la mediación: habilidades y técnicas para parafrasear, reformular, interrogar, facilitar la comunicación entre las partes.
                        </li>
						<li>
                            <i class="fa fa-check-square-o"></i>
                            Características de la mediación: cooperación, neutralidad y confidencialidad. Técnicas del mediador: el replanteo, el torbellino de ideas, etcétera.
                        </li>
						<li>
                            <i class="fa fa-check-square-o"></i>
                            Estructura del procedimiento de la mediación: sesiones conjuntas y privadas. Técnicas requeridas para cada etapa.
                        </li>
						<li>
                            <i class="fa fa-check-square-o"></i>
                            Aspectos legales de la mediación: la Ley N º 24 573 de Mediación y Conciliación y Decreto 91/98. Leyes provinciales de mediación. Compatibilidades entre el ámbito nacional y provincial.
                        </li>
                    </ul>
                    <p>Carga horaria mínima: 20 horas de 60 minutos.</p>
                    <br>
                    <p><b>Segunda instancia: Entrenamiento en mediación.</b></p>
                    <p>Objetivos:</p>
                    <ul class="about-list" style="margin-left:20px">
						<li>
                            <i class="fa fa-check-square-o"></i>
                            Aprehender las habilidades y técnicas necesarias para el desempeño idóneo del rol del mediador.
                        </li>
						<li>
                            <i class="fa fa-check-square-o"></i>
                            Desarrollar estrategias para desempeñarse en el proceso de mediación prejudicial, según las etapas propias del mismo.
                        </li>
						<li>
                            <i class="fa fa-check-square-o"></i>
                            Desarrollar las actitudes necesarias para el ejercicio de la mediación.
                        </li>
                    </ul>
                    <br>
                    <p>Contenidos:</p>
                    <ul class="about-list" style="margin-left:20px">
						<li>
                            <i class="fa fa-check-square-o"></i>
                            Información previa. Convocatoria a la mediación. Creación del escenario: contacto visual y auditivo, clima propiciatorio para el diálogo. Actitud del mediador. Agenda del mediador. Legitimación del rol del mediador. La confidencialidad.
                        </li>
						<li>
                            <i class="fa fa-check-square-o"></i>
                            Presentación de las partes y del mediador. El discurso de apertura: explicación del método, características, explicación de las reglas de funcionamiento y comportamiento durante la mediación.
                        </li>
						<li>
                            <i class="fa fa-check-square-o"></i>
                            El relato de las partes: diferenciar posiciones de intereses y necesidades. El parafraseo. La escucha activa y la neutralidad.
                        </li>
						<li>
                            <i class="fa fa-check-square-o"></i>
                            La exploración de los intereses de las partes. Técnicas de búsqueda de información. La toma de notas. El interrogatorio. El uso de preguntas abiertas.. Estilos de comportamiento del mediador.
                        </li>
						<li>
                            <i class="fa fa-check-square-o"></i>
                            Legitimación relacional: connotación positiva, reconocimiento, "empowerment".
                        </li>
						<li>
                            <i class="fa fa-check-square-o"></i>
                            Las sesiones privadas. El replanteo. El uso de preguntas cerradas, coercitivas, circulares y facilitadoras.
                        </li>
						<li>
                            <i class="fa fa-check-square-o"></i>
                            Generación de opciones: técnicas. "Abogado del diablo" (o "Agente de la ralidad"), "Torbellino de ideas", "Ponerse en los zapatos del otro". Las diferentes propuestas. Estándares objetivos. Filtros objetivos y personales.
                        </li>
						<li>
                            <i class="fa fa-check-square-o"></i>
                            El acuerdo: contenido y forma. Tipos de acuerdo: de fondo, de procedimiento, parciales y totales. Homologación de acuerdos.
                        </li>
						<li>
                            <i class="fa fa-check-square-o"></i>
                            Aspectos procesales de la mediación obligatoria. Rol de los abogados de parte en la mediación. La mediación pública y privada según el Decreto 91/98. La mediación y sus ámbitos de aplicación (mediación patrimonial, familiar, etcétera).
                        </li>
                    </ul>
                    <p>Carga horaria mínima: 20 horas de 60 minutos.</p>
                    <br>
                    <p><b>Tercera instancia: Pasantía en Mediación.</b></p>
                    <p>Objetivos:</p>
                    <ul class="about-list" style="margin-left:20px">
						<li>
                            <i class="fa fa-check-square-o"></i>
                            Articular los conocimientos teóricos con las estrategias de desempeño para el rol del mediador, dentro del campo de acción real de la mediación en el ámbito pre-judicial.
                        </li>
						<li>
                            <i class="fa fa-check-square-o"></i>
                            Observar mediaciones reales y reflexionar sobre ellas a fin de elaborar modelos de desempeño coherentes con el instituto de la mediación.
                        </li>
                    </ul>
                    <br>
                    <p>Contenidos:</p>
                    <ul class="about-list" style="margin-left:20px">
						<li>
                            <i class="fa fa-check-square-o"></i>
                            Recepción de las partes, abogados de partes y/o terceros. Escenario y clima. Actitud del mediador.
                        </li>
						<li>
                            <i class="fa fa-check-square-o"></i>
                            Agenda del mediador. Legitimación del rol del mediador. La confidencialidad.
                        </li>
						<li>
                            <i class="fa fa-check-square-o"></i>
                            Presentación de las partes y del mediador. El discurso de apertura: contenido y forma. Actitud de las partes.
                        </li>
						<li>
                            <i class="fa fa-check-square-o"></i>
                            El relato de las partes: posiciones, intereses y necesidades. Tipo de conflicto involucrado. Aspectos legales. El parafraseo del mediador. Indicadores de escucha activa y la neutralidad.
                        </li>
						<li>
                            <i class="fa fa-check-square-o"></i>
                            La exploración de los intereses de las partes. Técnicas utilizadas por el mediador. El uso del interrogatorio. Estilos de comportamiento del mediador.
                        </li>
						<li>
                            <i class="fa fa-check-square-o"></i>
                            Legitimación relacional: connotación positiva, reconocimiento, "empowerment".
                        </li>
						<li>
                            <i class="fa fa-check-square-o"></i>
                            Las sesiones privadas. El replanteo.
                        </li>
						<li>
                            <i class="fa fa-check-square-o"></i>
                            Generación de opciones: técnicas. "Abogado del diablo", "Torbellino de ideas", "Ponerse en los zapatos del otro". Las diferentes propuestas. Estándares objetivos. Filtros objetivos y personales.
                        </li>
						<li>
                            <i class="fa fa-check-square-o"></i>
                            El acuerdo: contenido y forma. Tipos de acuerdo. Homologación de acuerdos.
                        </li>
						<li>
                            <i class="fa fa-check-square-o"></i>
                            Aspectos procesales de la mediación.
                        </li>
                    </ul>
                    <p>Carga horaria mínima: 20 horas de 60 minutos, distribuidas en dos instancias simultáneas: 10 horas de observación no participante de mediaciones reales en vivo y 10 horas de participación en talleres de reflexión dirigidos por un mediador-tutor.</p>
                    <br>
                </div>
			</div>
		</div>
	</section>
	<!-- Resolucion section end-->
{% endblock %}
