{% extends 'base.html.twig' %}

{% block body %}
    <!-- Administración del sitio section -->
	<div class="container services">
		<div class="section-title text-center">
			<h3>Administración de contenidos</h3>
		</div>
		<div class="row">
			<div class="col-lg-4 col-sm-6 service-item">
				<div class="service-icon">
					<img src="img/services-icons/4.png" alt="1">
				</div>
				<div class="service-content">
					<a href="{{ path('listado-cursos') }}"><h4>Cursos</h4></a>
					<p>Administración de cursos</p>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 service-item">
				<div class="service-icon">
					<img src="img/services-icons/2.png" alt="1">
				</div>
				<div class="service-content">
					<a href="{{ path('listado-publicaciones') }}"><h4>Publicaciones</h4></a>
					<p>Administración de publicaciones</p>
				</div>
			</div>
		</div>
	</div>
	<br><br><br>
	<!-- Administración del sitio section end -->
{% endblock %}
