{% extends 'base.html.twig' %}

{% block body %}
    <!-- Administración del sitio section -->
	<section class="about-section spad pt-0">
		<div class="container">
			<div class="section-title text-center">
				<h3>Administración de contenido</h3>
			</div>
		</div>
	</section>
	<!-- Administración del sitio section end-->
{% endblock %}
