{% extends 'base.html.twig' %}

{% block body %}
    <!-- Editar curso section -->
	<div class="container services">
		<div class="section-title text-center">
			<h3>Edición de curso</h3>
		</div>
	</div>
	<br><br><br>
	<!-- Editar curso section end -->
{% endblock %}
