{% extends 'base.html.twig' %}

{% block body %}
    <!-- Editar publicaci贸n section -->
	<div class="container services">
		<div class="section-title text-center">
			<h3>Edici贸n de publicaci贸n</h3>
		</div>
	</div>
	<br><br><br>
	<!-- Editar publicaci贸n section end -->
{% endblock %}
