{% extends 'base.html.twig' %}

{% block body %}
    <!-- Listado de publicaciones section -->
	<div class="container services">
		<div class="section-title text-center">
			<h3>Administración de publicaciones</h3>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<a href="{{ path('editar-publicacion') }}"><button class="site-btn">Agregar</button></a>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-lg-12 about-text">
				<div style="overflow-x:auto;">
					<table border="1" cellspacing="2" cellpadding="5" style="font-family: 'Rubik', sans-serif;">
						<tr>
							<th style="background-color:LightGrey"> Obra </th>
							<th style="background-color:LightGrey"> Autores </th>
							<th style="background-color:LightGrey"> Activo </th>
							<th style="background-color:LightGrey"> Acciones </th>
						</tr>

						{% for publicacion in publicacionesArray %}
							<tr>
								<td>{{ publicacion.obra }}</td>
								<td>{{ publicacion.autores }}</td>
								<td>{% if publicacion.activo %}Sí{% else %}No{% endif %}</td>
								<td><a href="{{ path('editar-publicacion', {'id':publicacion.id}) }}">Editar</a></td>
							</tr>
						{% endfor %}

					</table>
				</div>
			</div>
		</div>
	</div>
	<br><br><br><br>
	<!-- Listado de publicaciones section end -->
{% endblock %}
