{% extends 'base.html.twig' %}

{% block body %}
    <!-- Listado de cursos section -->
	<div class="container services">
		<div class="section-title text-center">
			<h3>Listado de cursos</h3>
		</div>
	</div>
	<br><br><br>
	<!-- Listado de cursos section end -->
{% endblock %}
