{% extends 'base.html.twig' %}

{% block body %}
    <!-- Listado de publicaciones section -->
	<div class="container services">
		<div class="section-title text-center">
			<h3>Listado de publicaciones</h3>
		</div>
	</div>
	<br><br><br>
	<!-- Listado de publicaciones section end -->
{% endblock %}
