{% extends 'base.html.twig' %}

{% block body %}
    <!-- Preguntas Frecuentes en Consumo y Uso section -->
	<section class="about-section spad pt-0">
		<div class="container">
			<div class="section-title text-center">
				<h3>Preguntas Frecuentes en Consumo y Uso</h3>
			</div>
            <div class="row">
				<div class="col-lg-10 about-text">
                    <p>En esta sección Usted podrá encontrar muchas de las preguntas o consultas que habitualmente nos llegan al Instituto, a CONSAL - Consumidores Alerta o a las Cátedras sobre la temática.</p>
                    <p>
                        <table border="1" cellspacing="2" cellpadding="5" style="font-family: 'Rubik', sans-serif;">
                          <tr>
                            <th style="background-color:LightGrey">Nº</th>
                            <th style="background-color:LightGrey">Tipo</th>
                            <th style="background-color:LightGrey">Descripción</th>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">1</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Quiénes son consumidores y/o usuarios?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Las personas física o jurídicas que contraten, a título oneroso para su consumo final o beneficio propio o de su grupo familiar o social.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">2</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Los conflictos de consumidores y/o usuarios con proveedores y/o prestadores, cómo se pueden encarar?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Existen múltiples formas, que no necesariamente son excluyentes entre sí.<br><br>a) las primeras son de autocomposición entre los afectados, por ejemplo:
                        		<ul class="about-list" style="margin-left:20px">
                        			<li>
                        				<i class="fa fa-check-square-o"></i>
                        				Negociación entre involucrados,
                        			</li>
                        			<li>
                        				<i class="fa fa-check-square-o"></i>
                        				Mediación voluntaria entre los voluntarios.
                        			</li>
                        		</ul>
                        		<br>b) las segundas con participación de terceros:
                        		<ul class="about-list" style="margin-left:20px">
                        			<li>
                        				<i class="fa fa-check-square-o"></i>
                        				Consultas y acciones a través de una Asociación de Defensa del Consumidor<br>(Tal como es CONSAL - Consumidores Alerta).
                        			</li>
                        			<li>
                        				<i class="fa fa-check-square-o"></i>
                        				Mediación prejudicial obligatoria.
                        			</li>
                        			<li>
                        				<i class="fa fa-check-square-o"></i>
                        				Arbitraje Institucional, por ejemplo en el IANCA.
                        			</li>
                        			<li>
                        				<i class="fa fa-check-square-o"></i>
                        				Arbitraje de equidad en el SNAC - Servicio Nacional de Arbitraje de Consumo<br>de la Secretaría de Comercio de la Nación.
                        			</li>
                        			<li>
                        				<i class="fa fa-check-square-o"></i>
                        				Arbitraje en Tribunales de equidad 	jurisdiccionales.
                        			</li>
                        			<li>
                        				<i class="fa fa-check-square-o"></i>
                        				Defensorías del Pueblo jurisdiccionales.
                        			</li>
                        			<li>
                        				<i class="fa fa-check-square-o"></i>
                        				COPREC - Consumo Protegido (Conciliación, Auditoría y Justicia del consumo).
                        			</li>
                        		</ul>
                        	</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">3</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Dónde funciona el SNAC - Servicio Nacional de Arbitraje de Consumo y el COPREC - Consumo protegido)?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Avenida Julio A. Roca 651, Planta Baja, Sector 8 - Ciudad Autónoma de Buenos Aires<br>Código Postal (C1067ABB)<br>Teléfono(s): (011) 4349-4170/71/72/75<br>Fax: (011) 4349-4169<br>Correo electrónico <a href="mailto:snac@mecon.gov.ar">snac@mecon.gob.ar</a> y <a href="mailto:copre@mecom.gob.ar">copre@mecom.gob.ar</a><br>Horario de Atención: Lunes a Viernes de 9 a 17:00 horas</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">4</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Quiénes son responsables ante los consumidores y/o usuarios?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Son solidariamente responsables la totalidad de las empresas o personas de toda la cadena de producción y comercialización de los productos y/o servicios.<br><br>Debe determinarse igualmente a quien le corresponde la responsabilidad directa por el inconveniente por ser ese el responsable directo.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">5</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Existen resarcimiento por daños al consumidor o usuario?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">En los conflictos planteados ante organismos oficiales deben reconocerse los daños directos que tienen el consumidor y/o usuario ocasionados por el producto, la prestación y o los que se deriven de ello.<br><br>Los organismos administrativos limitan este resarcimiento hasta tres &quot;Canastas básicas de Hogar 3&quot;, que publica el INDEC. No obstante en los reclamos que pueden hacerse en la Justicia no existe límite alguno. Estos valores están publicados en nuestro sitio Web.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">6</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Los infractores en las relaciones de consumo tienen penalizaciones?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Los organismos administrativos jurisdiccionales pueden aplicar sanciones, que estarán reguladas en función de la gravedad de la acción y de lo reiterativo de las infracciones. Las puniciones son acumulativas y sus importes son muy importantes.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">7</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿La usura es un abuso hacia los usuarios de los servicios financieros?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Uno de los rubros más difundidos, y de alguna manera menos reclamado, en la cuestión de la usura financiera, que practican todos aquellos que brindan alguna manera de créditos (entidades financieras, ventas a crédito, prestamistas, etcétera).<br><br>Para una mayo información recomendamos ver en este mismo sitio y sección la parte referida a la usura financiera.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">8</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Los servicios públicos domiciliarios están comprendidos en la defensa del consumidor?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Los servicios públicos domiciliarios están incluidos en la normativa de las interrelaciones entre usuarios y prestadores, por lo que pueden emplearse todos los organismos jurisdiccionales y nacionales que abordan esta temática (oficinas de Defensa del Consumidor).<br><br>Estos tipos de reclamos se pueden hacer también en los respectivos entes reguladores de cada uno de los servicios domiciliarios, como así en el ámbito judicial.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">9</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Es obligatorio que los proveedores y/o prestadores se presenten en las oficinas públicas a responder los reclamos de los consumidores y/o usuarios?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Definitivamente Sí. Ellos deben responder por los reclamos y los organismos oficiales están obligados a tramitar nuestras quejas ante los prestadores y/o proveedores y también en el caso de no llegarse a una resolución adecuada pueden sancionar a los infractores.<br><br>El procedimiento de Arbitraje, es voluntario, pero en el caso que los proveedores y/o prestadores no deseen ir a Arbitraje, el proceso pasa automáticamente a la oficina de Defensa del Consumidor jurisdiccional que requiera el usuario o consumidor.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">10</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Qué se necesita para poder iniciar un reclamo?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">En realidad todo comprobante que acredite la relación es lo que permite documentar el trámite de reclamación (correo electrónico, boleta de compraventa, certificado de garantía, factura, contrato de cualquier tipo, boleto de medio de transporte, etcétera).<br><br>Igualmente de no existir ningún comprobante, si el prestador o proveedor acepta el reclamo lo del comprobante queda en un segundo plano y el trámite puede prosperar igualmente, ya que existe una aceptación voluntaria del mismo.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">11</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Cómo debe darse de baja una prestación o servicio?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Los servicios deben darse de baja de la misma manera en que fueron dados de alta, vale decir si la contratación fue telefónica puede darse de baja de la misma forma. Es decir si para contratar vale esa forma también lo vale a rescindir del contrato.<br><br>Las empresas no pueden imponer trámites engorrosos que desalientes a los consumidores y/o usuarios a descontinuar la relación. Deben ser similares en ambos casos.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">12</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Es menester la asistencia de profesionales para presentar los trámites de reclamación?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Definitivamente NO. No es necesario que los trámites se hagan con la colaboración de ningún tipo de profesional, en realidad los mismos son muy simples y además los organismos públicos dan un apropiados apoyo a los usuarios y/o consumidores.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">13</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Los contratos entre usuarios o consumidores con los prestadores o proveedores, deben aplicarse inexorablemente tal cual han sido firmados?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">En principio los contratos son para cumplirse, pero en las relaciones de consumo muchos de los acuerdos firmados son impuestos a los usuarios o consumidores, por medio de lo que se denominan contratos de adhesión, cuyas cláusulas pueden ser abusivas.<br><br>Esas cláusulas son ineficaces (nulas) cuando:
                        		<ul class="about-list" style="margin-left:20px">
                        			<li>
                        				<i class="fa fa-check-square-o"></i>
                        				desnaturalizan las obligaciones,
                        			</li>
                        			<li>
                        				<i class="fa fa-check-square-o"></i>
                        				limitan la responsabilidad de daños,
                        			</li>
                        			<li>
                        				<i class="fa fa-check-square-o"></i>
                        				impongan la renuncia o restrinjan los derechos del usuario o consumidor, o magnifiquen los del prestador o proveedor,
                        			</li>
                        			<li>
                        				<i class="fa fa-check-square-o"></i>
                        				impongan la carga de la prueba al usuario o consumidor.
                        			</li>
                        		</ul>
                        		<br>Siempre se interpretará de la forma más favorable al consumidor y/o usuario.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">14</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿El usuario y/o consumidor debe ser debidamente informado?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Es obligación del proveedor o prestador suministrar al consumidor y/o usuario, en forma clara, cierta y detallada todo lo relacionado con las características esenciales de los bienes y servicios que provee, y las condiciones de su comercialización.<br><br>La experticia siempre la tiene el proveedor o prestador.<br><br>La información debe ser gratuita y en idioma castellano para productos nacionales e importados.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">15</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Qué pasa si el consumidor y/o usuario hace denuncias maliciosas?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Aquellos que presenten reclamos maliciosos o sin justa causa ante cualquier autoridad de aplicación serán apercibidos o multados.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">16</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Cómo puede accionar el consumidor y/o usuario?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Los consumidores o usuarios pueden tomar acción:
                        		<ul class="about-list" style="margin-left:20px">
                        			<li>
                        				<i class="fa fa-check-square-o"></i>
                        				por sí mismos,
                        			</li>
                        			<li>
                        				<i class="fa fa-check-square-o"></i>
                        				por Asociaciones de Defensa del Consumidor.
                        			</li>
                        		</ul>
                        	</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">17</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Las acciones son individuales o colectivas?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Las causas que se tramiten en defensa de intereses de incidencia colectiva deben hacerse a través de Asociaciones de Consumidores o usuarios autorizadas.<br><br>Para las acciones individuales los usuarios y/o consumidores pueden actuar por sí mismos o por medio de terceros autorizados (Asociaciones de Consumidores, apoderados, autorizados, etcétera)</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">18</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿la publicidad es tenida en cuenta como condiciones de lo acordado?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Las precisiones formuladas en la publicidad o en anuncios, prospectos, circulares, Internet u otros medios de difusión obligan al oferente y se tienen por incluídas en el contrato.</td>
                          </tr>
                          <tr¿>
                            <td width="5%" rowspan="2">19</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿El trato al usuario y/o consumidor debe ser apropiado?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Los proveedores y/o prestadores deberán garantizar condiciones de atención y trato digno y equitativo a los consumidores y usuarios.<br><br>Deberán de abstenerse de desplegar conductas que coloquen a los consumidores en situaciones vergonzantes, vejatorias o intimidatorias.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">20</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Los reclamos de deudas extrajudiciales son válidos?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Las empresas proveedoras y/o prestadoras  tienen derecho a reclamar las cuestiones que a derecho realmente le correspondan, pero cuando esas reclamaciones por deudas son extrajudiciales deben de abstenerse de usar cualquier medio que le otorgue apariencia de reclamo judicial. </td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">21</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%"> ¿Una vez adquirido un bien debe asegurarse su posterior funcionamiento?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Efectivamente, los fabricantes, vendedores e importadores deben asegurar un servicio técnico adecuado y el suministro de partes y repuestos.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">22</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Los productos tienen garantía?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Los certificados de garantía deben ser por escrito, en idioma castellano, redactados de manera de fácil comprensión y en letra legible, conteniendo como mínimo:
                        		<ul class="about-list" style="margin-left:20px">
                        			<li>
                        				<i class="fa fa-check-square-o"></i>
                        				Identificación de vendedor, fabricante, importador y/o distribuidor,
                        			</li>
                        			<li>
                        				<i class="fa fa-check-square-o"></i>
                        				Identificación de la cosa, con sus espoecificaciones técnicas necesarias para su correcta individualización,
                        			</li>
                        			<li>
                        				<i class="fa fa-check-square-o"></i>
                        				Condiciones de uso, instalación y mantenimiento necesarias para su funcionamiento,
                        			</li>
                        			<li>
                        				<i class="fa fa-check-square-o"></i>
                        				Las condiciones de validez de la garantía y su plazo de extensión,
                        			</li>
                        			<li>
                        				<i class="fa fa-check-square-o"></i>
                        				Las condiciones de reparación de la cosa con especificación del lugar donde se hará efectiva.
                        			</li>
                        		</ul>
                        	</td>
                          </tr>
                          <tr¿>
                            <td width="5%" rowspan="2">23</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Cuándo la cosa va a repararse, qué pasa con el plazo de garantía?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">El tiempo durante el cual el consumidor está privado del uso de la cosa en garantía, por cualquier causa con su reparación, debe computarse como prolongación del plazo de garantía legal.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">24</b></td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Existe un límite para plantear causas en el COPREC?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Si de 55 Salarios mínimos vitales y móviles</td>
                          </tr>
                        </table>
                    </p>
                </div>
			</div>
		</div>
	</section>
	<!-- Preguntas Frecuentes en Consumo y Uso section end-->
{% endblock %}
