{% extends 'base.html.twig' %}

{% block body %}
    <!-- Preguntas Frecuentes en Mediación y Conciliación section -->
	<section class="about-section spad pt-0">
		<div class="container">
			<div class="section-title text-center">
				<h3>Preguntas Frecuentes en Mediación y Conciliación</h3>
			</div>
            <div class="row">
				<div class="col-lg-10 about-text">
                    <p>En esta sección Usted podrá encontrar muchas de las preguntas o consultas que habitualmente nos llegan al Instituto o a las Cátedras sobre la temática.</p>
                    <p>
                        <table border="1" cellspacing="2" cellpadding="5" style="font-family: 'Rubik', sans-serif;">
                          <tr>
                            <th style="background-color:LightGrey">Nº</th>
                            <th style="background-color:LightGrey">Tipo</th>
                            <th style="background-color:LightGrey">Descripción</th>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">1</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿La mediación y la conciliación son diferentes?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Desde el punto de vista técnico ambas son la misma tecnología, pero existen situaciones donde se las denomina de forma distinta para diferenciarlas en algunos procesos burocráticos.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">2</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿El mediador tiene algún poder sobre los conflictuados?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">No, el mediador es un tercero que simplemente contribuye a que los participantes puedan hacer un proceso de negociación sin conflicto.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">3</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Se puede obligar a que los conflictuados vayan a una mediación?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">En principio, la mediación es un proceso voluntario para los participantes, pero la Ley puede obligar a que las partes intenten iniciar una mediación o también sí en el contrato existe una cláusula compromisoria se está obligado. Lo que la Ley ni la cláusula compromisoria pueden obligar es a acordar a los participantes.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">4</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Cuál es el mejor comportamiento para un mediador?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">El comportamiento distante o racional, que le permite tener un mejor control del proceso de mediación.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">5</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Es lo mismo mediación qué negociación?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">No, en la negociación no existe un tercero que ayude a negociar o facilite el proceso, solamente están los participantes.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">6</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Por qué se le da tanta preeminencia a la confidencialidad en la mediación?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Por ser una aspecto central para poder plantear y analizar cuestiones que sí puede conocer el mediador, pero podría ser tácticamente inconveniente que lo conociese el otro.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">7</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Es obligatorio firmar un convenio de confidencialidad?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">No es obligatorio firmar un convenio de confidencialidad.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">8</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿El mediador está obligado a tener confidencialidad por lo tratado en el proceso de mediación?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">La Leyes Argentinas establecen la confidencialidad. Dentro de la mediación privada y voluntaria habitualmente las entidades lo tienen previsto en sus Códigos de Ética. Vale decir el mediador firme, o no, siempre está obligado a guardar reserva de lo tratado.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">9</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Quién elige al mediador en ala mediación privada?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Los participantes, pero sí estos no se ponen de acuerdo se sigue el reglamento de la entidad citada.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">10</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Cuál es una extensión adecuada para una reunión de mediación?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Dos horas es un término habitual en la práctica, pero los participantes son los que deben establecer previamente su duración.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">11</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Qué es CAUCUS?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Se denomina así a las reuniones parciales que se hacen por separado con alguno de los participantes.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">12</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Qué valor tiene lo acordado en una mediación privada?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">El valor de un contrato, pero además el mediador puede ser un testigo calificado del acuerdo dado que se desarrollo ante él.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">13</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Cuándo se finaliza la mediación?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Al acordar o cuando algunos de los participantes o el mediador lo decida.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">14</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Qué es el discurso inicial?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Se trata de la explicación que el mediador le brinda a los participantes sobre los detalles del proceso.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">15</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Los participantes tienen que llevar asesores a las reuniones de mediación privada?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Los participantes no están obligados a acudir con sus asesores, ello es facultativo.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">16</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Quién debe soportar el costo de la mediación?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">El pago del costo de la mediación debe acordarse entre los participantes, y si ellos no llegan a un acuerdo las normas institucionales deben resolverlo.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">17</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Qué es Med/Arb?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="80%">Se trata de una mediación, que para la eventualidad de no arribar a ningún acuerdo es sucedido por un arbitraje.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">18</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Es conveniente la comediación?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="80%">La comediación (más de un mediador) es importante en los casos de múltiples participantes, y en los casos complejos donde se requieren especialidades diferentes de mediadores.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">19</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Tiene alguna desventaja la comediación?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="80%">Sus mayores costos y la adecuada coordinación que requieren los mediadores.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">20</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Es conveniente que el mediador sean un especialista en la temática de la disputa?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="80%">Sí, dado que eso ahorra mucho tiempo de análisis y ayuda a trabajar soluciones conocidas.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">21</td>
                            <td width="10%">Pregunta</td>
                            <td width="80%">¿El medidor puede ser proactivo?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="80%">Sí, siempre que actúa en pro de todos los participantes, después de todo la decisión siempre está en manos de los participantes.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">22</td>
                            <td width="10%">Pregunta</td>
                            <td width="80%">¿Cuál es la preparación básica para ser considerado un Mediador?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="80%">Para poder ser Mediador es necesario completar el nivel básico que consiste en:
                        		<ul class="about-list" style="margin-left:20px">
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Curso Introductorio de Mediación (20 horas)
                        		    </li>
                        			<li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Curso teórico Práctico Avanzado de Mediación (60 horas)
                        		    </li>
                        			<li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Pasantías en Mediación (20 horas)
                        		    </li>
                        		</ul>
                            </td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">23</td>
                            <td width="10%">Pregunta</td>
                            <td width="80%">¿La mediación en casos penales es practicable?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="80%">En general, la mediación es aplicable a cualquier índole de conflictos, pero en los casos penales de libre disposición (injurias, calumnias, maltrato, etcétera) es perfectamente posible mediar.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">24</td>
                            <td width="10%">Pregunta</td>
                            <td width="80%">¿Es importante que el mediador conozca sobre el lenguaje corporal o analógico?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="80%">Sí, dado que tiene más lecturas para manejar el proceso.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">25</td>
                            <td width="10%">Pregunta</td>
                            <td width="80%">¿Cuándo resolvemos una situación por terciación?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="80%">Cuando una negociación no resulta satisfactoria al no poder acordarse se intenta resolver por medio de otros métodos: Mediación, Conciliación y Arbitraje.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">26</td>
                            <td width="10%">Pregunta</td>
                            <td width="80%">¿Cómo se relacionan Mediación con Negociación?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="80%">La mediación es una negociación asistida por un tercero neutral.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">27</td>
                            <td width="10%">Pregunta</td>
                            <td width="80%">¿Qué diferencia existe entre Mediación y Arbitraje?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="80%">
                        		<ul class="about-list" style="margin-left:20px">
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				La Mediación es un proceso en el que los participantes orientados por el mediador toman la decisión en el Acuerdo.
                        		    </li>
                        			<li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Mientras que en el Arbitraje es el árbitro quien decide en el Laudo o Sentencia.
                        		    </li>
                        		</ul>
                            </td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">28</td>
                            <td width="10%">Pregunta</td>
                            <td width="80%">¿Cuándo surge el conflicto?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="80%">Entre otras consideraciones, el conflicto surge ante una situación de incomunicación, diferencias de percepción, controversia entre los NIDOS e imposibilidad de llegar al acuerdo.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">29</td>
                            <td width="10%">Pregunta</td>
                            <td width="80%">¿Cómo podemos clasificar los tipos de sesiones que se abordan el proceso de mediación?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="80%">
                        		<ul class="about-list" style="margin-left:20px">
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Sesiones conjuntas inicial y continuadas.
                        		    </li>
                        			<li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Sesiones privadas o CAUCUS.
                        		    </li>
                        			<li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Sesión conjunta final.
                        		    </li>
                        		</ul>
                            </td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">30</td>
                            <td width="10%">Pregunta</td>
                            <td width="80%">¿Cuál es el convenio que debe respetarse al inicio de la Mediación?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="80%">El convenio de confidencialidad.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">31</td>
                            <td width="10%">Pregunta</td>
                            <td width="80%">¿En qué consiste dicho convenio?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="80%">En que los mediadores, participantes y otros asistentes a la audiencia de mediación deben tratar los temas "a puertas cerradas" sin exteriorizarlos fuera del ámbito en que se desarrolla el proceso, con impedimento al mediador de presentarse como testigo en futuros juicios.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">32</td>
                            <td width="10%">Pregunta</td>
                            <td width="80%">En una Negociación o Mediación Patrimonial con múltiples participantes ¿qué técnica se aplica para unificar los NIDOs?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="80%">En dichas situaciones desarrollamos una matriz de homogeneización, con variables e indicadores que contemplan a todos los participantes unificando la decisión.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">33</td>
                            <td width="10%">Pregunta</td>
                            <td width="80%">¿Cuáles son las técnicas de comunicación que se emplean en el proceso de mediación?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="80%">Entre otras "la escucha atenta o efectiva" y el Parafraseo.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">34</td>
                            <td width="10%">Pregunta</td>
                            <td width="80%">¿En qué proceso se resuelve el conflicto laboral previo al juicio?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="80%">En el proceso de Conciliación semejante a la mediación con algunas pautas organizadas por el Ministerio de Trabajo y Seguridad Social.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">35</td>
                            <td width="10%">Pregunta</td>
                            <td width="80%">¿Qué tipo de conflictos pueden resolverse con mediación?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="80%">Cualquier conflicto es susceptible de administrarse dentro de la mediación, aunque algunos son más efientes que en otros.</td>
                          </tr>
                          <tr >
                            <td width="5%" rowspan="2">36</td>
                            <td width="10%">Pregunta</td>
                            <td width="80%">¿Qué beneficios tiene la mediación?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="80%">
                        		<ul class="about-list" style="margin-left:20px">
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Celeridad de resolución
                        		    </li>
                        			<li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Cumplimiento voluntario
                        		    </li>
                        			<li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Confidencialidad
                        		    </li>
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Economía de proceso (tiempo y costo)
                        		    </li>
                        			<li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Mantenimiento de relaciones interpersonales
                        		    </li>
                        			<li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Flexibilidad
                        		    </li>
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Posibilidad de soluciones creativas
                        		    </li>
                        			<li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Decisión de los involucrados
                        		    </li>
                        		</ul>
                            </td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">37</td>
                            <td width="10%">Pregunta</td>
                            <td width="80%">¿Cómo puede hacerse cumplir un acuerdo en Mediación?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="80%">Si fue realizado dentro de la reglamentación del IANCA el mismo puede recurrirse ante la justicia para que efectúe el procedimiento de ejecución de sentencia en la jurisdicción donde se convino.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">38</td>
                            <td width="10%">Pregunta</td>
                            <td width="80%">¿Qué es Mediación Institucional?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="80%">Es la Mediación realizada bajo la reglamentación de una entidad dedicada a la misma y sus normas son como la ley para los participantes, dado que al seleccionarla también estan seleccionando a sus disposiciones.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">39</td>
                            <td width="10%">Pregunta</td>
                            <td width="80%">¿Qué es Mediación Voluntaria. Institucional o Compromisoria?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="80%">Es la Mediación que surge de un acuerdo previo o posterior al conflicto los participantes acuerdan realizarla subordinados a una entidad y a las normas de la entidad.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">40</td>
                            <td width="10%">Pregunta</td>
                            <td width="80%">¿Es ejecutable un acuerdo de Mediación o Conciliación?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="80%">En la Mediación y la Conciliación prejudicial obligatoria el mismo es ejecutable.<br><br>En la Mediación o Conciliación Voluntaria, Institucional y/o Compromisoria, también es ejecutable con el "Proceso de Ejecución de Sentencia", si los conflictuados así lo acordaron o si en la normativa a la que se sometieron así lo dispone, tal es el caso de nuestra entidad.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">41</td>
                            <td width="10%">Pregunta</td>
                            <td width="80%">¿Qué es Mediación Institucional?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="80%">Es la mediación y/o conciliación que se realiza dentro de una entidad que administra procesos de gestión de conflictos, o eventualmente aplicando la normativa de dicha institución.<br><br>El realizar este tipo de mediaciones y/o conciliaciones voluntarias, que implican aceptar la normativa institucional evita tener que fijar las pautas del proceso que ya están dispuestas por la organización especializada.<br><br>Una de las ventajas que tiene el IANCA, es que los acuerdos celebrados como mediaciones institucionales son títulos ejecutorios dispuestos por el Reglamento de Terciación, que al ser aceptados por las partes para a ser como la misma ley para ellos.</td>
                          </tr>
                        </table>
                    </p>
                </div>
			</div>
		</div>
	</section>
	<!-- Preguntas Frecuentes en Mediación y Conciliación section end-->
{% endblock %}
