{% extends 'base.html.twig' %}

{% block body %}
    <!-- Preguntas Frecuentes Negociacion section -->
	<section class="about-section spad pt-0">
		<div class="container">
			<div class="section-title text-center">
				<h3>Preguntas Frecuentes en Negociación</h3>
			</div>
            <div class="row">
				<div class="col-lg-10 about-text">
                    <p>En esta sección Usted podrá encontrar muchas de las preguntas o consultas que habitualmente nos llegan al Instituto o a las Cátedras sobre la temática.</p>
                    <p>
                        <table border="1" cellspacing="2" cellpadding="5" style="font-family: 'Rubik', sans-serif;">
                          <tr>
                            <th style="background-color:LightGrey">Nº</th>
                            <th style="background-color:LightGrey">Tipo</th>
                            <th style="background-color:LightGrey">Descripción</th>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">1</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Cualquiera puede ser un negociador?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">La técnica de la negociación puede ser estudiada sistemáticamente por cualquier persona.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">2</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Cuándo un participante tiene todo el poder tiene sentido negociar con él?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Sí, dado que si el que consideramos
                              poderoso no necesitara nada del débil no iría a negociar. Todos tenemos
                              siempre alguna cuota de poder aunque no tengamos conciencia de ello.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">3</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Qué es el poder dentro del proceso de negociación?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">El poder es la capacidad de influencia que tiene un participante sobre el otro. Principalmente está dado por la necesidad, el interés, el deseo y/o el objetivo que uno puede satisfacerle al otro.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">4</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Cuál es el mejor estilo para negociar?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">El mejor estilo para negociar es el colaborativo (juego GANA-GANA), sí todos los participantes lo emplean, sino debe usarse el estilo competitivo (juego GANA-PIERDE). Uno deben de adaptarse el estilo que aplique el otro.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">5</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Cuál es el comportamiento que mejor le resulta al proceso de negociación, el dominante, el distante o el dependiente?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">En general, la mejor forma de comportamiento es la del distante, que es quien tiene la conducta más racional.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">6</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Por qué se dice negociación racional e inteligente?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">La racionalidad de la negociación está en el uso de un comportamiento profesionalizado y meditado, con aplicación de la tecnología sistemática para operar y lo de inteligente por lo importante que es la aplicación de los principios de la inteligencia emocional.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">7</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Tiene algo que ver la comunicación en la negociación?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">La negociación es un proceso de
                              comunicación, es imposible negociar sin comunicación entre los
                              participantes.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">8</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Cuáles son los aspectos centrales de la negociación?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">La negociación tiene 6 pilares:
                        		<ul class="about-list" style="margin-left:20px">
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Poder: capacidad de influir sobre el otro participante
                        		    </li>
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Información: datos y sistemas de decisión
                        		    </li>
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Tiempo: disponibilidad para poder acordar
                        		    </li>
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Unidad: control del equipo y criterios uniformes
                        		    </li>
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Filosofía: Estilos y comportamientos
                        		    </li>
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Organización: preparación
                        		    </li>
                        		</ul>
                            </td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">9</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Es conveniente negociar solo o en equipo?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Debe analizarse su conveniencia, es una relación costo beneficio.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">10</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿La confidencialidad de lo tratado en el proceso de negociación es de utilidad?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">No es habitual que en los procesos de negociación se establezca específicamente la confidencialidad, pero en verdad la aplicación de la confidencialidad puede contribuir a facilitar y sincerar el proceso de negociación, tal como ocurre en la mediación.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">11</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Conviene intercambiar información en los procesos de negociación?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">En general, el suministrar información es de utilidad para poner límites y posibilitar la generación de valor genuino.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">12</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Por qué el Tiempo es tan importante en la negociación?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Simplemente, porque cuando no hay más tiempo no se puede seguir negociando, y únicamente sirve lo acordado hasta allí.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">13</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Cuál es el límite en una negociación?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Cuando se alcanza el nivel de otra alternativa.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">14</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Qué es necesario para que haya un acuerdo en la negociación?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Cuando la satisfacciones recibidas son mayores que los sacrificios?</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">15</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Qué es más importante para un negociador, la intuición, la experiencia, la formación o la actualización?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">La cuatro cuestiones son sumamente importantes tenerlas, de forma equilibrada.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">16</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Es importante conocer el lenguaje analógico en la negociación?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Sí, dado que permite tener una lectura más amplia de nuestros interlocutores y así consistencias la validez de su comunicación.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">17</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Es importante la confiabilidad en los negociadores?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Sí, es determinante y fundamental, dado que nadie negocia con personas en las que confía.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">18</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Cuáles son los aspectos centrales de la escuela de negociación Idealista?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">
                        		<ul class="about-list" style="margin-left:20px">
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Ilusión de poder llevar a ambos al juego GANA-GANA
                        		    </li>
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Confianza mutua
                        		    </li>
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Posibilidad de generar valor genuino
                        		    </li>
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Necesidad de tiempo para poder desarrollar el proceso negociador
                        		    </li>
                        		</ul>
                        	</td>
                          </tr>
                          <tr style="mso-yfti-irow:37">
                            <td width="5%" rowspan="2">19</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Cuáles son los aspectos centrales de la escuela de negociación Adaptativa?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">
                        		<ul class="about-list" style="margin-left:20px">
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Actuación condicionada por el accionar de los otros (GANA-GANA o GANA-PIERDE)
                        		    </li>
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Aplicación de la inteligencia emocional
                        		    </li>
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Resaltar Poder, Información, Tiempo, Unidad, Filosofía y Organización
                        		    </li>
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Sistema de reparto preestablecido para la eventual generación de valor genuino
                        		    </li>
                        		</ul>
                        	</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">20</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Cuáles son los aspectos centrales de la escuela de negociación Egoísta?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">
                        		<ul class="about-list" style="margin-left:20px">
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Ganar a pesar del otro
                        		    </li>
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Piensa únicamente en sí mismo
                        		    </li>
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Imponer el poder
                        		    </li>
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Derrotar al otro es su meta
                        		    </li>
                        		</ul>
                        	</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">21</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Cuáles son los aspectos centrales de la escuela de negociación Retributiva?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">
                        		<ul class="about-list" style="margin-left:20px">
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Basado en el juego PIERDE-PIERDE
                        		    </li>
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Lo importante es dañar al otro, aunque uno se perjudique
                        		    </li>
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Imposición por medio de terceros, su venganza (sistema burocrático)
                        		    </li>
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Destrucción casi segura de la interrelación
                        		    </li>
                        		</ul>
                            </td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">22</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿qué es importante en la filosofía negociadora?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">
                        		<ul class="about-list" style="margin-left:20px">
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Centrarse en las Necesidades, Intereses, Deseos y/u objetivos de los participantes
                        		    </li>
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Determinar que tipo de estilo a aplicar en cada momento de la negociación: estilo colaborativo o competitivo
                        		    </li>
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Debe existir un saldo positivo entre satisfacción y sacrificio
                        		    </li>
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Deben tenerse en consideración las emociones
                        		    </li>
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Aplicación de criterios de equidad
                        		    </li>
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Generación de valor genuino
                        		    </li>
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				El éxito no es ganar
                        		    </li>
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Los negociadores deben ser creíbles y confiables
                        		    </li>
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				La confidencialidad puede ser importante para llegar a acordar
                        		    </li>
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Los participantes deben tener una salida elegante, sin derrota
                        		    </li>
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Deben estar legitimadas las personas, los entes y la situaciones
                        		    </li>
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Es menester tener establecida la autoridad de decisión
                        		    </li>
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Deben establecerse previamente las pautas de distribución del mayor valor que se genere
                        		    </li>
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				La cordialidad y gentileza ayudan
                        		    </li>
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Es conveniente usar pautas de diálogo para usar la palabra
                        		    </li>
                        		</ul>
                            </td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">23</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Cuántos NIDOs (Necesidad, Interés, Deseo y Objetivos) coexisten en una negociación</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Como mínimo uno por cada participante, otro por cada grupo y otro por cada mandante.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">24</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Qué diferencias y relaciones existen entre el concepto de Negociación con el de Poder?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Entre ambos existe en común la influencia entre los participantes,
                        		<ul class="about-list" style="margin-left:20px">
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				con la diferencia que la Negociación es un Proceso y
                        		    </li>
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				el Poder la Capacidad de influenciar
                        		    </li>
                        		</ul>
                        	</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">25</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Qué significa atender el NIDO en la Negociación?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Descubrir qué quieren, cada una de los participantes observando sus Necesidades,
                              Intereses, Deseos y Objetivos, considerando como esencial la satisfacción del Deseo.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">26</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Dónde se ubica el Interés y el Deseo?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">El Interés se relaciona con la fuerza de la voluntad, es consciente. Mientras que el
                              Deseo es inconsciente, como una suerte de insatisfacción o anhelo oculto.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">27</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">Para llegar a una negociación mutuamente satisfactoria ¿qué tipo de Negociación utilizamos?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Superamos la Negociación a Puro Regateo para dedicarnos a una negociación integrativa que tenga en cuenta el NIDO de los participantes.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">28</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Es posible determinar en un continuum estilos negociadores?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Combativo-Duro-Competitivo-Colaborativo-Blando-Evasivo</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">29</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Cuáles son los estilos profesionalizados y con qué juego y sigla se las diferencia?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">
                        		<ul class="about-list" style="margin-left:20px">
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Colaborativo "GANA-GANA" juego de suma variable
                        		    </li>
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Competitivo "GANA-PIERDE" juego de suma cero
                        		    </li>
                        		</ul>
                        	</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">30</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿La Escuela de Negociación Racional e Inteligente qué estilos prioriza?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Se prioriza el Estilo Adaptativo según la temática a resolver y los comportamientos entre los participantes.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">31</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Qué relación existe entre los Comportamientos DO-DI-DE (Dominante-Distante-Dependiente).</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Se relacionan respectivamente con el P.A.N. (Padre-Adulto-Niño) de la Escuela de Análisis Transaccional de Eric Berne.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">32</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Cuáles son las características de dichos comportamientos?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">El Dominante trata de imponer su lógica de manera autoritaria
                        		<ul class="about-list" style="margin-left:20px">
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				El Dominante trata de imponer su lógica de manera autoritaria
                        		    </li>
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				Mientras que el Dependiente actúa a solicitud
                        		    </li>
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				El Distante no se involucra con ninguno manteniendo la distancia prudente que le otorga la reflexión
                        		    </li>
                        		</ul>
                        	</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">33</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Qué pautas que debe poseer el Acuerdo?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Debe resultar satisfactorio y duradero para ambos minimizando los sacrificios y generando valor y riqueza.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">34</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Se puede negociar a distancia?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Sí, se puede hacer por cualquier medio electrónico de comunicación, ya sea por fax, chat, telenegociación, teléfono, donde solamente es menester que ambos participantes posean medios compatibles entre sí.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">35</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Son útiles los formularios en el proceso negociador?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Sí, por que además de ordenar la preparación permiten hacer un seguimiento más profesional de los temas y cuestiones,</td>
                          </tr>
                        </table>
                    </p>
                </div>
			</div>
		</div>
	</section>
	<!-- Preguntas Frecuentes Negociacion section end-->
{% endblock %}
