{% extends 'base.html.twig' %}

{% block body %}
    <!-- Preguntas Frecuentes en Probation section -->
	<section class="about-section spad pt-0">
		<div class="container">
			<div class="section-title text-center">
				<h3>Preguntas Frecuentes en Probation</h3>
			</div>
            <div class="row">
				<div class="col-lg-10 about-text">
                    <p>En esta sección Usted podrá encontrar muchas de las preguntas o consultas que habitualmente nos llegan al Instituto o a las Cátedras sobre la temática.</p>
                    <p>
                        <table border="1" cellspacing="2" cellpadding="5" style="font-family: 'Rubik', sans-serif;">
                          <tr>
                            <th style="background-color:LightGrey">Nº</th>
                            <th style="background-color:LightGrey">Tipo</th>
                            <th style="background-color:LightGrey">Descripción</th>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">1</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Cuál en la finalidad de la "Probation"?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">El objetivo fundamental de la "Probation" es la resocialización de la persona que ha cometido un error leve.</td>
						</tr>
                          <tr>
                            <td width="5%" rowspan="2">2</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Qué es un Oficial de Prueba?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Es el agente que se encarga de supervisar el cumplimiento de plan que se encomienda al probado, ayudando al proceso judicial de recuperar la persona para la sociedad.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">3</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Qué cantidad de probados debería atender un Oficial de Prueba?</td>
                          </tr>
                          <tr¿>
                            <td width="10%">Respuesta</td>
                            <td width="85%">El número razonable es de 20 probados, para poder hacer una supervisión y un apoyo adecuado (entre 8 y 10 horas por persona).</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">4</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Qué pasa sí el probado no cumple con las condiciones impuestas por el Juzgado?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">En realidad, debería hacerle cumplir la pena al incumplidor, pero en la práctica de la Argentina no ocurre eso.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">5</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Quién designa el Oficial de Prueba?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">El Juzgado.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">6</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿El probado debe cumplir tareas para con la comunidad?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Dentro de lo posible el&nbsp; probado debe de reparar el daño causado, siempre que el ofendido esté dispuesto y sea factible, sino como propuesta resocializadora debería desarrollar tareas comunitarias.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">7</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿El Oficial de Prueba debe tener conocimientos en mediación?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Sí, es casí fundamental para el desarrollo de sus labores, en especial cuando debe tratar entre ofensores y ofendidos.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">8</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿En que momento debería iniciar su labor el Oficial de Prueba como tal?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">En realidad debería comenzar al inicio del proceso judicial para evaluar la posibilidad de recuperación potencial del sometido a prueba.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">9</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿En la probation pueden participar los ofendidos?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Sí, especialmente si ellos lo desean.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">10</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Debe satisfacerse a los ofendidos en la probation?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Sí, dentro de lo razonable y para reparar lo dañado, sin entrar en el terrenos de la venganza.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">11</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿La Probation contribuye a la pacificación Social?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Indudablemente, una finalidad fundamental de la Probation es pacificar a los involucrados en el conflicto, tanto ofendido como ofensor, y dar una respuesta para la sociedad.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">12</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Qué formación básica requiere un Oficial de Prueba?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Para poder tener los conocimientos básicos que se necesitan para ser Oficial de Prueba es menester tener aprobados los tres requisitos siguientes:
                        		<ul class="about-list" style="margin-left:20px">
                        			<li>
                        				<i class="fa fa-check-square-o"></i>
                        				Curso Introductorio de Probatios (20 horas)
                        			</li>
                        			<li>
                        				<i class="fa fa-check-square-o"></i>
                        				Curso Teórico Práctico Avanzado de Probation (70 horas)
                        			</li>
                        			<li>
                        				<i class="fa fa-check-square-o"></i>
                        				Pasantía en Probation (25 horas)
                        			</li>
                        		</ul>
                            </td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">13</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Qué caracteriza a la Probation?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Que la persona sometida a prueba por haber cometido una infracción leve a la ley penal continúa viviendo en el seno de su familia y comunidad, organizando su vida conforme a las condiciones prescriptas por el Juzgado o Autoridad competente, bajo la supervisión y apoyo del agente de probation.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">14</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Por qué se menciona el concepto resocializador de la probation?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">El método rescata el poder devolver a esa persona su lugar en la sociedad trabajando sus dificultades personales y de relación. No olvidando a las que se integran en los grupos de pertenencia.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">15</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Cuál es el logro de la Probation?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">En la medida que se cumplan las pautas a seguir se podrá lograr que los probados se reintegren a la sociedad de manera constructiva ofreciendo mayor seguridad a la misma.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">16</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Se justifica económicamente la Probation?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Indudablemente es mucho más económica que el sistema de prisión dado que tiene un costo anual de $2.400 por cada sometido a prueba frente a los $9.000 que cuesta por prisionero. Además se disminuyen ostensiblemente los riesgos de reincidencia y la efectiva resocialización del probado, lo que también está implicando costos futuros para la sociedad, ya sea por los potenciales delitos, los costos de investigación, detención, juzgamiento y encarcelamiento. La sociedad también ahorra el mantenimiento de la familia del afectado</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">17</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Existe un resarcimiento a las víctimas?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">La posibilidad de estar en libertad brinda la seguridad de resarcir a las víctimas por los daños causados, ya sea materiales o morales.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">18</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Dónde la Probation tiene mejor resultado o efectividad?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">En los asuntos donde existen menores, pues cuando más tempranamente se aplica, mayores son las posibilidades de éxito y se está trabajando con muchos años de potencial humanos que se transforma en positivo en lugar de negativo. Además lo jóvenes suelen ser mucho más adaptables que los mayores.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">19</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Cuáles son las ventajas de la Probation?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Sus ventajas más relevantes son:
                        		<ul class="about-list" style="margin-left:20px">
                        			<li>
                        				<i class="fa fa-check-square-o"></i>
                        				El tratamiento se hace en libertad.
                        			</li>
                        			<li>
                        				<i class="fa fa-check-square-o"></i>
                        				Se controla la actitud durante el período de prueba por quie tiene a cargo la supervisión y seguimiento de la conducta.
                        			</li>
                        			<li>
                        				<i class="fa fa-check-square-o"></i>
                        				La reinserción social es un punto fundamental para la recuperación del imputado como un individuo útil para la sociedad.
                        			</li>
                        			<li>
                        				<i class="fa fa-check-square-o"></i>
                        				El costo social para la víctima y para el imputado se minimizan.
                        			</li>
                        			<li>
                        				<i class="fa fa-check-square-o"></i>
                        				Se economiza mucho dinero a la sociedad.
                        			</li>
                        		</ul>
                            </td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">20</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Existe culpabilidad del Imputado?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">No necesariamente.</td>
                          </tr>
                        </table>
                    </p>
                </div>
			</div>
		</div>
	</section>
	<!-- Preguntas Frecuentes en Probation section end-->
{% endblock %}
