{% extends 'base.html.twig' %}

{% block body %}
    <!-- Preguntas Frecuentes en Arbitraje section -->
    <section class="about-section spad pt-0">
        <div class="container">
            <div class="section-title text-center">
                <h3>Preguntas Frecuentes en Seguridad Personal frente al Delito</h3>
            </div>
            <div class="row">
                <div class="col-lg-10 about-text">
                    <p>En esta sección Usted podrá encontrar muchas de las preguntas o consultas que habitualmente nos llegan al Instituto o a las Cátedras sobre la temática.</p>
                    <p>
                    <table border="1" cellspacing="2" cellpadding="5" style="font-family: 'Rubik', sans-serif;">
                        <tr>
                            <th style="background-color:LightGrey">Nº</th>
                            <th style="background-color:LightGrey">Tipo</th>
                            <th style="background-color:LightGrey">Descripción</th>
                        </tr>
                        <tr>
                            <td width="5%" rowspan="2">1</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Es conveniente el uso de armas para defenderse de las agresiones?</td>
                        </tr>
                        <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">No, dado que la violencia solamente engendra mayor violencia.</td>
                        </tr>
                        <tr>
                            <td width="5%" rowspan="2">2</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Se puede responder a la violencia en forma pacífica?</td>
                        </tr>
                        <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Sí, es posible administrar el incidente proactivamente dentro de ciertos límites, y seguramente reducirá sustancialmente las potenciales consecuencias hacia la víctima</td>
                        </tr>
                        <tr>
                            <td width="5%" rowspan="2">3</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿La prevención es de utilidad?</td>
                        </tr>
                        <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Sí, dado que se estima que puede reducir un 80% el riesgo de ser agredido.</td>
                        </tr>
                        <tr>
                            <td width="5%" rowspan="2">4</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Es útil coordinar sistemas de seguridad con los vecinos?</td>
                        </tr>
                        <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Sí, las experiencias barriales (una o varias cuadras) han dado buenos resultados a los vecinos que trabajan cooperativamente.</td>
                        </tr>
                        <tr>
                            <td width="5%" rowspan="2">5</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Cuál es el lugar más riesgoso frente al delito?</td>
                        </tr>
                        <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">La calle, allí sucede un altísimo porcentaje de los actos delictivos violentos.</td>
                        </tr>
                        <tr>
                            <td width="5%" rowspan="2">6</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿La oscuridad predispone o facilita el delito?</td>
                        </tr>
                        <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Sí, existe mayor número de delitos en los horarios nocturnos.</td>
                        </tr>
                        <tr>
                            <td width="5%" rowspan="2">7</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Es mejor andar solo o acompañado?</td>
                        </tr>
                        <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Cuanto más personas formen un grupo más de desalienta a los delincuentes.</td>
                        </tr>
                        <tr>
                            <td width="5%" rowspan="2">8</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Quiénes son las personas que mejor se recuperan?</td>
                        </tr>
                        <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Aquellas que se han preparado previamente para enfrentar situaciones violentas.</td>
                        </tr>
                        <tr>
                            <td width="5%" rowspan="2">9</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Los automóviles dan seguridad frente al delito?</td>
                        </tr>
                        <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Los automóviles no son un elemento de seguridad personal frente a las armas de fuego.</td>
                        </tr>
                        <tr>
                            <td width="5%" rowspan="2">10</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Desde cuando se devengan los ítems de una liquidación?</td>
                        </tr>
                        <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Es imposible no comunicarse.</td>
                        </tr>
                        <tr>
                            <td width="5%" rowspan="2">11</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Cuáles son los aspectos positivos en la seguridad personal frente al delito?</td>
                        </tr>
                        <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">
                                <ul class="about-list" style="margin-left:20px">
                                    <li>
                                        <i class="fa fa-check-square-o"></i>
                                        Prevención
                                    </li>
                                    <li>
                                        <i class="fa fa-check-square-o"></i>
                                        Atención
                                    </li>
                                    <li>
                                        <i class="fa fa-check-square-o"></i>
                                        Dificultad
                                    </li>
                                    <li>
                                        <i class="fa fa-check-square-o"></i>
                                        Rigurosidad
                                    </li>
                                    <li>
                                        <i class="fa fa-check-square-o"></i>
                                        Experticia
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td width="5%" rowspan="2">12</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Cuáles son los aspectos negativos en la seguridad personal frente al delito</td>
                        </tr>
                        <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">
                                <ul class="about-list" style="margin-left:20px">
                                    <li>
                                        <i class="fa fa-check-square-o"></i>
                                        Miedo o temor
                                    </li>
                                    <li>
                                        <i class="fa fa-check-square-o"></i>
                                        Ansiedad
                                    </li>
                                    <li>
                                        <i class="fa fa-check-square-o"></i>
                                        Distracción o relajación
                                    </li>
                                    <li>
                                        <i class="fa fa-check-square-o"></i>
                                        Riesgo soportado (exposición, atractivo, etcétera)
                                    </li>
                                    <li>
                                        <i class="fa fa-check-square-o"></i>
                                        Escatimar en la inversión
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td width="5%" rowspan="2">13</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Es importante ser confiable en una agresión violenta?</td>
                        </tr>
                        <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">
                                Sí, es fundamental, la credibilidad es lo que permite administrar el incidente.
                            </td>
                        </tr>
                        <tr>
                            <td width="5%" rowspan="2">14</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Debe darse una salida elegante al agresor?</td>
                        </tr>
                        <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">
                                Sí, es esencial para que no se vaya derrotado.
                            </td>
                        </tr>
                        <tr>
                            <td width="5%" rowspan="2">15</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Qué es lo que hace más riesgo a la pontencial víctima?</td>
                        </tr>
                        <tr>
                            <td width="10%">Respuesta</td>
                            <td width="80%">
                                <ul class="about-list" style="margin-left:20px">
                                    <li>
                                        <i class="fa fa-check-square-o"></i>
                                        Apariencia de buen pasar
                                    </li>
                                    <li>
                                        <i class="fa fa-check-square-o"></i>
                                        Oportunidad
                                    </li>
                                    <li>
                                        <i class="fa fa-check-square-o"></i>
                                        Facilidades brindadas
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td width="5%" rowspan="2">16</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Qué se considera autorresguardo?</td>
                        </tr>
                        <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">
                                Es la prevención aplicada por la potenciales víctimas pa tratar de evitar, eludir o dificultar acciones delictivas contra sí mismos, sus allegados, sus bienes, etc. También es la preparación para saber como desenvolverse ante un incidente crítico, para así minimizar sus consecuencias físicas, psíquicas y patrimoniales
                            </td>
                        </tr>
                        <tr>
                            <td width="5%" rowspan="2">17</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Qué significa Víctima Profesional?</td>
                        </tr>
                        <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">
                                Es la preparación y accionar que toda persona puede desarrollar ordenada y sistemáticamente para actuar ante la violencia delictiva. Es el conocimiento, experiencia, entrenamiento y experticia para comportarse como potencial o efectiva víctima del accionar criminal.
                            </td>
                        </tr>
                        <tr>
                            <td width="5%" rowspan="2">18</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿El prevenirse de la delincuencia genera un estado de tensión psicológica o de estrés excesivo?</td>
                        </tr>
                        <tr>
                            <td width="10%">Respuesta</td>
                            <td width="80%">No, por el contrario, una vez que las personas adquieren el hábito de tomar las medidas de prevención o saben que es lo que deben hacer en situaciones de crisis se sienten más seguras y confían más en sí mismas, con lo que están más tranquilos.</td>
                        </tr>
                        <tr>
                            <td width="5%" rowspan="2">19</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿El delito altera la calidad de vida de las personas?</td>
                        </tr>
                        <tr>
                            <td width="10%">Respuesta</td>
                            <td width="80%">Sí, puede producir deterioro de sus hábitos por temor a ser objeto de hechos violentos y también la disminución de recursos, ya sea por aplicarlos a la prevención o defensa o por destrucción o sustracción.</td>
                        </tr>
                        <tr>
                            <td width="5%" rowspan="2">20</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Las Organizaciones son responsables por los delitos que le ocurren a su personal?</td>
                        </tr>
                        <tr>
                            <td width="10%">Respuesta</td>
                            <td width="80%">Sí, ya sea los que acontecen dentro de los edificios de la misma Organización , en sus traslados (desde o a su lugar de residencia, o por razones laborales, en sus salidas a alimentarse) dado que por extensión se trata de una forma de accidente laboral.</td>
                        </tr>
                    </table>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Preguntas Frecuentes en Arbitraje section end-->
{% endblock %}
