{% extends 'base.html.twig' %}

{% block body %}
    <!-- Preguntas Frecuentes en Terciación Institucional Preventiva (TIP) section -->
	<section class="about-section spad pt-0">
		<div class="container">
			<div class="section-title text-center">
				<h3>Preguntas Frecuentes en Terciación Institucional Preventiva (TIP)</h3>
			</div>
            <div class="row">
				<div class="col-lg-10 about-text">
                    <p>En esta sección Usted podrá encontrar muchas de las preguntas o consultas que habitualmente nos llegan al Instituto o a las Cátedras sobre la temática.</p>
                    <p>
                        <table border="1" cellspacing="2" cellpadding="5" style="font-family: 'Rubik', sans-serif;">
                          <tr>
                            <th style="background-color:LightGrey">Nº</th>
                            <th style="background-color:LightGrey">Tipo</th>
                            <th style="background-color:LightGrey">Descripción</th>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">1</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿La Terciación Institucional Preventiva (TIP) es una forma de acceso a la justicia?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Decididamente sí. Dado que los convinientes tienen derecho a elegir la manera de resolver sus conflictos.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">2</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿En qué consiste la TIP?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">El TIP es la prevención de la administración de disputas abordada desde la Mediación, y en el caso de que en ésta no se arribare a un acuerdo o que no se cumpliere lo pactado deriva en arbitraje inapelable que le da una resolución definitiva y final al asunto.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">3</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Cómo se accede a la TIP?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Los convinientes en cualquier contrato o agrupación pueden acordar la forma de resolver sus disputas. Esta forma de encarar la gestión de los conflictos puede hacerse al momento de establecer los convenios o formas de interactuación entre los involucrados, ya sea de manera previa a que aparezca la disputa o a posteriori.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">4</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿La TIP es un sistema prepago de gestión de disputas?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">En principio esa es la idea central del sistema, dado que aquellos convinientes que lo hayan previsto al momento de contratar y pagado. Cuando lo hacen con posterioridad y los conflictuados acuerdan el pago se hace a posteriori.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">5</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Es conveniente económicamente la TIP?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">La TIP es sumamente interesante en su faz económica dado que por una cifra casi insignificante los asociados o convinientes pagan un seguro de gestión y administración de conflictos eventuales y además de posteriormente evitarse el costo de la Mediación y del eventual arbitraje eluden los costos y costas de la Justicia.
                            </td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">6</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Cuáles son los tiempos de la TIP para resolver disputas?
                            </td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Los tiempos de la TIP son muy breves, dado que el asunto se puede resolver casi de inmediato.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">7</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Dónde conviene aplicar la TIP?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">En todo tipo de transacciones o de interrelaciones permanentes: por ejemplo: contratos de alquiler, boletos de compraventa, órdenes de compra, consorcios, countries, relaciones en ámbito educativo, etcétera.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">8</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Cómo se instrumenta la TIP?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Básicamente existen dos formas, la prepaga y que se accede por medio de una Cláusula Compromisoria en el convenio y habiendo cancelado el prepago correspondiente.<p><font face="Arial">Otra forma es por un pacto de terciación posterior el surgimiento del conflicto, pero allí no existe cobertura de seguro.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">9</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Qué es Med/Arb?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Es el proceso de Mediación sucedido del de Arbitraje, para el caso en que falle o no se cumpla el primero. Vale decir es una cláusula que encadena el Arbitraeje luego de la Mediación.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">10</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Existe un lapso de carencia en la TIP?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Hay dos tipos de servicios: 1) aquellos que son por cantidad personas o entidades de relacionados (asociados, consorcistas, empleados, etcétera); y 2) otros que son por operaciones (órdenes de compra, contratos, etcétera). En los primeros si existe un período de carencia muy breve.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">11</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Qué pasaría si alguno de los conflictuados no hubiera abonado el prepago y otro sí lo hubiera realizado?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">La cobertura del servicio es solamente para aquellos que contrataron el sistema, los otrsos deberían abonar su parte proporcional de acuerdo a las tarifas del IANCA..</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">12</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Qué pasa con los conflictos generados con anterioridad a la fecha desde la que se comienza a prestar el servicio de la TIP?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">No entrarían su administración, ese es una asunto que debe negociarse y además en ingreso al sistema prepago debe hacerse voluntariamente.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">13</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿por qué es tan económico el sistema de la TIP prepago?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Ello se debe, que por fortuna la inmensa mayoría de las transacciones y sistemas de interrelacionados no genera ningún conflicto entre los involucrados, por ende ese pago mínimo cubre los costos de la administración del sistema.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">14</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Hay límites de conflictos a administrar por el sistema?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Obviamente que existe un límite, que está de acuerdo con el importe del precio del servicio, dado que aquellos que tienen más conflictos deben desembolsar más.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">15</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Como se determina el precio del servicio?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">En aquellos casos que existen contratos u otra forma de documentación que resulten perfectamente identificables e individualizables se determina por cada unidad de acción. En los casos en que no existen unidades de transacciones u acciones se computa por cantidad de componentes que integran al sistema.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">16</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Es complejo el trámite?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">No por el contrario, es sumamente simple y efectivo.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">17</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Qué ventajas nos da la TIP?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="80%">El sistema es sumamente ventajoso, dado que:
                        		<ul class="about-list" style="margin-left:20px">
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				<b>Celeridad:</b> en pocas semanas de diálogo y trámite se resuelve definitivamente el
                        		asunto.
                        		    </li>
                        			<li>
                        		        <i class="fa fa-check-square-o"></i>
                        				<b>Seguridad:</b> al adoptar la Mediación y el Arbitraje se obtiene imparcialidad, capacidad en la tecnología y el tema en cuestión.
                        		    </li>
                        			<li>
                        		        <i class="fa fa-check-square-o"></i>
                        				<b>Cumplimiento:</b> crea un mayor compromiso de los participantes.
                        		    </li>
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				<b>Satisfacción:</b> existe una mayor atención de lo que quieren los afectados.
                        		    </li>
                        			<li>
                        		        <i class="fa fa-check-square-o"></i>
                        				<b>Confidencialidad:</b> preserva la información reservada de los participantes.
                        		    </li>
                        			<li>
                        		        <i class="fa fa-check-square-o"></i>
                        				<b>Imparcialidad:</b> se garantiza la objetividad del proceso.
                        		    </li>
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				<b>Economía:</b> la prima es mucho menor costo que el proceso judicial (35%) y no es
                        	indispensable asesoramiento profesional.
                        		    </li>
                        			<li>
                        		        <i class="fa fa-check-square-o"></i>
                        				<b>Calidad:</b> asegurada por la especialidad, responsabilidad, dedicación y
                        	prestigio de los terciadores.
                        		    </li>
                        			<li>
                        		        <i class="fa fa-check-square-o"></i>
                        				<b>No judicialización de la disputa:</b> el mismo se gestiona y resuelve fuera del ámbito tribunalicio.
                        		    </li>
                        		    <li>
                        		        <i class="fa fa-check-square-o"></i>
                        				<b>Imagen institucional:</b> el sistema da resoluciones más satisfactorias a los involucrados lo que preserva mejor la imagen institucional.
                        		    </li>
                        			<li>
                        		        <i class="fa fa-check-square-o"></i>
                        				<b>Discreción:</b> la situación se administra sin intervención de terceros y en un ambiente de estricta reserva.
                        		    </li>
                        			<li>
                        		        <i class="fa fa-check-square-o"></i>
                        				<b>Confiabilidad:</b> quienes administran las situaciones son especialistas y expertos en la temática en disputa.
                        		    </li>
                        		</ul>
                        	</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">18</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Los Mediadores después pueden ser Árbitros en el mismo caso?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Eso lo debe decidir los mismos involucrados. En general eso depende de cada situación y circunstancias. Si el tema es el no cumplimiento de lo acordado en la Mediación en líneas generales es factible dado que allí lo único que debe decidirse es en cuanto al cumplimiento de ese compromiso.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">19</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Quién selecciona a los Mediadores y a los Árbitros?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Los participantes y si ellos no se ponen de acuerdo los selecciona la entidad.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">20</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Se puede apelar ante la Justicia?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Si la Mediación no arriba a un acuerdo o si no se cumple el mismo, se pude ir a Arbitraje si estuviere pactado, que es inapelable. Esto le da una gran agilidad y resolución al sistema.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">21</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Qué efecto tiene un acuerdo en Mediación ante el incumplimiento del mismo?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Se puede hacer cumplir judicialmente dado que puede iniciarse directamente un proceso de ejecución de sentencia, se trata de un título ejecutorio, es similar al efecto de un fallo judicial o arbitral firme.</td>
                          </tr>
                        </table>
                    </p>
                </div>
			</div>
		</div>
	</section>
	<!-- Preguntas Frecuentes en Terciación Institucional Preventiva (TIP) section end-->
{% endblock %}
