{% extends 'base.html.twig' %}

{% block body %}
    <!-- Preguntas Frecuentes en Intereses y Usura section -->
	<section class="about-section spad pt-0">
		<div class="container">
			<div class="section-title text-center">
				<h3>Preguntas Frecuentes en Intereses y Usura</h3>
			</div>
            <div class="row">
				<div class="col-lg-10 about-text">
                    <p>En esta sección Usted podrá encontrar muchas de las preguntas o consultas que habitualmente nos llegan al Instituto o a las Cátedras sobre la temática.</p>
                    <p>
                        <table border="1" cellspacing="2" cellpadding="5" style="font-family: 'Rubik', sans-serif;">
                          <tr>
                            <th style="background-color:LightGrey">Nº</th>
                            <th style="background-color:LightGrey">Tipo</th>
                            <th style="background-color:LightGrey">Descripción</th>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">1</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Qué es la usura?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Son los intereses u otras ventajas pecuniarias o susceptibles de ser calculadas en términos pecuniarios, exorbitantes o abusivas manifiestamente exageradas con la contraprestación recibida, y/o también los recaudos y/o las garantías desmedidas y perjudiciales.&nbsp;La misma se produce financieramente de tres maneras: a) tasas elevadas, b) anatocismo (intereses sobre intereses, en especial en conceptos improcedentes particularmente si duplican conceptos), y c) ratioferusismo (determinaciones excesivas).</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">2</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿La usura es un delito?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Sí, está regulada por el artículo 175 bis del Código Penal, que su primera parte dice: El que, aprovechando la necesidad, la ligereza o la inexperiencia de una persona le hiciere dar o prometer, en cualquier forma, para sí o para otro, intereses u otras ventajas pecuniarias evidentemente desproporcionadas con su prestación, u otorgar recaudos o garantías de carácter extorsivo, ...<br><br>Es un delito de ejecución continuada, que dura mientras permanezcan las consecuencias de la acción</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">3</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Qué son intereses usurarios?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Es el interés excesivo en un préstamo, que pasa los límites razonables. Este interés está condicionado por las circunstancias del crédito, ya sea por los costos, los riesgos (incobrabilidad, pérdida del poder adquisitivo del dinero, lapso), oportunidad, garantía, etc.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">4</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Quiénes son usureros?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Usurero es todo aquel que obtiene ventajas económicas exageradas en perjuicio de otros. Dado que la usura no es solamente un concepto de tipo financiero, son considerados usureros los prestamistas, los empleadores, los vendedores, los prestadores de servicios, etcétera que obtienen rendimiento extraordinario en detrimento de otros explotando sus necesidades, ignorancia, ligereza, etcétera.&nbsp;</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">5</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Cuál es la tasa de interés razonable?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Para poder establecer una tasa considerada como normal de interés debe de analizarse detenidamente la operación y sus condiciones, pero podríamos fijar en el 4,28% anual efectivo una tasa razonable, que estaría incluyendo los conceptos de alquiler del capital y el riesgo o previsión por incobrabilidad, pero que no contiene la cobertura por la eventual variación en el valor adquisitivo del dinero corriente que puede producir la inflación.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">6</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿El efecto inflacionario puede estar en la tasa de interés?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Sí, pero es recomendable determinar el efecto inflacionario por separado por dos razones básicas:<ul class="about-list" style="margin-left:20px">    <li>        <i class="fa fa-check-square-o"></i>		Tener clara la constitución de los componentes de la tasa, dadas las consecuencias técnicas y legales que devienen de esa composición.    </li>	<li>        <i class="fa fa-check-square-o"></i>		Evitar previsiones excesivas de inflación que estén elevando la tasa desproporcionadamente.    </li></ul>
                            </td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">7</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Cuánto es el límite para que haya usura?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Esto se determina para cada operación en particular y la respuesta es similar que para la pregunta 5.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">8</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿La forma de cálculo de la financiación puede modificar artificialmente la tasa pactada o anunciada?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Decididamente sí, dado que existen diversas formas de determinación que pueden alterar sustancialmente los valores. La tasa que se pacte debe mantenerse a pesar de los plazos o capitalizaciones, salvo que estén convenidas expresamente</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">9</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Qué es anatocismo?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">El Anatocismo es la determinación de los intereses sobre los intereses por la capitalización de los mismos. Salvo acuerdo expreso está vedado legalmente por el artículo 623 del Código Civil. Esto también altera la esencia de la tasa de interés.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">10</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿La usura afecta los derechos de propiedad?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Sí. La Convención Americanasobre Derechos Humanos - Pacto de San José de Costa Rica - en su artículo 21 el derecho a la propiedad privada dice: Toda persona tiene derecho al uso y goce de sus bienes. La ley puede subordinar tal uso y goce al interés social.<br><br>Ninguna persona puede ser privada de sus bienes, excepto mediante el pago de indemnización justa, por razones de utilidad pública o de interés social y en los casos y según las formas establecidas por la ley. Tantola usura como cualquier otra forma de explotación del hombre por el hombre deben ser prohibidas por la ley.<br><br>Dado que la usura constituye un exceso de consecuencias financieras, económicas y patrimoniales, es evidente que daña el derecho de propiedad de la víctima.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">11</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿En las liquidaciones de los servicios públicos tasas y contribuciones puede existir usura?&nbsp;</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Sí de varias formas habituales:<ul class="about-list" style="margin-left:20px">    <li>        <i class="fa fa-check-square-o"></i>		Cobros desmedidos y discriminatorios de tasas o servicios.    </li>	<li>        <i class="fa fa-check-square-o"></i>		Costo financiero exorbitante para los segundos vencimientos o los pago fuera de término.    </li></ul>
                            </td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">12</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Los descubiertos en las cuentas bancarias son usurarios?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Debemos distinguir entre el sobregiro no autorizado y el sobregiro autorizado. En el caso del sobregiro no autorizado -normalmente efectuado por necesidad-, las tasas por girar en descubierto son tasas de interés punitorias, por ende debe ser mayores que la tasa normal, pero igualmente no debería superar el 12% de interés anual efectivo.<br><br>En el caso de sobregiro autorizado, se estaría penando algo sobre lo que hay un acuerdo por un crédito y no un verdadero incumplimiento.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">13</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Las tasas en las tarjetas de créditos son usurarias?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Decididamente sí, dado que la financiación acordada no debería sobrepasar la tasa razonable, y los recargos totales por incumplimiento la tasa punitoria (ver respuestas 5 y 12).</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">14</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿En la mora puede haber usura?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Sí, pues no debe haber un aprovechamiento del acreedor, en especial dado que se trata de una línea de crédito autorizada. La tasa debe ser equitativa y no abusiva ni extorsiva y no debe aplicarse sobre las partes de la tasa de riesgo de incobrabilida, inflación ni "spread", dado que sería duplicarlas.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">15</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Quién es el responsable de la usura?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Según el Código Penal, en el artículo citado, el otorgante y la misma pena será aplicable al que a sabiendas adquiere, transfiere o hiciere un crédito usurario.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">16</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Qué puede hacer una persona que sufre o sufrió de usura?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Debería replantear el crédito o el tipo de transacción realizada para establecerlo en términos equitativos y reclamar la compensación de los costos, daños y consecuencias sufridas</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">17</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Por qué hay usura en nuestro país?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Este es un fenómeno que comienza en los años de la década de 1980 y productos de la confusión que generan los efectos inflacionarios sobre las tasas y que han producido un hábito y concepción inadecuada y desformada, que obviamente fue aprovechada por el sistema financiero y las organizaciones, a expensas de un Estado que, por su política tributaria, no le conviene intervenir en su prevención ni en su punición.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">18</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Hay usura en nuestra deuda externa?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Indudablemente sí</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">19</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Es posible negociar con las entidades financieras la cuestión de la usura?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Las entidades financieras no suelen negociar casi nada con sus clientes, son organizaciones excesivamente burocráticas y no suelen dar casi ninguna autoridad a quienes colocan como interlocutores. Es decir que, en general, es imposible encontrar interlocutores válidos. Lamentablemente debe obligarse a la entidad de otra forma más adversarial.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">20</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿La usura es mensurable?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Sí, actualmente se ha llegado a una determinación sumamente precisa que está sólidamente fundada en investigaciones y desarrollos de gran profundidad técnica y científica que le da bases muy firmes y seguras a las determinaciones de sus límites.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">21</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Qué es el anatocismo?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">El anatocismo son intereses sobre intereses, es también conocido como interés compuesto, y está permitido solamente en el caso que los participantes lo pacten expresamente. La gravedad del anatocismo está en ignorar la tasa anual que equivale a las determinadas para cada cuota y además de aplicarse sobre conceptos que no corresponden y que implican una duplicación de determinación (previsión por incobrabilidad, cobertura de variación del poder adquisitivo del dinero corriente).</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">22</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Que es ratioferusismo?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">El ratioferusismo son las maneras de determinar o practicar conceptos inadecuados en las operaciones financieras. Son ejemplo típicos de ello los sistemas de amortización de préstamos que emplean el sistema denominado directo, especialmente cuanto mayor es el plazo otorgado, las gastos sin efectiva contraprestación, las determinaciones de intereses o penas sobre conceptos no vencidos, entre otros.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">23</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Cuáles son los abusos financieros o la usura?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Los abusos financieros o usurarios son los excesos que los prestamistas liquidan a los consumidores y usuarios, ya sea por elevadas tasas de interés, anatocismo, ratioferusismo, conceptos indebidos, garantías excesivas, agobio, etcétera.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">24</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Los sistemas de amortización de créditos dan alguna forma de ventajas a los contratantes?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">Los sistemas de cancelación de créditos en cuotas denominados alemán, español y francés son todos aplicados sobre los saldos pendientes de cancelación de la deuda por lo que son técnicamente razonables. El sistema directo que aplica los intereses sobre el valor originalmente prestado -y no sobre los saldos adeudados- es absolutamente inequitativo y abusivo, especialmente en operaciones a plazos extendidos (de por sí este sistema Directo hace ratioferusismo). En materia de equidad y menor costo financiero los sistemas se ordenan: 1º Español, 2º Alemán, 3º Francés y 4º Directo. También existe el sistema Americano.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">25</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Los cálculos de los retardos en los pagos deben practicarse sobre la parte demorada o sobre el total impago?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">En materia de equidad el perjuicio que tienen un acreedor por recibir con retardo es por solamente el importe vencido y no por el resto del crédito que comprometió ir cobrando en otros plazos posteriores, por ende debe aplicarse solamente por los importes efectivamente vencidos que correspondan. Por ejemplo no corresponde aplicarlos sobra la parte de la tasa que hace para previsión por incobrabilidad ni sobre la cobertura de inflación pues sería duplicarlas. Vendría a ser como por mora también aplicarlos en los otros conceptos colaterales (verbi gratia: seguros de vida, incendio, destrucción, etcétera)</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">26</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Los sistemas de amortización de préstamos son similares en sus efectos y costos?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%">En términos económicos y financieros, para el prestamista, los sistemas Alemán, Americano, Español y Francés son exactamente iguales si consideramos la operación global. Por otro lado para los deudores tienen una apreciación y resultado en lo económico que ordenándolos de menos gravoso a más oneroso se ordenan el Español, el Alemán y el Francés.</td>
                          </tr>
                          <tr>
                            <td width="5%" rowspan="2">27</td>
                            <td width="10%">Pregunta</td>
                            <td width="85%">¿Como se denomina a los profesionales que trabajan es este campo?</td>
                          </tr>
                          <tr>
                            <td width="10%">Respuesta</td>
                            <td width="85%"> Los mismos son Usurólogos y pueden tener a sus vez especializaciones en Usurología, Ratioferusoloía, Socilogía, Jurídico y así sucesivamente.</td>
                          </tr>
                        </table>
                    </p>
                </div>
			</div>
		</div>
	</section>
	<!-- Preguntas Frecuentes en Intereses y Usura section end-->
{% endblock %}
