{% extends 'base.html.twig' %}

{% block body %}
    <!-- Codigo Etica Negociacion section -->
	<section class="about-section spad pt-0">
		<div class="container">
			<div class="section-title text-center">
				<h3>CÓDIGO DE ÉTICA DE NEGOCIACIÓN</h3>
			</div>
            <div class="row">
				<div class="col-lg-12 about-text">
                    <p><b>A. PROPÓSITOS</b></p>
                    <p><b>Artículo 1º.-</b> Son fines de este código enunciar los principios y las pautas que deben guiar el comportamiento, la actitud la conducta del negociador, para el logro de elevar fines morales, científicos y técnicos, dando al cuerpo de registrados un conjunto de normas éticas para evitar que se pueda comprometer el honor y la probidad de los expertos, como así la imagen de la actividad.</p>
                    <p><b>Artículo 2º.-</b> Estas normas éticas no excluyen otras no enunciadas expresamente, pero que surgen del digno y el correcto ejercicio de la actividad.</p>
                    <p><b>Artículo 3º.-</b> No debe ser interpretado que este código admite aquello que no prohíbe expresamente.</p>
                    <p><b>B. INVOLUCRADOS</b></p>
                    <p><b>Artículo 4º.-</b> Estas normas son aplicables en la República Argentina en el ejercicio de los registrados y los expertos en la actividad.</p>
                    <p><b>C. ACTUACIÓN</b></p>
                    <p><b>Artículo 5º.-</b> El ejercicio de la actividad debe ser:
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                consciente,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                digno,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                honesto
                            </li>
                        </ul>
					</p>
                    <p>norma permanente de conducta y finalidad de la actuación.<br><br>No debe utilizarse la técnica para distorsionar la realidad ni forzar los hechos.</p>
                    <p><b>Artículo 6º.-</b> Los compromisos verbales o escritos deben ser considerados, por igual, de estricto cumplimiento.</p>
                    <p><b>Artículo 7º.-</b> No debe aconsejar ni intervenir cuando su actuación permita, ampare, oculte o facilite actos incorrectos o punibles, pueda utilizarse para dilatar, confundir o sorprender la buena fe del otro participante, usarse en forma contraria al interés público, a los intereses de la actividad o para evadir la ley.</p>
                    <p><b>Artículo 8º.-</b> No debe aconsejar ni intervenir cuando su actuación permita, ampare o facilite actos incorrectos o punibles, pueda utilizarse para confundir o sorprender la buena fe de uno de los participantes, usarse en forma contraria al interés de la actividad o para evadir la ley.</p>
                    <p><b>Artículo 9º.-</b> No debe interrumpir la prestación de sus servicios hasta tanto haya finalizado su labor o cuando existan circunstancias especiales que lo impidan.<br><br>En este último caso debe comunicarlo con una antelación razonable, salvo que las circunstancias no lo permitan.</p>
                    <p><b>Artículo 10º.-</b> En la actuación debe respetar y aplicar las normas legales y morales y el espíritu de este código y otras disposiciones afines del Instituto.</p>
                    <p><b>Artículo 11º.-</b> Debe acatar, en su fondo y en su forma, las disposiciones del IANCA - Instituto Argentino de Negociación, Conciliación y Arbitraje.</p>
                    <p><b>Artículo 12º.-</b> No debe utilizar en su actuación designaciones representaciones o títulos que posea.</p>
                    <p><b>Artículo 13º.-</b> Su labor debe evitar:
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                uso de engaño o dolo,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                revelar intimidades de su representado,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                traicionar a su representado,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                utilizar manipulación,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                entrar en competitividad, en especial si se lo hace con violencia,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                hacer abuso del poder,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                connivencia,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                inequidad,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                dilatar, demorar o trabar,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                mantener posiciones irracionales, irrazonables o caprichosas,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                agredir, avasallar, destruir, maltratar, ironizar, injuriar, atacar al honor o la reputación,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                acosar,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                irresponsabilidad,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                violar disposiciones,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                obstinación,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                colusión,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                venganza, y
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                cohecho
                            </li>
                        </ul>
                    </p>
                    <p><b>Artículo 14º.-</b> Su labor debe procurar:
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                ser disciplinado,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                justicia y equidad,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                racionalidad,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                crear un clima adecuado,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                lealtad,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                respetar los símbolos, las instituciones y las personas.
                            </li>
                        </ul>
                    </p>
                    <p><b>Artículo 15º.-</b> Debe actuar con plena conciencia del sentimiento y solidaridad de agrupamiento de expertos. No debe formular manifestaciones que pueden significar menoscabo a otro registrado en su idoneidad, prestigio o moralidad.</p>
                    <p><b>D. SECRETO</b></p>
                    <p><b>Artículo 16º.-</b> La relación entre el experto o el representante y su representado deben ser desarrolladas dentro de la más absoluta reserva y confianza, también la relación entre el Negociador y los otros participantes debe ser desarrollada dentro de la más absoluta reserva y confianza, especialmente si se ha establecido un pacto de confidencilidad.</p>
                    <p><b>Artículo 17º.-</b> El Negociador no debe divulgar asunto alguno sin la autorización expresa de los involucrados, ni utilizar en su favor o en el de terceros, el conocimiento íntimo de los asuntos de los participantes involucradas, adquiridos como resultado de su labor.</p>
                    <p><b>Artículo 18º.-</b> Esta relevado de su obligación de guardar secreto cuando imprescindiblemente debe revelar sus conocimientos para su defensa personal, en la medida en que la información sea insustituible.</p>
                    <p><b>E. HONORARIOS</b></p>
                    <p><b>Artículo 19º.-</b> Tiene la obligación de convenir como mínimo los honorarios que se fijen en el arancel.</p>
                    <p><b>Artículo 20º.-</b> Los honorarios pueden estar relacionados al monto involucrado, al resultado alcanzado o por un valor fijo.</p>
                    <p><b>F. INCOMPATIBILIDAD</b></p>
                    <p><b>Artículo 21º.-</b> No debe aceptar ni acumular cargos, funciones, tareas o asuntos que le resulten materialmente imposible atenderlos personalmente.</p>
                    <p><b>Artículo 22º.-</b> No intervenir cuando los participantes son organizaciones o asuntos en las que tenga - o pueda tener - interés creado, sin dar a conocer previamente dicha situación al interesado.</p>
                    <p><b>G. PRESCRIPCIÓN</b></p>
                    <p><b>Artículo 23º.-</b> La prescripción de las acciones derivadas de violaciones al Código de Ética se operará a los dos años de producido el hecho que le dio origen.</p>
                    <p><b>Artículo 24º.-</b> La prescripción es interrumpida por los actos procesales tendientes a la dilucidación o esclarecimiento del hecho violatorio o por la comisión de otra violación al presente Código.</p>
                    <p><b>H. SANCIONES</b></p>
                    <p><b>Artículo 25º.-</b> Toda trasgresión al presente Código será posible de las correcciones disciplinarias que establezca la <a href="#">Comisión Directiva del IANCA -Instituto Argentino de Negociación y Arbitraje</a>, que le proponga su <a href="#">Comité de Ética</a> o alguno de sus Miembros.</p>
                    <p><b>Artículo 26º.-</b> Las sanciones disciplinarias estarán en función de la gravedad y la reiteración del asunto, y podrán ser:
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                amonestación,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                suspensión,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                baja del registro, o
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                expulsión del IANCA.
                            </li>
                        </ul>
                    </p>
                    <p><b>Artículo 27º.-</b> El IANCA -Instituto Argentino de Negociación, Conciliación y Arbitraje puede decidir comunicar públicamente las sanciones.</p>
                    <p><b>Artículo 28º.-</b> Las sanciones pueden ser aplicadas a expertos que no se encuentren registrados cuando exhiban manifiestas violaciones al Código de Ética.<br><br>Estas personas serán sancionadas en la forma que establezca el Instituto.</p>
				</div>
			</div>
		</div>
	</section>
	<!-- Codigo Etica Negociacion section end-->
{% endblock %}
