{% extends 'base.html.twig' %}

{% block body %}
    <!-- Codigo Etica Terciacion section -->
	<section class="about-section spad pt-0">
		<div class="container">
			<div class="section-title text-center">
				<h3>CÓDIGO DE ÉTICA DE TERCIACIÓN</h3>
			</div>
            <div class="row">
				<div class="col-lg-12 about-text">
                    <p><b>A. PROPÓSITOS</b></p>
                    <p><b>Artículo 1º.-</b> Son objetivos de este código enunciar los principios y las pautas que deben guiar la honestidad, el comportamiento, la actitud, la diligencia, la buena fe, la vocación de servicio, la conducta del conciliador, el mediador o el árbitro, para el logro de elevados fines morales, científicos y técnicos, dando al cuerpo de expertos un conjunto de normas éticas para evitar que se pueda comprometer el honor y la probidad de los expertos, como así la imagen de la actividad o del instituto.</p>
                    <p><b>Artículo 2º.-</b> Estas normas éticas no excluyen otras no enunciadas expresamente, pero que surgen del digno y el correcto ejercicio de la actividad y del instituto.</p>
                    <p><b>Artículo 3º.-</b> No debe ser interpretado que este código admite aquello que no prohíbe expresamente.</p>
                    <p><b>B. INVOLUCRADOS</b></p>
                    <p><b>Artículo 4º.-</b> Estas normas son aplicables en la República Argentina en el ejercicio de los expertos en la actividad.</p>
                    <p><b>C. ACTUACIÓN</b></p>
                    <p><b>Artículo 5º.-</b> El ejercicio de la actividad debe ser:
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                consciente,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                digno,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                expresión de la verdad,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                honesto,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                reservado, e
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                imparcial,
                            </li>
                        </ul>
                    </p>
                    <p>norma permanente de conducta y finalidad de la actuación.<br><br>No debe utilizarse la técnica para distorsionar la realidad ni forzar los hechos.<br><br>No debe actuar como defensor ni agente para cualquiera de los participantes. Su obligación no es la de argumentar o la de defender el caso, sino la de oír y actuar de conformidad con su mejor entendimiento y criterio, y facilitar el análisis de el asunto y las posibles resoluciones.</p>
                    <p><b>Artículo 6º.-</b> Los compromisos verbales o escritos deben ser considerados, por igual, de estricto cumplimiento.</p>
                    <p><b>Artículo 7º.-</b> No debe intervenir en aquellos asuntos respecto de los cuales carezca de absoluta independencia o en el que posea un real o probable interés pecuniario, o de otro tipo, en el resultado de la controversia, salvo que los participantes presten su conformidad.<br><br>Tampoco debe intervenir cuando tiene cualquier entendimiento privado u obligación con alguna de los participantes respecto del asunto en conflicto o cuando exista alguna preferencia o prejuicio personal en favor o en contra de cualquiera de los participantes.</p>
                    <p><b>Artículo 8º.-</b> No debe aconsejar ni intervenir cuando su actuación permita, ampare o facilite actos incorrectos o punibles, pueda utilizarse para confundir o sorprender la buena fe de uno de los participantes, usarse en forma contraria al interés de la actividad o para evadir la ley.</p>
                    <p><b>Artículo 9º.-</b> No debe interrumpir la prestación de sus servicios hasta tanto haya finalizado su labor o cuando existan circunstancias especiales que lo impidan.<br><br>En este último caso debe comunicarlo con una antelación razonable, salvo que las circunstancias no lo permitan.</p>
                    <p><b>Artículo 10º.-</b> En la actuación debe respetar y aplicar las normas legales y morales y el espíritu de este código y otras disposiciones afines del Instituto.</p>
                    <p><b>Artículo 11º.-</b> Debe acatar, en su fondo y en su forma, las disposiciones sobre terciación del IANCA -Instituto Argentino de Negociación, Conciliación y Arbitraje.</p>
                    <p><b>Artículo 12º.-</b> Toda opinión, propuesta, sugerencia, o dictamen —oral o documental— que emita, debe responder a la realidad y ser expresado en forma clara, precisa, objetiva y completa, de modo que no pueda interpretarse erróneamente.</p>
                    <p><b>Artículo 13º.-</b> No debe utilizar en su actuación designaciones, representaciones o títulos que no posea.</p>
                    <p><b>Artículo 14º.-</b> Su labor debe evitar:
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                abuso de poder,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                favorecer a un participante en detrimento de otra,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                dilatar o trabar las actuaciones,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                irrazonabilidad u obstinación,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                indisciplina,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                mendacidad o engaño,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                injusticia o parcialidad,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                deslealtad,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                revelar intimidades de los participantes,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                molestar, perturbar u ofender a los involucrados, y
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                cohecho
                            </li>
                        </ul>
                    </p>
                    <p><b>Artículo 15º.-</b> Su labor debe procurar:
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                equidad,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                colaborar,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                disciplina,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                diligencia,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                crear un clima de confiabilidad,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                respetar las normas, las buenas costumbres, la moralidad,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                mantener los valores tradicionales y personales,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                neutralidad,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                bajar los climas emocionales,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                administrar los niveles de poder,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                conocer las cuestiones que satisfacen y los sacrificios de los participantes, y
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                activar sin presionar en sus actuaciones.
                            </li>
                        </ul>
                    </p>
                    <p><b>Artículo 16º.-</b> Debe actuar con plena conciencia del sentimiento y solidaridad de agrupamiento de expertos. No debe formular manifestaciones que puedan significar menoscabo a otro experto en su idoneidad, prestigio o moralidad.</p>
                    <p><b>Artículo 17º.-</b> El terciador no debe delegar sus obligaciones ni su autoridad. Cada terciador es responsable personalmente y está obligado a cumplir con todos los deberes de su función.</p>
                    <p><b>Artículo 18º.-</b> El terciador no debe dar la impresión de poseer una preferencia, por lo que no debe expresar opiniones o puntos de vista relativos al asunto o a los participantes, antes, durante o después de cumplido su cometido.</p>
                    <p><b>Artículo 19º.-</b> El terciador no debe intervenir en un proceso de mediación que esté conduciendo otro mediador, salvo que este último preste su consentimiento.</p>
                    <p><b>Artículo 20º.-</b> Cuando, en un proceso de mediación, participa más de un mediador, cada uno de ellos debe mantener informado a los otros del proceso, con un mutuo esfuerzo de colaboración, evitando la crítica o manifestar desacuerdo.</p>
                    <p><b>Artículo 21º.-</b> Los terciadores que actúan en el IANCA - Instituto Argentino de Negociación, Conciliación y Arbitraje, no deben:
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Usar su posición en beneficio propio,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Intervenir en actividades incompatibles,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Obligarse con alguno de los participantes, afectando su imparcialidad, y/o
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Actuar en cuestiones en las que no estén preparados.
                            </li>
                        </ul>
                    </p>
                    <p><b>Artículo 22º.-</b> Los terciadores que actúan en el IANCA - Instituto Argentino de Negociación, Conciliación y Arbitraje, deben:
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Procurar actualizarse y perfeccionarse permanentemente,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Actuar exclusivamente en aquellas tareas para las cuales están adecuadamente preparados,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Prestar servicios voluntarios - no rentados - para:
                                <ul class="about-list" style="margin-left:20px">
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        entrenar a otros mediadores noveles,
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        asistir a quienes no pueden abonar tales servicios, y/o
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Aceptar la supervisión profesional de la entidad.
                            </li>
                        </ul>
                    </p>
                    <p><b>D. SECRETO o CONFIDENCIALIDAD</b></p>
                    <p><b>Artículo 23º.-</b> La relación entre el terciador y los participantes debe ser desarrollada dentro de la más absoluta reserva y confianza.</p>
                    <p><b>Artículo 24º.-</b> El terciador no debe divulgar asunto alguno sin la autorización expresa del involucrado, ni utilizar en su favor o en el de terceros, el conocimiento íntimo de los asuntos de los participantes involucradas, adquiridos como resultado de su labor.</p>
                    <p><b>Artículo 25º.-</b> Está relevado de su obligación de guardar secreto cuando imprescindiblemente debe revelar sus conocimientos para su defensa personal, en la medida en que la información sea insustituible.</p>
                    <p><b>E. HONORARIOS</b></p>
                    <p><b>Artículo 26º.-</b> Tiene la obligación de convenir como mínimo los honorarios que se fijen en el arancel.</p>
                    <p><b>Artículo 27º.-</b> Los honorarios pueden estar relacionados al monto involucrado, al resultado alcanzado, por tiempo o por un valor fijo.</p>
                    <p><b>F. INCOMPATIBILIDAD</b></p>
                    <p><b>Artículo 28º.-</b> No debe aceptar ni acumular cargos, funciones, tareas o asuntos que le resulten materialmente imposible atenderlos personalmente.</p>
                    <p><b>Artículo 29º.-</b> No intervenir cuando los participantes son organizaciones, personas o asuntos en las que tenga - o pueda tener - interés creado sin dar a conocer previamente dicha situación al interesado.</p>
                    <p><b>Artículo 30º.-</b> Cuando en el ejercicio de sus actividades ya hubiere intervenido en un determinado no debería asesorar o dirigir —directa o indirectamente— en el mismo asunto —salvo el consentimiento expreso de los participantes—.</p>
                    <p><b>G. PRESCRIPCIÓN</b></p>
                    <p><b>Artículo 31º.-</b> La prescripción de las acciones derivadas de violaciones al Código de Ética se operará a los dos años de producido el hecho que le dio origen.</p>
                    <p><b>Artículo 32º.-</b> La prescripción es interrumpida por los actos procesales tendientes a la dilucidación o esclarecimiento del hecho violatorio o por la comisión de otra violación al presente Código.</p>
                    <p><b>H. SANCIONES</b></p>
                    <p><b>Artículo 33º.-</b> Toda trasgresión al presente Código será posible de las correcciones disciplinarias que establezca la <a href="#">Comisión Directiva del IANCA -Instituto Argentino de Negociación y Arbitraje</a>, que le proponga su <a href="#">Comité de Ética</a> o alguno de sus Miembros.</p>
                    <p><b>Artículo 34º.-</b> Las sanciones disciplinarias estarán en función de la gravedad y la reiteración del asunto, y podrán ser:
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                amonestación,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                suspensión,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                baja del registro, o
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                expulsión del IANCA.
                            </li>
                        </ul>
                    </p>
                    <p><b>Artículo 35º.-</b> El IANCA -Instituto Argentino de Negociación, Conciliación y Arbitraje puede decidir comunicar públicamente las sanciones.</p>
                    <p><b>Artículo 36º.-</b> Las sanciones pueden ser aplicadas a expertos que no se encuentren registrados cuando exhiban manifiestas violaciones al Código de Ética.<br><br>Estas personas serán sancionadas en la forma que establezca el Instituto.</p>
                    <p><b>I. RECOMENDACIONES</b></p>
                    <p><b>Artículo 37º.-</b> El terciador debe realizar los mayores esfuerzos en acelerar los procedimientos, estando al día, disponiendo la menor cantidad posible de aplazamientos de los plazos impuestos.</p>
                    <p><b>Artículo 38º.-</b> La terciación es un procedimiento de bajo costo, y que debe reducir los gastos, no incurriendo en erogaciones innecesarias o fuera de lo común.</p>
                    <p><b>Artículo 39º.-</b> Dado que la resolución del conflicto en forma tardía es injusto para los participantes, y que el tiempo implica una pérdida de dinero o de oportunidad, debe abreviar el procedimiento a lo máximo posible.</p>
                    <p><b>Artículo 40º.-</b> La terciación no es un litigio jurídico, por lo que debe mantenerse libre de tecnicismos o formalidades legales, como así del espíritu de los litigios.</p>
                    <p><b>Artículo 41º.-</b> El terciador debe procurar mantener el proceso:
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                libre de animosidad,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                sin recriminaciones, y
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                evitando conductas tendientes a menoscabar la buena fe de los procedimientos y las acciones
                            </li>
                        </ul>
                    </p>
                    <p><b>Artículo 42º.-</b> El terciador debe recordar que fue designado para procurar resolver el conflicto en forma imparcial y clara, y no para actuar como asesor o consejero de alguno de los participantes, o para dar ayuda a uno participante más que otro.</p>
                    <p><b>Artículo 43º.-</b> Cuando uno de los participantes está:
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                mentalmente alterado,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                con un estado emocional circunstancialmente obnubilado, y/o
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                intoxicado,
                            </li>
                        </ul>
                    </p>
                    <p>que puedan estar perjudicando su criterio de la realidad, el proceso no debe desarrollarse.</p>
                    <p><b>Artículo 44º.-</b> Cuando un potencial acuerdo es:
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                ilegal,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                injusto - y no deseado - por un de los participantes,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                producto de supuestos o condicionamientos dudosos,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                negociado de mala fe, y/o
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                dificultoso de cumplir,
                            </li>
                        </ul>
                    </p>
                    <p>puede optar entre:
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                manifestar sobre la problemática que observa, sugiriendo o no, cambios para solucionar la cuestión,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                retirarse de la mediación:
                                <ul class="about-list" style="margin-left:20px">
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        sin manifestar los motivos,
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        manifestando los motivos:
                                        <ul class="about-list" style="margin-left:20px">
                                            <li>
                                                <i class="fa fa-caret-right"></i>
                                                sin manifestar los motivos,
                                            </li>
                                            <li>
                                                <i class="fa fa-caret-right"></i>
                                                manifestando los motivos:
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Codigo Etica Terciacion section end-->
{% endblock %}
