{% extends 'base.html.twig' %}

{% block body %}
    <!-- Estatuto section -->
	<section class="about-section spad pt-0">
		<div class="container">
			<div class="section-title text-center">
				<h3>ESTATUTO</h3>
			</div>
            <div class="row">
				<div class="col-lg-12 about-text">
					<h5>TITULO I</h5>
                    <p><b>DENOMINACIÓN, DOMICILIO Y OBJETO SOCIAL</b></p>
                    <p><b>Artículo 1º.-</b> Con la denominación de <b>"Instituto Argentino de Negociación, Conciliación y Arbitraje, Asociación Civil"</b> se constituye el día 14 del mes de mayo de 1992, una entidad sin fines de lucro, con domicilio legal en la ciudad de Buenos Aires.</p>
                    <p><b>Artículo 2º.-</b> Son sus propósitos: a) Fomentar la investigación, el intercambio y difusión de experiencias, la acumulación de material bibliográfico, documental e informativo con la finalidad de mejorar, potenciar y prestigiar la tecnología y a los expertos en la disciplina, en especial con el enriquecimiento multidisciplianario; b) Vincular y acercar a los especialístas y/o aquellas personas que deseen introducirse en negociaciones, mediación, conciliación y arbitraje, fomentando su mayor y mejor conocimiento; c) Difundir la aplicación adecuada de las técnicas con un enfoque plenamente humanístico, ético y técnico procurando el mayor conocimiento, dignificación y reconocimiento por parte de las personas, las organizaciones, el gobierno, etcétera, para mejorar el desarrollo de los responsables, las organizaciones y el país; d) Analizar la problemática, la tecnología en los aspectos universales y la visualización de las cuestiones particulares de nuestro ambiente, por medio de reuniones técnicas, constitución de grupos de trabajo y/o evaluación, desarrollo de actividades de formación, perfeccionamiento, actualización y/o entrenamiento, conferencias, congresos, debates, exposiciones de ideas o métodos, cursos u otras actividades análogas, que propendan a dar una mayor y mejor capacidad y habilidad a las personas dedicadas a la aplicación de la tecnología, y que se puedan brindar conclusiones y recomendaciones que beneficien a los especialistas y los estudiosos en la materia, y que por natural derivación ello resulte una positiva contribución hacia los afectados y los asociados; e) Desarrollar normas para orientar y regular el ejercicio profesional de estas actividades; f) Realizar acciones culturales y sociales dirigidas a mejorar la calidad de vida de sus asociados; g) Evaluar la actuación ética y profesional de las personas involucradas en procesos de negociación, conciliación, mediación y/o arbitraje; h) Promover y difundir el conocimiento técnico y científico, los resultados de las investigaciones y las experiencias en el campo de la negociación, la conciliación, la mediación y el arbitraje; i) Vincular a las personas o las instituciones interesadas en tales disciplinas, fomentando su mayor y mejor conocimiento e intercambio; j) Coadyuvar a la jerarquización y prestigio de la tecnología y sus implantadores; k) Mantener relaciones con entidades del país, extranjeras o internacionales que posean fines similares o complementarios; l) Unificar criterios y emitir recomendaciones o suministrar conclusiones sobre temas atinentes a las tecnologías específicas, complementarias o colaterales; m) Realizar el análisis de la problemática de la tecnología en sus aspectos universales y en los particulares de nuestro ambiente para propender a dar una mayor y una mejor capacidad y habilidad a las personas dedicadas a la disciplina; n) Mantener estrechas relaciones con Asociados, Instituciones, Cámaras, etcétera -nacionales, extranjeras e internacionales- vinculados a los negociadores, conciliadores, mediadores y árbitros, o a aspectos de interrelaciones humanas, dirección general, éxito, etcétera, que se encuentran relacionados.</p>
                    <h5>TITULO II</h5>
                    <p><b>CAPACIDAD, PATRIMONIO Y RECURSOS SOCIALES</b></p>
                    <p><b>Artículo 3º.-</b> La Asociación está capacitada para adquirir bienes y contraer obligaciones. Podrá en consecuencia operar con instituciones financieras públicas y privadas.</p>
                    <p><b>Artículo 4º.-</b> El patrimonio se compone de los bienes que posee en la actualidad y los que adquiera en lo sucesivo por cualquier título y de los recursos que obtengan por: 1) las cuotas ordinarias y extraordinarias que abonan los Asociados; 2) las rentas de sus bienes; 3) las donaciones, herencias, legados y subvenciones; 4) el producto de reuniones, beneficios, rifas, festivales, servicios a los Asociados, publicaciones y de toda otra entrada que pueda obtener lícitamente de conformidad al carácter no lucrativo de la institución.</p>
                    <h5>TITULO III</h5>
                    <p><b>ASOCIADOS. CONDICIONES DE ADMISIÓN. RÉGIMEN DISCIPLINARIO.</b></p>
                    <p><b>Artículo 5º.-</b> Se establecen las siguientes categorías de Asociados: a) Activos o Adscriptos: los que invistan en carácter de negociador, conciliador, mediador y/o árbitro, o que se propongan desarrollarlo, tengan más de 18 años de edad y sean aceptados por Comisión Directiva. Los Asociados Activos son las personas físicas que se incorporan por sí mismas y los Asociados Adscriptos las que lo hacen en representación de Asociados Organizacionales, Patrocinantes o Patrocinantes Mayores; b) Honorarios: los que en atención a los servicios prestados a la Asociación o determinadas condiciones personales, sean designados por la Asamblea a propuesta de la Comisión Directiva o de un 20% de los Asociados con derecho a voto. La pertenencia a esta categoría es una mera mención honorífica y, por lo tanto, no implica reconocer derechos ni imponer obligaciones. Los Asociados honorarios que deseen tener los mismos derechos que los Activos o Adscriptos deberán solicitar su admisión en estas categorías a cuyo efecto se ajustarán las condiciones que el presente estatuto exige para la misma; y c) Organizacionales, Patrocinantes y Patrocinantes Mayores: que invistan la calidad de instituciones o personas físicas que quieran asociar a más de un representante como Asociado Adscripto. Los Organizacionales pueden asociar hasta un máximo de cuatro Adscriptos, los Patrocinantes hasta un máximo de ocho Adscriptos y los Patrocinantes Mayores hasta un máximo de quince Adscriptos.</p>
                    <p><b>Artículo 6º.-</b> Los Asociados Activos y Adscriptos tienen las siguientes obligaciones y derechos: 1) abonar las contribuciones ordinarias que establezca la Asamblea; 2) cumplir las demás obligaciones que impongan este estatuto, reglamento y las resoluciones de Asamblea y Comisión Directiva; 3) participar con voz y voto en las Asambleas cuando tenga una antigüedad de dos años; 4) ser elegidos para integrar los órganos sociales cuando tenga una antigüedad de seis meses; 5) gozar de los beneficios que otorga la entidad.</p>
                    <p><b>Artículo 7º.-</b> Perderá su carácter de Asociado el que hubiere dejado de reunir las condiciones requeridas por este estatuto para serlo.<br><br>El Asociado que se atrase en el pago de tres cuotas o de cualquier otra contribución establecida, será notificado fehacientemente de su obligación de ponerse al día con la Tesorería Social. Pasado un mes de la notificación sin que hubiera regularizado su situación, la Comisión Directiva podrá declarar la cesantía del Asociado moroso.<br><br>Se perderá también el carácter de Asociado por fallecimiento, renuncia o expulsión.</p>
                    <p><b>Artículo 8º.-</b> La Comisión Directiva podrá aplicar a los Asociados las siguientes sanciones: a) amonestación; b) suspensión, cuyo plazo máximo no podrá exceder de un año; c) expulsión, las que se graduarán de acuerdo a la gravedad de la falta y a las circunstancias del caso por las siguientes causas: 1) incumplimiento de las obligaciones impuestas por el estatuto, reglamento o resoluciones de las Asambleas y de la Comisión Directiva ; 2) inconducta notoria; 3) hacer voluntariamente daño a la Asociación, provocar desórdenes graves en su seno u observar una conducta que sea notoriamente perjudicial a los intereses sociales.</p>
                    <p><b>Artículo 9º.-</b> Las sanciones disciplinarias a que se refiere el artículo anterior serán resueltas por la Comisión Directiva previa defensa del inculpado. En todos los casos, el afectado podrá interponer -dentro del término de 30 días de notificado de la sanción- el recurso de apelación por ante la primera Asamblea que se celebre. La interposición del recurso tendrá efecto suspensivo. En cuanto a sus derechos de Asociado en el supuesto de ejercer el Asociado sancionado un cargo dentro de los Órganos de Administración o Fiscalización, podrá ser suspendido por dicho Órgano en ese carácter, hasta tanto resuelva su situación la Asamblea respectiva.</p>
                    <h5>TITULO IV</h5>
                    <p><b>COMISIÓN DIRECTIVA Y ÓRGANO DE FISCALIZACIÓN</b></p>
                    <p><b>Artículo 10º.-</b> La Asociación será dirigida por una Comisión Directiva compuesta de doce miembros titulares, que desempeñaran los siguientes cargos: Presidente, Vicepresidente, Secretario, Prosecretario, Tesorero, Protesorero, Secretario de Actas, Prosecretario de Actas y cuatro Vocales Titulares. El mandato de los mismos durará cuatro años. Habrá además cuatro Vocales Suplentes, cuyos mandatos durarán cuatro años.<br><br>Habrá un Órgano de Fiscalización compuesto por dos Revisores de Cuentas Titulares, los que tendrán dos Revisores de Cuentas Suplentes. Sus mandatos durarán cuatro años.<br><br>En todos los casos los mandatos son únicamente revocables por la asamblea. Los miembros de los órganos sociales podrán ser reelegidos y se renovarán por mitades cada dos años.</p>
                    <p><b>Artículo 11º.-</b> Para integrar los órganos sociales se requiere pertenecer a la categoría de Asociado Activo o de Asociado Adscripto con una antigüedad de cuatro años y ser mayor de edad.</p>
                    <p><b>Artículo 12º.-</b> En caso de licencia, renuncia, fallecimiento o cualquier otra causa que ocasione la vacancia transitoria o permanente de un cargo Titular, entrará a desempeñarlo quien corresponda por orden de lista. Este reemplazo se hará por el término de la vacancia y siempre que no exceda el mandato por el que fuera elegido dicho suplente.</p>
                    <p><b>Artículo 13º.-</b> Si el número de miembros de la Comisión Directiva quedará reducido menos de la mayoría absoluta del total, habiendo sido llamados todos los suplentes a reemplazar a los titulares, los restantes deberán convocar a Asamblea dentro de los quince días para celebrarse dentro de los treinta días siguientes, a los efectos de su integración. En caso de vacancia total del cuerpo, el Órgano de Fiscalización cumplirá dicha convocatoria, todo ello sin perjuicio de las responsabilidades que incumban a los miembros directivos renunciantes.<br><br>En ambos casos, el órgano que efectúa la convocatoria tendrá todas las facultades inherentes a la celebración de la Asamblea o de los comicios.</p>
                    <p><b>Artículo 14º.-</b> La Comisión Directiva se reunirá -como mínimo- una vez por mes, el día y hora que determine en su primera reunión anual y además toda vez que sea citada por el Presidente o a pedido del Órgano de Fiscalización o dos de sus Miembros, debiendo en éstos últimos casos celebrarse la reunión dentro de los siete días. La citación se hará por circulares y con cinco días de anticipación. Las reuniones se celebrarán válidamente con la presencia de la mayoría absoluta de sus miembros, requiriéndose para las resoluciones el voto de igual mayoría de los presentes, salvo para las reconsideraciones que requerirán el voto de las dos terceras partes, en sesión de igual o mayor número de asistentes de aquella en que se resolvió el tema a reconsiderar.</p>
                    <p><b>Artículo 15º.-</b> Son atribuciones y deberes de la Comisión Directiva:
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Ejecutar las resoluciones de las Asambleas, cumplir y hacer cumplir este Estatuto y los Reglamentos, interpretándolos en caso de duda con cargo de dar cuenta a la Asamblea más próxima que se celebre;
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Ejercer la administración de la Asociación;
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Convocar a Asambleas;
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Resolver la admisión de los que solicitan ingresar como Asociados;
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Cesantear o sancionar a los Asociados;
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Nombrar al personal o colaboradores necesarios para el cumplimiento de la finalidad social, fijarle sueldo, determinarle las obligaciones, sancionarlo y despedirlo;
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Presentar a la Asamblea general ordinaria la Memoria, Balance General, Inventario, Cuenta de Gastos Recursos e Informe del Órgano de Fiscalización. Todos estos documentos deberán ser puestos en conocimiento de los Asociados con la anticipación requerida por el Artículo 25 para la convocatoria a Asamblea ordinaria;
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Realizar los actos que especifican los Artículos 1881 y concordantes del Código Civil, con cargo de dar cuenta a la primera Asamblea que se celebré, salvo los casos de adquisición y enajenación de inmuebles y constitución de gravámenes sobre éstos en que será necesaria la autorización previa de la Asamblea;
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Realizar los actos que especifican los Artículos 1881 y concordantes del Código Civil, con cargo de dar cuenta a la primera Asamblea que se celebré, salvo los casos de adquisición y enajenación de inmuebles y constitución de gravámenes sobre éstos en que será necesaria la autorización previa de la Asamblea;
                            </li>
                        </ul>
                    </p>
                    <p><b>Artículo 16º.-</b> El Órgano de Fiscalización tendrá las siguientes atribuciones y deberes:
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Controlar permanentemente los libros y documentación contable respaldatoria de los asientos volcados, fiscalizando la administración, comprobando el estado de la caja y la existencia de los fondos, títulos y valores;
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Asistir a las sesiones de Comisión Directiva cuando lo estime conveniente, con voz y sin voto, no computándose su asistencia a los efectos del quórum;
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Verificar el cumplimiento de las leyes, estatutos y reglamentos, en especial en lo referente a los derechos de los Asociado y las condiciones en que se otorgan los beneficios sociales;
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Anualmente, dictaminará sobre la Memoria, Inventario, Balance General y Cuenta de Gastos y Recursos presentadas por la Comisión Directiva , a la Asamblea ordinaria al cierre del ejercicio;
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Convocar, a Asamblea ordinaria cuando omitiere hacerlo la Comisión Directiva , previa intimación fehaciente a la misma por el término de 15 días;
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Solicitar la convocatoria a Asamblea extraordinaria cuando lo juzgue necesario, poniendo los antecedentes que fundamentan su pedido en conocimiento de la Inspección General de Justicia cuando se negare a acceder a ello la Comisión Directiva;
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Convocar, dando a cuenta el Organismo de Control a Asamblea extraordinaria, cuando este fuera solicitada infructuosamente a la Comisión Directiva por la Asociación, de conformidad con los términos del Artículo 24;
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Vigilar las operaciones de liquidación de la Asociación.
                            </li>
                        </ul>
                        El Órgano de Fiscalización cuidará de ejercer sus funciones de modo que no entorpezca la regularidad de la administración social.
                    </p>
                    <h5>TITULO V</h5>
                    <p><b>DEL PRESIDENTE</b></p>
                    <p><b>Artículo 17º.-</b> Corresponde al Presidente o a quien lo reemplace estatutariamente:
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Ejercer la representación de la Asociación;
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Citar a las Asambleas y convocar a las sesiones de la Comisión Directiva y presidirla;
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Tendrá derecho a voto en las sesiones de la Comisión Directiva al igual que los demás miembros del cuerpo y, en caso de empate, votará nuevamente para desempatar;
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Firmar con el Secretario las actas de Asamblea y de la Comisión Directiva , la correspondencia -que obligue- y todo documento de la Asociación;
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Autorizar las cuentas de gastos, firmando los recibos y demás documentos de la tesorería de acuerdo con lo resuelto por la Comisión Directiva. No permitirá que los fondos sociales sean invertidos en objetos ajenos a lo prescrito por este Estatuto;
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Dirigir las discusiones, suspender y levantar las sesiones de la Comisión Directiva y Asambleas cuando se altere el orden y falte el respeto debido;
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Velar por la buena marcha y administración de la Asociación, observando y haciendo observar el estatuto, reglamentos, las resoluciones de las Asambleas y de la Comisión Directiva;
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Sancionar a cualquier empleado que no cumpla con sus obligaciones, adoptar las resoluciones en los casos imprevistos. En ambos supuestos será "ad referendum" de la primera reunión de Comisión Directiva.
                            </li>
                        </ul>
                    </p>
                    <h5>TITULO VI</h5>
                    <p><b>DEL SECRETARIO</b></p>
                    <p><b>Artículo 18º.-</b> Corresponde al Secretario o a quien lo reemplace estatutariamente:
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Asistir a las Asambleas y sesiones de Comisión Directiva, revisar la redacción las actas respectivas, las que firmará con el Presidente y el Secretario de Actas;
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Firmará con el Presidente la correspondencia -que obligue- y todo documento de la Asociación;
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Citar a las sesiones de la Comisión Directiva de acuerdo a lo prescrito por el Artículo 14;
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Llevar conjuntamente con el Tesorero, el Registro de Asociados.
                            </li>
                        </ul>
                    </p>
                    <h5>TITULO VII</h5>
                    <p><b>DEL TESORERO</b></p>
                    <p><b>Artículo 19º.-</b> Corresponde al Tesorero o a quien lo reemplace estatutariamente:
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Asistir a las sesiones de la Comisión Directiva y a las Asambleas;
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Llevar conjuntamente con el Secretario el Registro de Asociados, será responsable de todo lo relacionado con el cobro de las cuotas sociales;
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Llevar los libros de contabilidad;
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                 Presentar a la Comisión Directiva Balance General y Cuenta de Gastos y Recursos e Inventario correspondientes al ejercicio vencido, que previa aprobación de la Comisión Directiva serán sometidos a la Asamblea Ordinaria;
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Firmar los recibos y además documentos de Tesorería efectuando los pagos resueltos por la Comisión Directiva;
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Depositar en una Institución financiera a nombre de la Asociación y a la orden conjunta del Presidente y Tesorero, los fondos ingresados a la Caja Social , pudiendo retener en la misma hasta la suma que la Comisión Directiva determine;
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Dar cuenta del estado económico de la entidad a la Comisión Directiva y al Órgano de Fiscalización toda vez que se le exija.
                            </li>
                        </ul>
                    </p>
					<h5>TITULO VIII</h5>
					<p><b>DEL SECRETARIO DE ACTAS</b></p>
					<p><b>Artículo 20.-</b> Corresponde al Secretario de Actas o a quien lo reemplace estatutariamente:
						<ul class="about-list" style="margin-left:20px">
							<li>
								<i class="fa fa-check-square-o"></i>
								Asistir a las sesiones de la Comisión Directiva y a las Asambleas;
							</li>
							<li>
								<i class="fa fa-check-square-o"></i>
								Llevar el Libro de Actas de Comisión Directiva y de Asambleas, las que firmará conjuntamente con el Presidente y el Secretario;
							</li>
							<li>
								<i class="fa fa-check-square-o"></i>
								Tener registro de las autoridades e integrantes de los Comités de trabajo y evaluación que designe la Comisión Directiva.
							</li>
						</ul>
					</p>
					<h5>TITULO IX</h5>
					<p><b>DE LOS VICEPRESIDENTE, PROSECRETARIO, PROTESORERO Y PROSECRETARIO DE ACTAS</b></p>
					<p><b>Artículo 21.-</b> Corresponde al Vicepresidente reemplazar y colaborar con el Presidente, al Prosecretario reemplazar y colaborar con el Secretario, al Protesorero reemplazar y colaborar con el Tesorero, y al Prosecretario de Actas reemplazar y colaborar con el Secretario de Actas.</p>
					<h5>TITULO X</h5>
					<p><b>DE LOS VOCALES TITULARES Y SUPLENTES</b></p>
					<p><b>Artículo 22.-</b> Corresponde a los Vocales Titulares:
						<ul class="about-list" style="margin-left:20px">
							<li>
								<i class="fa fa-check-square-o"></i>
								Asistir a las Asambleas y sesiones de la Comisión Directiva con voz y voto;
							</li>
							<li>
								<i class="fa fa-check-square-o"></i>
								Desempeñar las comisiones y tareas que la Comisión Directiva les confíe.
							</li>
						</ul>
					</p>
					<p><b>Artículo 23.-</b> Corresponde a los Vocales Suplentes:
						<ul class="about-list" style="margin-left:20px">
							<li>
								<i class="fa fa-check-square-o"></i>
								Entrar a formar parte de la Comisión Directiva en las condiciones previstas en estos estatutos;
							</li>
							<li>
								<i class="fa fa-check-square-o"></i>
								Podrán concurrir a las sesiones de la Comisión Directiva con derecho a voz pero no a voto. No será computable su asistencia a los efectos del quórum.
							</li>
						</ul>
					</p>
					<h5>TITULO XI</h5>
					<p><b>ASAMBLEAS</b></p>
					<p><b>Artículo 24.-</b> Habrá dos clases de Asambleas generales: Ordinarias y Extraordinarias. Las Asambleas Ordinarias tendrán lugar una vez por año, dentro de los primeros cuatro meses posteriores al cierre de ejercicio cuya fecha de clausura será el 30 de junio de cada año y en ellas se deberá:
						<ul class="about-list" style="margin-left:20px">
							<li>
								<i class="fa fa-check-square-o"></i>
								Considerar, aprobar o modificar la Memoria, Balance General, Inventario, Cuenta de gastos y Recursos e Informe del Órgano de Fiscalización;
							</li>
							<li>
								<i class="fa fa-check-square-o"></i>
								Elegir, en su caso, los miembros de los órganos sociales, titulares y suplentes;
							</li>
							<li>
								<i class="fa fa-check-square-o"></i>
								Fijar la cuota social y determinar las pautas para su modificación, las que serán instrumentadas por la Comisión Directiva;
							</li>
							<li>
								<i class="fa fa-check-square-o"></i>
								Tratar cualquier otro asunto incluido en el Orden del Día;
							</li>
							<li>
								<i class="fa fa-check-square-o"></i>
								Tratar los asuntos propuestos por un mínimo del 5% de los Asociados y presentados a la Comisión Directiva dentro de los 30 días de cerrado el ejercicio anual.
							</li>
						</ul>
					</p>
					<p><b>Artículo 25º.-</b> Las Asambleas Extraordinarias serán convocadas siempre que la Comisión Directiva lo estime necesario, o cuando lo soliciten el Órgano de Fiscalización o el 5% de los Asociados con derecho a voto. Estos pedidos deberán ser resueltos dentro de un término de 10 días y celebrarse la Asamblea dentro del plazo de 30 días y si no se tomase en consideración la solicitud o se negare infundadamente, podrá requerirse en los mismos términos y procedimiento al Órgano de Fiscalización quien la convocará o se procederá de conformidad con lo que determine el Artículo 10 inciso i) de la Ley 22.315 o norma que en el futuro la reemplace.</p>
					<p><b>Artículo 26º.-</b> Las Asambleas se convocarán por circulares remitidas al domicilio de los Asociados con 20 días de anticipación. Con la misma antelación deberá ponerse a consideración de los Asociados la Memoria, Balance General, Inventario, Cuenta de gastos y Recursos e Informe del Órgano de Fiscalización.<br><br>Cuando se sometan a consideración de la Asamblea reformas al estatuto o reglamentos, el proyecto de las mismas deberá ponerse a disposición de los Asociados con idéntico plazo.<br><br>En las Asambleas no podrán tratarse otros asuntos que los incluidos expresamente en el orden del día salvo que se encontrare presente la totalidad de los Asociados con derecho a voto, y debe votare por unanimidad la incorporación del tema.</p>
					<p><b>Artículo 27º.-</b> Las Asambleas se celebrarán válidamente, aun en los casos de reforma de Estatutos y de disolución social, sea cual fuere el número de Asociados concurrentes, media hora después de la fijada en la convocatoria, si antes no se hubiera reunido ya la mayoría absoluta de los Asociados con derecho a voto.<br><br>Serán presididas por el Presidente de la entidad o, en su defecto, por quien la Asamblea designe por mayoría simple de votos emitidos. Quien ejerza la Presidencia sólo tendrá voto en caso de empate.</p>
					<p><b>Artículo 28º.-</b> Las resoluciones se adoptarán por mayoría absoluta de votos emitidos, salvo cuando ese estatuto se refiera expresamente a otras mayorías. Ningún Asociado podrá tener más de un voto y los miembros de la Comisión Directiva y Órgano de Fiscalización no podrán votar en asuntos relacionados con su gestión.<br><br>Los Asociados que se incorporen una vez iniciado el acto sólo tendrán voto en los puntos aún no resueltos.</p>
					<p><b>Artículo 29º.-</b> Con la anticipación prevista por el Artículo 26º se pondrá a exhibición de los Asociados el padrón de los que están en condiciones de intervenir, quienes podrán efectuar reclamos hasta cinco días antes de acto, los que deberán resolverse dentro de los dos días siguientes. Se excluirán del padrón a quienes estuvieren efectivamente cesanteados. Ello sin perjuicio de privársele de su participación en la Asamblea si no abonan la deuda pendiente, hasta el momento del inicio de la misma.</p>
					<h5>TITULO XII</h5>
					<p><b>DISOLUCIÓN Y LIQUIDACIÓN</b></p>
					<p><b>Artículo 30.-</b> La Asamblea no podrá decretar la disolución de la Asociación mientras haya una cantidad de Asociados dispuestos a sostenerla, que posibilite el regular funcionamiento de los órganos sociales.</p>
					<hr>
					<p><i>El Órgano de Fiscalización deberá vigilar las operaciones de liquidación de la Asociación. Una vez pagadas las deudas, el remanente patrimonial deberá pasar a otra entidad exenta reconocida por la Administración Federal de Ingresos Públicos – Dirección General Impositiva o a poder de la Nación, Provincias o Municipios</i></p>
					<hr>
					<p>Inscripto en <b>Inspección General de Justicia</b>  por expediente número correlativo 1.570.170 según Resolución IGJ Nº 000807/93, de fecha 7 de octubre de 1993.</p>
				</div>
			</div>
		</div>
	</section>
	<!-- Estatuto section end-->
{% endblock %}
