{% extends 'base.html.twig' %}

{% block body %}
    <!-- norma dialogo mediacion section -->
	<section class="about-section spad pt-0">
		<div class="container">
			<div class="section-title text-center">
				<h3>NORMA DE DIALOGO EN LA MEDIACIÓN</h3>
			</div>
            <div class="row">
				<div class="col-lg-12 about-text">
                    <p>(Aprobado en la reunión de Comisión Directiva del 8 de noviembre de 1995)</p>
                    <p><b>OBJETIVO</b></p>
                    <p>Establecer las reglas y las pautas que permitan el desarrollo de diálogos ordenados, constructivos, educados con adecuado intercambio de ideas entre los involucrados.</p>
                    <p>El diálogo debe ser para que quienes participan en el mismo puedan conocer las posiciones, los argumentos, las situaciones, cómo las interpreta cada uno, la información disponible, etcétera, como así también lo que están necesitando o quieren los involucrados.</p>
                    <p>Sustituir el caos por el orden y la mesura.</p>
                    <p>Tiene como finalidad orientar a los involucrados en la discusión para adelantar sus tareas y funciones en forma ordenada, sin confusión y en armonía con los diferentes grupos e individuos.</p>
                    <p>Las reglas dan la oportunidad de expresar las opiniones y discutir ampliamente los asuntos antes de llegar a una decisión final.</p>
                    <p><b>REGLAS</b></p>
                    <p><b>A. Coordinación del diálogo</b></p>
                    <p>
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                El mediador es quien debe coordinar y administrar el diálogo entre los participantes (titulares y asesores) y entre él y los participantes.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                El mediador puede celebrar reuniones con todos los involucrados (titulares y asesores), reuniones privadas, con todos los integrantes de una de los participantes (titulares y asesores) o parciales, con algunos de los participantes (un titular solo sin sus asesores, con ambos titulares solos sin sus asesores, con uno o varios de los asesores de participante, etcétera). Debe cuidarse adecuadamente la distribución de los tiempos, informando a los participantes para no aparentar parcialidad a la vista de ninguno de los participantes.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                El mediador debe asegurarse que ha interpretado la idea, los conceptos o las cuestiones que cada participante señala, para lo cual debe repetir sintéticamente los mismos con palabras claras de acuerdo al nivel y conocimiento de los involucrados, y solicitar al dicente que manifieste si esa interpretación es adecuada.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                El mediador debe asegurarse que todos los involucrados hayan interpretado cabalmente lo que se dice durante el diálogo, para lo cual debe parafrasear lo dicho y solicitar a todos los participantes que manifiesten si han entendido lo dicho.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Si los participantes han llegado a un acuerdo en un tema escribir el concepto, si es posible y leer lo escrito a los involucrados para asegurar su formalización, antes de continuar con otro tema.
                            </li>
                        </ul>
                    </p>
                    <p><b>B. Desarrollo del diálogo</b>
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                El mediador es quien debe asignar el uso de la palabra, ya sea a solicitud de cada asistente o a pedido del mediador.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Los presentes —autorizados a hablar, en la medida de lo posible— deben solicitar el uso de la palabra al mediador para así mantener el orden del diálogo.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Si hay varios participantes presentes que quieren hacer uso de la palabra a la vez se establecerá un orden para que lo hagan por turno.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Es esencial para mantener un diálogo adecuado respetar a quien está haciendo uso de la palabra, para lo cual es menester:
                                <ul class="about-list" style="margin-left:20px">
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        escuchar atentamente lo que dice cada uno, interpretando lo que realmente quiere transmitir,
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        no interrumpir o superponerse en el uso de la palabra con quien la tiene en ese momento,
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        prestar atención.
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                De ser posible debe ser tratado un único tema por vez, y circunscribirse a ese tema o idea.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Escribir lo entendido y/o acordado antes de continuar con otro tema.
                            </li>
                        </ul>
                    </p>
                    <p><b>C. Recomendaciones para una intercomunicación adecuada</b>
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Todos los involucrados deben respetar las reglas del diálogo, como así también a quien está encargado de administrarlo, o sea al mediador.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Cada persona que hace uso de la palabra debe procurar:
                                <ul class="about-list" style="margin-left:20px">
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        ser coherente, conciso, concreto, claro e ilustrativo
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        no ser reiterativo
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        no elevar el tono de la voz
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        dejar hablar a los demás
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        no hacer recriminaciones, imputaciones, acusaciones ni agresiones
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        ser constructivo y positivo
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        no ser agresivo
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        apuntar hacia el meollo del conflicto, creando opciones
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        ser objetivos y racionales
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        usar un tono agradable y claro de voz
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        ser honesto
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        usar un lenguaje comprensible para todos
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        permitir que cada persona hable sin ser interrumpida
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        ser corteses y amables al dirigirse al otro
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        no discutir ni pelearse
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        escuchar todo lo que otras personas tienen que decir
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        no hablar por la otra persona, o imputarle intenciones, motivos o puntos de vista
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        ceñirse a los hechos
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        analizar las opciones para resolver el tema
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Cuando algo queda confuso o incompleto se deben dar las explicaciones o ampliar la información para que todos tengan clara la situación, las posiciones, las potenciales soluciones, etcétera.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                El diálogo debe procurar hacerse exclusivamente sobre las cuestiones que hacen a la esencia del asunto, y deben evitarse todas aquellas cuestiones ajenas al mismo.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Los participantes deben tratar de dar respuesta a todas las preguntas del mediador, ya sea en las reuniones conjuntas o parciales.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Para ordenar el diálogo con personas que no respetan el uso de la palabra pueden ser utilizadas diferentes opciones: tales como uso de la barra, cortar la sesión, tarjeta, números de orden, etcétera.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Para las personas agresivas, con emociones fuertes o tímidas, puede sugerirse que la comunicación se entable dirigiéndose al mediador, aun estando presente el otro participante.
                            </li>
                        </ul>
                    </p>
                </div>
			</div>
		</div>
	</section>
	<!-- norma dialogo mediacion section end-->
{% endblock %}
