{% extends 'base.html.twig' %}

{% block body %}
    <!-- Pautas de Organización de los Congresos section -->
	<section class="about-section spad pt-0">
		<div class="container">
			<div class="section-title text-center">
				<h3>
                    VII Congreso Internacional de seguridad Personal sin Violencia ante el Delito
                </h3>
				<p>Prevención, Administración de incidentes y Recuperación</p>
                <br>
                <h3>
                    II Congreso Internacional para la Seguridad Humana
                </h3>
			</div>
            <hr>
            <div class="section-title text-center">
				<h3>Pautas de Organización de los Congresos</h3>
			</div>
            <div class="row">
				<div class="col-lg-12 about-text">
                    <p><b>a. Inscripción de asistentes</b>
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                A los Congresos puede inscribirse cualquier persona, no existen requisitos que limiten la participación.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Las personas que se inscriban deben completar sus datos en la correspondiente "ficha de inscripción", donde es imprescindible que escriban correctamente su:
                                <ul class="about-list" style="margin-left:20px">
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        Nombre (s) y apellido (s) para poder emitir su correspondiente certificado.
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        Dirección de correo electrónico para poder enviar posteriormente el material de los Congresos. Sí reemplaza su correo electrónico informado, debe de comunicarlo para poder recibir el material.
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </p>
                    <p><b>b. Asistencia</b>
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Los asistentes deberán registrar su asistencia en cada uno de los Paneles o Talleres en los que participe.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Para obtener el certificado de asistencia deberá tener una participación registrada en un mínimo de 16 horas de los Paneles y/o los Talleres del Congreso.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                La asistencia registrada acreditan hasta 22 horas de capacitación continua para lo requerido para la actualización y especialización que establece el ministerio de Justicia y Derechos Humanos.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Los organizadores de los Congresos desarrollarán un control de asistencia de los participantes una vez culminado el Congreso, por lo que los certificados estarán disponibles 15 días después de su finalización.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                El Congreso Internacional de Negociación y Administración de Conflictos, los paneles, los talleres y los cursos anexos específicos están homologados para Mediadores y Conciliadores por la Dirección Nacional de Promoción de Métodos Participativos de Justicia, del Ministerio de Justicia y Derechos Humanos.
                            </li>
                        </ul>
                    </p>
                    <p><b>c. Certificados</b>
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Los certificados de los Congresos estarán a disposición de los Asistentes, Panelistas y demás Participantes a los 15 días de terminado el mismo, en el domicilio del IANCA.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                El interesado puede solicitar la remisión vía correo electrónico en un archivo Acrobat Reader (.pdf).
                            </li>
                        </ul>
                    </p>
                    <p><b>d. Sorteos</b>
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                En el acto de cierre de los Congresos serán sorteados, únicamente entre las personas que se hallen presentes, los premios que donen los "sponsors", los organizadores, etcétera.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Los sorteos se harán con las fichas de inscripción.
                            </li>
                        </ul>
                    </p>
                    <p><b>e. Talleres</b>
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Los talleres son desarrollados por equipos de trabajo para desarrollar un tema y deben entregar un resumen del tema y sus conclusiones con una extensión mínima de 5 páginas (formato A4, fuente Arial 12, interlineado simple, márgenes superior, izquierdo e inferior 2 centímetros y derecho 1 centímetro ) que debe ser entregado con una anticipación mínima de 15 días al inicio de los Congresos, en papel y en disquete para integrarlo al material que se enviará por correo electrónico a los asistentes y panelistas.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                La duración de cada taller es de una hora.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                En el material deben figurar el nombre y apellido de los componentes del equipo (presentes y ausentes).
                            </li>
                        </ul>
                    </p>
                </div>
			</div>
		</div>
	</section>
	<!-- Pautas de Organización de los Congresos section end-->
{% endblock %}
