{% extends 'base.html.twig' %}

{% block body %}
    <!-- norma negociadores crisis section -->
	<section class="about-section spad pt-0">
		<div class="container">
			<div class="section-title text-center">
				<h3>REGISTRO DE NEGOCIADORES DE CRISIS</h3>
			</div>
            <div class="row">
				<div class="col-lg-12 about-text">
                    <p>(Aprobado por la Comisión Directiva del IANCA del 26 de Abril de 2001 y de Proteger del 10 de abril de 2001)</p>
                    <p><b>CAPITULO I - INSCRIPCIÓN Y SOLICITANTES</b></p>
                    <p><b>Artículo 1º.-</b> Las personas podrán solicitar su inscripción al IANCA en los Registros de:
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Negociador de Crisis,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Asesor de Negociador de Crisis, y
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Administrador de entorno de Crisis,
                            </li>
                        </ul>
                    </p>
                    <p>para lo cual deberán satisfacer los siguientes requisitos:</p>
                    <p>
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Al iniciar el trámite:
                                <ul class="about-list" style="margin-left:20px">
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        ser Asociado Activo del IANCA (Instituto Argentino de Negociación, Conciliación y Arbitraje) y de Proteger (Amparo a la víctima),
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        tener la cuota al día en el IANCA y en Proteger,
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        presentar personalmente y firmar su solicitud de inscripción por cada matrícula y dejar constancia de conocer el presente reglamento,
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        presentar su documento de identidad (D.N.I., C.I., L.C., L.E., Pasaporte), donde consten nombre(s) y apellido(s) consistentes con los presentados en la solicitud de inscripción,
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        acompañar sus antecedentes personales y profesionales,
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        acompañar copias de los títulos, certificados, diplomas, documentos, etcétera sobre negociación, conciliación, mediación y/o arbitraje,
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Al otorgárseles la inscripción en el registro:
                                <ul class="about-list" style="margin-left:20px">
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        abonar los derechos de protocolo por cada registro y credencial,
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        entregar dos fotografías recientes, de color de 3 por 3 centímetros , de frente y con fondo blanco,
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        firmar el folio matriz del registro atribuido, las fichas de registro de firma.
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </p>
                    <p><b>CAPITULO II - DE LA CALIFICACIÓN</b></p>
                    <p><b>Artículo 2º.-</b> Para la inscripción en el registro debe estar calificado por el Comité de Calificación. Los registrados podrán pedir –como máximo una por cada año calendario– su calificación o reclasificación en grado cualitativo.</p>
                    <p><b>Artículo 3º.-</b> La recomendación de la calificación de los aspirantes a ser calificados estará a cargo del Comité de Calificación y deberá ser decidida por la Comisión Directiva del IANCA que es la entidad encargada de administrar el servicio de negociación de crisis.</p>
                    <p><b>Artículo 4º.-</b> Para determinar la calificación de cada aspirante serán tomados en consideración los antecedentes, las labores realizadas, la actuación, los estudios, las investigaciones, etcétera que acrediten la calidad y grado de conocimiento y experiencia del solicitante.</p>
                    <p><b>Artículo 5º.-</b> La gradación de la calificación será de hasta cinco niveles, comenzando por el primer nivel los que posean menor grado.</p>
                    <p><b>Artículo 6º.-</b> Para distinguir el grado de calificación para cada una de los registros se tomará un símbolo, que se repetirá tantas veces como resulte el nivel del registrado para cada una de las mismas.</p>
                    <p><b>Artículo 7º.-</b> En el registro de Negociadores, asesores y Administradores de entorno la calificación se indicará por:
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                una mano, nivel UNO de negociador de crisis,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                dos manos, nivel MEDIO de negociador de crisis,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                tres manos, nivel SUPERIOR de negociador de crisis,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                cuatro manos, nivel AVANZADO de negociador de crisis, y
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                cinco manos, MÁXIMO nivel de negociador de crisis.
                            </li>
                        </ul>
                    </p>
                    <p><b>Artículo 8º.-</b> En el registro de Asesores de Negociadores, asesores y Administradores de entorno de Crisis la calificación se indicará por:
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                una paloma, nivel UNO de asesor de negociador de crisis,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                dos palomas, nivel MEDIO de asesor de negociador de crisis,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                tres palomas, nivel SUPERIOR de asesor de negociador de crisis,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                cuatro palomas, nivel AVANZADO de asesor de negociador de crisis, y
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                cinco palomas, MÁXIMO nivel de asesor de negociador de crisis.
                            </li>
                        </ul>
                    </p>
                    <p><b>Artículo 9º.-</b> En el registro de Administrador de Entorno de Crisis la calificación se indicará por:
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                una pluma, nivel UNO de Administrador de Entorno de Crisis,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                dos plumas, nivel MEDIO de Administrador de Entorno de Crisis,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                tres plumas, nivel SUPERIOR de Administrador de Entorno de Crisis,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                cuatro plumas, nivel AVANZADO de Administrador de Entorno de Crisis, y
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                cinco plumas, MÁXIMO nivel de Administrador de Entorno de Crisis.
                            </li>
                        </ul>
                    </p>
                    <p><b>Artículo 10º.-</b> El IANCA se reserva la facultad de reclasificar a los registrados si así lo estimare conveniente.</p>
                    <p><b>CAPITULO III - DOCUMENTACIÓN DE ESTUDIOS</b></p>
                    <p><b>Artículo 11º.-</b> Los diplomas, certificados, títulos, etcétera no deben presentar enmiendas ni raspaduras, interlineas, que, que no hayan sido debidamente salvados por la autoridad otorgante.</p>
                    <p><b>Artículo 12º.-</b> Si el titular hubiere modificado posteriormente su nombre(s) y/o apellido(s), este hecho deberá ser debidamente comprobado.</p>
                    <p><b>Artículo 13º.-</b> Los títulos expedidos por entidades, públicas o privadas, deberán llevar constancia de su registro en la Dirección Nacional pertinente correspondientemente legalizada por el Ministerio de Educación y Cultura de la Nación, salvo que sean certificados expedidos por el IANCA o por Proteger.</p>
                    <p><b>Artículo 14º.-</b> En el caso de títulos terciarios –de cualquier naturaleza– deberá presentarse una copia de los planes de estudio para poder determinar sus potenciales conocimientos específicos o afines a lo que se solicita la registración.</p>
                    <p><b>CAPITULO IV - CREDENCIAL Y DIPLOMA</b></p>
                    <p><b>Artículo 15º.-</b> A cada registrado le corresponderá una única credencial donde consten todas sus inscripciones y calificaciones, que le será sustituida cada nueva registración y/o calificación.</p>
                    <p><b>Artículo 16º.-</b> Por cada registración y calificación se le extenderá un Diploma que indique los datos del registrado y su calificación en símbolos.</p>
                    <p><b>CAPITULO V - REGISTRACIÓN</b></p>
                    <p><b>Artículo 17º.-</b> Los registrados que a juicio del IANCA y Proteger reúnan especiales condiciones destacada actuación en los campos de la registración deberán ser mantenidos en forma honoraria en sus respectivos registros con fines exclusivamente protocolares.</p>
                    <p><b>Artículo 18º.-</b> Para mantenerse en el registro deben tenerse al día las deudas con el IANCA y Proteger y los valores que correspondan por la registración.</p>
                    <p><b>Artículo 19º.-</b> Los registrados que no deseen permanecer en el registro por alguna de las siguientes razones:
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                residencia en el exterior del país,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                 enfermedad prolongada o impedimento psíquico o físico,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                incompatibilidad absoluta sobre la base de normas expresa emanadas de autoridad competente, o
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                otras causas que a juicio de la Comisión Directiva del IANCA o de Proteger lo justifiquen, podrán solicitar ser eximidos en el pago.
                            </li>
                        </ul>
                    </p>
                    <p><b>Artículo 20º.-</b> Constituyen causales de cancelación de los registros:
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                pedido expreso del propio registrado, bajo renuncia,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                fallecimiento del registrado,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                sentencia judicial que imponga inhabilitación,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                dejar de ser Asociado al IANCA o de Proteger,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                sanción disciplinaria aplicada por el Comité de Ética,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                falta de pago.
                            </li>
                        </ul>
                    </p>
                    <p><b>Artículo 21º.-</b> El IANCA y/o PROTEGER podrá ordenar la publicación en los medios de difusión que crea conveniente la lista de los registrados que se les haya cancelado o suspendido, con mención expresa de la causa.</p>
                    <p><b>CAPITULO VI - INFORMACIÓN SOBRE EL REGISTRO</b></p>
                    <p><b>Artículo 22º.-</b> El IANCA o Proteger podrá divulgar o entregar a solicitud de otros Entes –públicos o privados– información sobre los antecedentes de los registrados y sus calificaciones, ya sea en forma individual o colectiva.</p>
                    <p><b>Artículo 23º.-</b> El IANCA o Proteger podrá difundir la información sobre los sancionados.</p>
                </div>
			</div>
		</div>
	</section>
	<!-- norma negociadores crisis section end-->
{% endblock %}
