{% extends 'base.html.twig' %}

{% block body %}
    <!-- registro profesional section -->
	<section class="about-section spad pt-0">
		<div class="container">
			<div class="section-title text-center">
				<h3>REGISTRO PROFESIONAL</h3>
			</div>
            <div class="row">
				<div class="col-lg-12 about-text">
                    <p>(Aprobado por la Comisión Directiva del IANCA del 25 de julio de 2001)</p>
                    <p><b>CAPITULO I - INSCRIPCIÓN Y SOLICITANTES</b></p>
                    <p><b>Artículo 1º.-</b> Las personas podrán solicitar su inscripción al IANCA en los Registros de:
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Negociador,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Mediador o Conciliador,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Árbitro,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Oficial de "Probation",
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Seguridad Personal,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Usuólogos,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Experticia (en otras disciplinas)
                            </li>
                        </ul>
                    </p>
                    <p>para lo cual deberán satisfacer los siguientes requisitos generales:
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Al iniciar el trámite:
                                <ul class="about-list" style="margin-left:20px">
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        abonar la cuota única de inscripción por cada registro en el que inscriba,
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        presentar personalmente y firmar su solicitud de inscripción (Formulario: "Solicitud de Inscripción en Registro") por todas las matrículas y dejar constancia de conocer y aceptar el presente reglamento,
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        presentar su documento de identidad (D.N.I., C.I., L.C., L.E., Pasaporte), donde consten nombre(s) y apellido(s) consistentes con los presentados en la solicitud de inscripción,
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        acompañar sus antecedentes personales y profesionales,
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        acompañar copias de los títulos, certificados, diplomas, documentos, etcétera sobre negociación, conciliación, mediación, arbitraje, "probation", seguridad personal y afines,
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        para el registro de mediadores y conciliadores se tiene como requisito mínimo lo dispuesto por el Ministerio de Justicia y Derechos Humanos para la formación básica de Mediador (Resolución número 284/98 y Decreto número 91/98):
                                        <ul class="about-list" style="margin-left:20px">
                                            <li>
                                                <i class="fa fa-caret-right"></i>
                                                Curso Introductorio de mediación (20 horas);
                                            </li>
                                            <li>
                                                <i class="fa fa-caret-right"></i>
                                                Curso Teórico Práctico Avanzado de Mediación (60 horas) y
                                            </li>
                                            <li>
                                                <i class="fa fa-caret-right"></i>
                                                Pasantías en Mediación (20 horas).
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Al otorgárseles la inscripción en el registro:
                                <ul class="about-list" style="margin-left:20px">
                                    <li>
                                        <i class="fa fa-check-square-o"></i>
                                        abonar los derechos de protocolo por cada registro y credencial,
                                    </li>
                                    <li>
                                        <i class="fa fa-check-square-o"></i>
                                        entregar dos fotografías recientes, de color de 3 por 3 centímetros , de frente y con fondo blanco.
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </p>
                    <p><b>CAPITULO II - DE LA CALIFICACIÓN</b></p>
                    <p><b>Artículo 2º.-</b> Para la inscripción en cada registro el aspirante debe estar calificado por el Comité de Evaluación. Los registrados podrán pedir –como máximo una por cada año calendario por cada registro– su calificación o reclasificación en grado cualitativo.</p>
                    <p><b>Artículo 3º.-</b> La recomendación de la calificación de los aspirantes a ser calificados estará a cargo del Comité de Evaluación y deberá ser aprobada por la Comisión Directiva.</p>
                    <p><b>Artículo 4º.-</b> Para determinar la calificación de cada aspirante serán tomados en consideración los antecedentes, las labores realizadas, la actuación, los estudios, las investigaciones, las publicaciones, etcétera que acrediten la calidad y grado de conocimiento y experiencia del solicitante.</p>
                    <p><b>Artículo 5º.-</b> La gradación de la calificación es de cinco niveles, comenzando por el primer nivel los que posean menor grado.</p>
                    <p><b>Artículo 6º.-</b> El IANCA se reserva la facultad de reclasificar a los registrados si así lo estimare conveniente.</p>
                    <p><b>CAPITULO III - DOCUMENTACIÓN DE ANTECEDENTES</b></p>
                    <p><b>Artículo 7º.-</b> Los diplomas, certificados, títulos, actas, convenios, etcétera no deben presentar enmiendas ni raspaduras, interlineas, etcétera que no hayan sido debidamente salvados por la autoridad otorgante.</p>
                    <p><b>Artículo 8º.-</b> Si el titular hubiere modificado posteriormente su nombre(s) y/o apellido(s), este hecho deberá ser debidamente comprobado.</p>
                    <p><b>Artículo 9º.-</b> Los títulos expedidos por entidades, públicas o privadas, deberán llevar constancia de su registro en la Dirección Nacional pertinente correspondientemente legalizada por el Ministerio de Educación y Cultura de la Nación, salvo que sean certificados expedidos por el IANCA. En el caso de las materias de Negociación, Mediación, Conciliación y/o Arbitraje la actividad debe estar preferentemente homologada por la Dirección Nacional correspondiente del Ministerio de Justicia y Derechos Humanos.</p>
                    <p><b>Artículo 10º.-</b> En el caso de títulos terciarios –de cualquier naturaleza– deberá presentarse una copia de los planes de estudio para poder determinar sus potenciales conocimientos específicos o afines a lo que se solicita la registración.</p>
                    <p><b>Artículo 11º.-</b> Se considerarán especialistas acreditados por sus antecedentes (laborales, profesionales, doctrinarios, oficiales, institucionales, etcétera) que son reconocidos públicamente aunque no posean títulos formales.</p>
                    <p><b>CAPITULO IV - CREDENCIAL Y DIPLOMA</b></p>
                    <p><b>Artículo 12º.-</b> A cada registrado le corresponderá una única credencial donde consten todas sus inscripciones, que le será sustituida cada nueva registración y/o calificación.</p>
                    <p><b>Artículo 13º.-</b> Por cada registración y calificación, aceptada por la Comisión Directiva del IANCA, se le extenderá un Diploma que indique los datos del registrado y su calificación.</p>
                    <p><b>CAPITULO V - REGISTRACIÓN</b></p>
                    <p><b>Artículo 14º.-</b> Los registrados que a juicio del IANCA reúnan especiales condiciones de destacada actuación en los campos de la registración deberán ser mantenidos en forma honoraria en sus respectivos registros con fines exclusivamente protocolares.</p>
                    <p><b>Artículo 15º.-</b> Para mantenerse en el registro deben tenerse al día las deudas con el IANCA y los valores periódicos que correspondan por el mantenimiento de la registración.</p>
                    <p><b>Artículo 16º.-</b> Los registrados que no deseen permanecer en el registro por alguna de las siguientes razones:
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                residencia en el exterior del país,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                enfermedad prolongada o impedimento psíquico o físico,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                incompatibilidad absoluta sobre la base de normas expresa emanadas de autoridad competente, o
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                otras causas que a juicio de la Comisión Directiva del IANCA lo justifique,
                            </li>
                        </ul>
                    </p>
                    <p>podrán solicitar ser eximidos en el pago por el lapso que dure el suceso.</p>
                    <p><b>Artículo 17º.-</b> Constituyen causales de cancelación de los registros:
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                pedido expreso del propio registrado, bajo renuncia,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                pedido expreso del propio registrado, bajo renuncia,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                sentencia judicial que imponga inhabilitación,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                sanción disciplinaria aplicada por el Comité de Ética,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                no desarrollar una permanente actualización en la temática para cada uno de los registros, con un mínimo de 30 créditos satisfactorios a juicio del IANCA y que se detallan en el Anexo,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                falta de pago.
                            </li>
                        </ul>
                    </p>
                    <p><b>Artículo 18º.-</b> El IANCA podrá ordenar la publicación en los medios de difusión que crea conveniente la lista de los registrados que se les haya cancelado o suspendido, con mención expresa de la causa.</p>
                    <p><b>Artículo 19º.-</b> Las listas de responsables incorporados a cada uno de los registros se publicarán, alfabéticamente por apellido, en el Sitio de Internet del IANCA, sin especificar su calificación ni especialidad.</p>
                    <p><b>CAPITULO VI - INFORMACIÓN SOBRE EL REGISTRO</b></p>
                    <p><b>Artículo 20º.-</b> El IANCA podrá divulgar o entregar a solicitud de otros Entes –públicos o privados– información sobre los antecedentes de los registrados y sus calificaciones, ya sea en forma individual o colectiva.</p>
                    <p><b>Artículo 21º.-</b> El IANCA podrá difundir la información sobre los sancionados.</p>
                    <br>
                    <h5>Anexo Créditos</h5>
                    <p><b>A. Tabla de créditos para cómputo de actualización y acumulación de créditos</b>
                        <table border="1" cellspacing="2" cellpadding="5">
                          <tr>
                            <th style="background-color:LightGrey">Tipo de actividad</th>
                            <th style="background-color:LightGrey">Tope</th>
                            <th style="background-color:LightGrey">Unidad</th>
                            <th style="background-color:LightGrey">Créditos</th>
                          </tr>
                          <tr>
                            <td>
                              Asistencia a actividades de capacitación específicas
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Hora reloj
                            </td>
                            <td>
                              1
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Asistencia a actividades de capacitación afines
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Hora reloj
                            </td>
                            <td>
                              0,5
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Asistencia a actividades de capacitación no afines
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Hora reloj
                            </td>
                            <td>
                              0,1
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Conducción de actividades de capacitación específicas
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Hora reloj
                            </td>
                            <td>
                              1,5
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Conducción de actividades de capacitación afines
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Hora reloj
                            </td>
                            <td>
                              0,75
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Conducción de actividades de capacitación no afines
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Hora reloj
                            </td>
                            <td>
                              0,1
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Director Académico, Decano, etcétera específico o afín
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Cargo
                            </td>
                            <td>
                              30
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Director Académico, Decano, etcétera no afín
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Cargo
                            </td>
                            <td>
                              5
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Desarrollo de programas específicos o afines
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Programa
                            </td>
                            <td>
                              5
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Desarrollo de programas no afines
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Programa
                            </td>
                            <td>
                              2
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Asistencia a Congresos, Jornadas, etcétera de temática específica
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Día
                            </td>
                            <td>
                              3
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Asistencia a Congresos, Jornadas, etcétera de temática afín
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Día
                            </td>
                            <td>
                              1
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Asistencia a Congresos, Jornadas, etcétera de temática no afín
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Día
                            </td>
                            <td>
                              0,3
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Disertación en Congresos, Jornadas, etcétera de temática específica
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Charla
                            </td>
                            <td>
                              3
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Disertación en Congresos, Jornadas, etcétera de temática afín
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Charla
                            </td>
                            <td>
                              2
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Disertación en Congresos, Jornadas, etcétera de temática no afín
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Charla
                            </td>
                            <td>
                              0,5
                            </td>
                          </tr>
                          <tr style="mso-yfti-irow:17">
                            <td>
                              Conferencia, Mesa redonda, etcétera de temática específica
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Charla
                            </td>
                            <td>
                              3
                            </td>
                          </tr>
                          <tr style="mso-yfti-irow:18">
                            <td>
                              Conferencia, Mesa redonda, etcétera de temática afín
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Charla
                            </td>
                            <td>
                              1
                            </td>
                          </tr>
                          <tr style="mso-yfti-irow:19">
                            <td>
                              Conferencia, Mesa redonda, etcétera de temática no afín
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Charla
                            </td>
                            <td>
                              0,3
                            </td>
                          </tr>
                          <tr style="mso-yfti-irow:20">
                            <td>
                              Coordinación de Conferencia, etcétera en temática específica
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Charla
                            </td>
                            <td>
                              1
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Trabajo aceptado en Congreso, etcétera específico
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Página A4
                            </td>
                            <td>
                              0,3
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Trabajo aceptado en Congreso, etcétera afín
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Página
                              A4
                            </td>
                            <td>
                              0,1
                            </td>
                          </tr>
                          <tr style="mso-yfti-irow:23">
                            <td>
                              Artículo, fascículo, etcétera en Revista, Internet, etcétera específico
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Página
                            </td>
                            <td>
                              0,3
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Artículo, fascículo, etcétera en Revista, Internet, etcétera afín
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Página
                            </td>
                            <td>
                              0,1
                            </td>
                          </tr>
                          <tr style="mso-yfti-irow:25">
                            <td>
                              Libro, capítulo de libro, etcétera de temática específica
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Página
                            </td>
                            <td>
                              0,2
                            </td>
                          </tr>
                          <tr style="mso-yfti-irow:26">
                            <td>
                              Libro, capítulo de libro, etcétera de temática afín
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Página
                            </td>
                            <td>
                              0,1
                            </td>
                          </tr>
                          <tr style="mso-yfti-irow:27">
                            <td>
                              Presentación, Comentario, etcétera de libro de temática específica
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Acto
                            </td>
                            <td>
                              1
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Presentación, Comentario, etcétera de libro de temática afín
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Acto
                            </td>
                            <td>
                              0,5
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Entrevistas periodísticas otorgadas sobre la temática
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Página
                            </td>
                            <td>
                              0,5
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Entrevistas periodísticas otorgadas sobre temática afín
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Página
                            </td>
                            <td>
                              0,3
                            </td>
                          </tr>
                        </table>
                    </p>
                    <p><b>B. Cómputo de acumulación de créditos</b>
                        <table border="1" cellspacing="2" cellpadding="5">
                          <tr>
                            <th style="background-color:LightGrey">Tipo</th>
                            <th style="background-color:LightGrey">Tope</th>
                            <th style="background-color:LightGrey">Unidad</th>
                            <th style="background-color:LightGrey">Créditos</th>
                          </tr>
                          <tr>
                            <td>
                              Trabajos de investigación y desarrollo no publicados sobre temática
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Hora reloj
                            </td>
                            <td>
                              0,3
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Trabajos de investigación y desarrollo no publicados sobre afines
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Hora reloj
                            </td>
                            <td>
                              0,1
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Organización de eventos sobre la temática específica
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Evento
                            </td>
                            <td>
                              5
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Organización de eventos sobre temática afín
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Evento
                            </td>
                            <td>
                              3
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Tareas desarrollas para el IANCA sobre la temática específica
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Hora reloj
                            </td>
                            <td>
                              0,3
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Tareas desarrollas para el IANCA sobre la temática afín
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Hora reloj
                            </td>
                            <td>
                              0,2
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Asistencia a reuniones de Comisión Directiva o de Comité
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Reunión
                            </td>
                            <td>
                              0,5
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Asistencia a eventos organizados por el IANCA
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Reunión
                            </td>
                            <td>
                              1
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Redacción o actualización de carpeta de presentación IANCA
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Página
                            </td>
                            <td>
                              0,5
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Confección o análisis de estadísticas para el IANCA
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Hora
                              reloj
                            </td>
                            <td>
                              0,5
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Evaluación en Comité de aspirantes a registro o su conservación
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Candidato
                            </td>
                            <td>
                              0,5
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Redacción/Revisión de proyecto de norma del IANCA o su conservación
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Página A4
                            </td>
                            <td>
                              0,3
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Desempeño de funciones de Dirección o Control en el IANCA
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Mes
                            </td>
                            <td>
                              0,4
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Representación por el IANCA en reuniones, actos, etcétera
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Reunión
                            </td>
                            <td>
                              0,3
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Profesor Titilar/Asociado/Adjunto en materia específica
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Materia
                            </td>
                            <td>
                              30
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Profesor en materia específica
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Materia
                            </td>
                            <td>
                              20
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Profesor Titilar/Asociado/Adjunto en materia afín
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Materia
                            </td>
                            <td>
                              20
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Profesor en materia afín
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Materia
                            </td>
                            <td>
                              15
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Profesor en materia no afín
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Materia
                            </td>
                            <td>
                              5
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Título Universitario de grado (mínimo 4 años) específico
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Título
                            </td>
                            <td>
                              200
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Postgrado específico
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Título
                            </td>
                            <td>
                              200
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Maestría específica
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Título
                            </td>
                            <td>
                              300
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Título Universitario de grado (mínimo 4 años) afín
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Título
                            </td>
                            <td>
                              150
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Postgrado afín
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Título
                            </td>
                            <td>
                              200
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Maestría afín
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Título
                            </td>
                            <td>
                              150
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Título Universitario de grado (mínimo 4 años) no afín
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Título
                            </td>
                            <td>
                              50
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Postgrado no afín
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Título
                            </td>
                            <td>
                              50
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Maestría no afín
                            </td>
                            <td>
                              No
                            </td>
                            <td>
                              Título
                            </td>
                            <td>
                              70
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Casos específicos reales administrados
                            </td>
                            <td>
                              30
                            </td>
                            <td>
                              Caso
                            </td>
                            <td>
                              1,5
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Dramatización en pasantías
                            </td>
                            <td>
                              20
                            </td>
                            <td>
                              Caso
                            </td>
                            <td>
                              0,5
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Asesoramiento a consultantes en temática específica
                            </td>
                            <td>
                              50
                            </td>
                            <td>
                              Consulta
                            </td>
                            <td>
                              0,3
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Atención correspondencia (mail, carta, etcétera)
                            </td>
                            <td>
                              50
                            </td>
                            <td>
                              Nota
                            </td>
                            <td>
                              0,2
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Preparación y presentación de propuestas por IANCA
                            </td>
                            <td>
                              50
                            </td>
                            <td>
                              Propuesta
                            </td>
                            <td>
                              0,3
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Fundador del IANCA
                            </td>
                            <td>
                              30
                            </td>
                            <td>
                              Fundador
                            </td>
                            <td>
                              30
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Fundador de Entidades afines o similares
                            </td>
                            <td>
                              10
                            </td>
                            <td>
                              Fundador
                            </td>
                            <td>
                              10
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Miembro de Comisiones específicas o afines
                            </td>
                            <td>
                              30
                            </td>
                            <td>
                              Miembro
                            </td>
                            <td>
                              10
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Cargo Público en función específica o afín
                            </td>
                            <td>
                              100
                            </td>
                            <td>
                              Cargo
                            </td>
                            <td>
                              50
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Cargo Privado en función específica o afín
                            </td>
                            <td>
                              70
                            </td>
                            <td>
                              Cargo
                            </td>
                            <td>
                              30
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Actividades humanitarias, solidarias, comunitarias, etcétera que <br>a juicio del IANCA contribuyan a la pacificación social
                            </td>
                            <td>
                              20
                            </td>
                            <td>
                              Cargo / Acción
                            </td>
                            <td>
                              10
                            </td>
                          </tr>
                        </table>
                    </p>
                    <p><b>C. Tabla de puntaje acumulado para cada categoría específica</b>
                        <table border="1" cellspacing="2" cellpadding="5">
                          <tr>
                            <th style="background-color:LightGrey">Categoría</th>
                            <th style="background-color:LightGrey">Puntaje Acumulado</th>
                          </tr>
                          <tr>
                            <td>
                              Inicial (no se indica ninguna categoría)
                            </td>
                            <td>
                              100
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Profesional
                            </td>
                            <td>
                              300
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Especialista
                            </td>
                            <td>
                              500
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Experto
                            </td>
                            <td>
                              700
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Master
                            </td>
                            <td>
                              1.000
                            </td>
                          </tr>
                        </table>
                    </p>
                    <p><b>D. Especificaciones</b>
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Ambas tablas computan para la acumulación de créditos, que determina el nivel en cada especialidad.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Únicamente se computa aquello que pueda ser documentado fehacientemente.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Las actividades de conducción solamente son computables una única vez, por lo que su reiteración no computa créditos. Sí la misma la comparten al unísono varios conductores el cómputo es del 50% para cada uno de ellos. Sí la conducción se hace en forma separada las horas que se computan completas son aquellas donde trabajan individualmente. En un mismo curso cuando el mismo se subdivide en subgrupos que deben ser atendidos por varios conductores, ese tiempo se computa individualmente.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Los trabajos publicados se computan por trabajo y no se toman cuando se reitera su publicación en otro medio.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                La Comisión Directiva del IANCA podrá evaluar otras formas de computar créditos.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                En los trabajos de investigación o desarrollo donde no se puedan documentar las horas reloj es posible computar otras formas, tal como 1 hora por cada concurrencia física al lugar de investigación o de reunión con otros investigadores. Los ingresos a cada sitio de Internet se computan como media hora.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Los topes de créditos son límites máximos a computar.
                            </li>
                        </ul>
                    </p>
                </div>
			</div>
		</div>
	</section>
	<!-- registro profesional section end-->
{% endblock %}
