{% extends 'base.html.twig' %}

{% block body %}
    <!-- REGLAMENTO PARA PREMIOS section -->
	<section class="about-section spad pt-0">
		<div class="container">
            <div class="section-title text-center">
				<h3>
                    Congreso Internacional de Seguridad Personal sin Violencia ante el Delito
                </h3>
                <br>
                <h3>
                    Congreso Internacional de Negociación y Administración de Conflictos
                </h3>
			</div>
            <hr>
            <div class="section-title text-center">
				<h3>REGLAMENTO PARA PREMIOS</h3>
			</div>
            <div class="row">
				<div class="col-lg-12 about-text">
                    <p><b>Artículo 1º.-</b> Estando instituídos los premios "precursores" y "trayectoria", otorgados por AIAP - Asociación Internacional de Abogacía Preventiva e IANCA - Instituto Argentino de Negociación, Conciliación y Arbitraje, cuya primer edición fue en el año 2003, se concederán los sucesivos.</p>
                    <p><b>Artículo 2º.-</b> Recibirán el <b>premio "precursores"</b> aquellas personas o entidades que dieron impulso inicial e importante en las áreas de negociación, resolución de disputas y/o prevención y administración de conflictos y seguridad personal sin violencia ante el delito, y se mantuvieron en ello por un lapso no menor de cinco años.</p>
                    <p><b>Artículo 3º.-</b> Recibirán el <b>premio "trayectoria"</b> aquellas personas, o instituciones, cuya labor desplegada en pos de la implementación, desarrollo y difusión de aquellos, hubiese tenido una trascendencia destacada en las áreas de negociación, resolución de disputas y/o prevención y administración de conflictos y seguridad personal sin violencia ante el delito y que perduraron en ello por 10 o más años.</p>
                    <p><b>Artículo 4º.-</b> La nominación de los candidatos se realizará mediante e-mail, a la dirección respectiva con indicación de la identidad del postulado, del postulante, su domicilio y la fundamentación sumaria de los antecedentes. Puede realizarse, también mediante fax o carta al IANCA o a la AIAP. Toda persona, física o jurídica, ONG, u organismo estatal, puede postular a los candidatos y ser candidato. Los miembros del jurado no pueden postular ni ser postulados.</p>
                    <p><b>Artículo 5º.-</b> La lista de las nominaciones serán públicas. Cualquier nominado puede pedir su exclusión, la que será efectuada en la forma más rápida que sea técnicamente posible.</p>
                    <p><b>Artículo 6º.-</b> El jurado integrado por los Presidentes del IANCA y AIAP, además de los premiados el año inmediatamente anterior y dos miembros designados por cada entidad y decidirá por mayoría a quienes se adjudican los premios, pudiendo considerar desierto el concurso, en una o ambas categorías. Toda cuestión que se suscite respecto de este reglamento y el concurso será resuelta por el jurado por mayoría. Sus decisiones son irrecurribles.</p>
                    <p><b>Artículo 7º.-</b> Quienes recibieron los premios en ediciones anteriores, integran un comité consultivo "ad–honorem".</p>
                    <p><b>Artículo 8º.-</b> Las nominaciones se recibirán desde el 1º al 30 de abril de cada año. El jurado se expedirá hasta quince días antes del inicio del Congreso Internacional de Negociación y Administración de Conflictos y el Congreso Internacional de Seguridad Personal sin Violencia ante el Delito que organizan anualmente el IANCA y la Escuela de Economía y Negocios Internacionales de la Universidad de Belgrano , y los premios se entregarán en los Congresos.</p>
                    <p><b>Artículo 9º.-</b> Los premios consistirán en un Diploma firmado por las autoridades de las entidades organizadoras.</p>
                    <p><b>Artículo 10º.-</b> La participación en este Concurso, implica la aceptación de sus reglas.</p>
                    <hr>
                    <p>Para las nominaciones a los premios está habilitada la casilla en: <a href="mailto:info@ianca.com.ar">info@ianca.com.ar</a></p>
                </div>
			</div>
		</div>
	</section>
	<!-- REGLAMENTO PARA PREMIOS section end-->
{% endblock %}
