{% extends 'base.html.twig' %}

{% block body %}
    <!-- Reglamento negociacion crisis section -->
	<section class="about-section spad pt-0">
		<div class="container">
			<div class="section-title text-center">
				<h3>REGLAMENTO DE NEGOCIACIÓN DE CRISIS</h3>
			</div>
            <div class="row">
				<div class="col-lg-12 about-text">
                    <p>(Aprobado por Comisión Directiva de Proteger del 10 de abril de 2001 y del IANCA del 26 de abril de 2001)</p>
                    <p><b>CAPITULO I. OBJETO</b></p>
                    <p><b>Artículo 1º.-</b> El IANCA —Instituto Argentino de Negociación, Conciliación y Arbitraje— y Proteger tienen como objeto fomentar la resolución de disputas críticas salvaguardando la integridad de las personas afectadas y los patrimonios procurando una solución equitativa, amigable y rápida.</p>
                    <p><b>Artículo 2º.-</b> La labor de negociación procura el acercamiento entre los participantes, y sugiere posibles soluciones —a su leal saber y entender—, pero la decisión queda en los participantes.</p>
                    <p><b>CAPITULO II. CUESTIÓN INVOLUCRADA</b></p>
                    <p><b>Artículo 3º.-</b> Los responsables designados para actuar como negociadores, asesores y administradores del entorno de crisis en el procedimiento deberán ser integrantes de los Registros del IANCA.</p>
                    <p><b>CAPITULO III. NEGOCIADOR, ASESOR o ADMINISTRADOR</b></p>
                    <p><b>Artículo 4º.-</b> Para poder ser designado negociador, asesor o administrador del entorno es menester estar inscripto en el registro respectivo y no encontrarse privado del ejercicio de los derechos del IANCA ni de Proteger, y aceptar el cargo para el que fue designado.</p>
                    <p><b>Artículo 5º.-</b> El negociador, asesor o administrador del entorno puede ser removido por las siguientes causas:
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                mal desempeño de sus funciones,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                desorden de conducta,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                negligencia reiterada que dilate la substanciación del proceso,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                ineptitud,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                violación a las normas sobre incompatibilidad —salvo aceptación expresa de los participantes—,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                haber sido sancionado por el IANCA, o por Proteger y/o
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                comisión de delitos cuyas penas afecten su buen nombre y honor.
                            </li>
                        </ul>
                    </p>
                    <p><b>Artículo 6º.-</b> En el caso que la negociación se realice por medio de un equipo de varios responsables, designarán entre ellos un presidente, y en caso de no haber acuerdo se sorteará entre los propuestos, el que tendrá doble voto en caso de empate.</p>
                    <p><b>CAPITULO IV. PROCEDIMIENTO GENERAL</b></p>
                    <p><b>Artículo 7º.-</b> Las actuaciones se realizan en el idioma Castellano.</p>
                    <p><b>Artículo 8º.-</b> No se establecerán plazos para la negociación.</p>
                    <p><b>Artículo 9º.-</b> En las labores de negociación no se fija procedimiento formal alguno.</p>
                    <p><b>Artículo 10º.-</b> En ninguno de los procesos se requiere en forma obligatoria el patrocinio letrado.</p>
                    <p><b>Artículo 11º.-</b> Los participantes o los convocantes conocen y aceptan el presente reglamento y demás normas complementarias o supletorias vigentes del IANCA y Proteger al iniciarse el proceso y no les será admitido recurso o cuestión alguna que se funde en el desconocimiento de tales disposiciones.</p>
                    <p><b>Artículo 12º.-</b> El procedimiento de la negociación de crisis corresponde al negociador (o al presidente del equipo de negociación), que tiene las facultades de dirigirlo pudiendo:
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                resolver todas las incidencias que se promuevan durante la substanciación del proceso,
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                amonestar y apercibir a los participantes, sancionar cuando los participantes dificulten el desenvolvimiento regular de las actuaciones o no cumplan con los actos que deban realizar.
                            </li>
                        </ul>
                    </p>
                    <p><b>Artículo 13º.-</b>  El negociador elegirá libremente la forma de investigación, análisis y decisión, guiado por los principios de imparcialidad, equidad, ética y buena fe.</p>
                    <p><b>CAPITULO V. SANCIONES</b></p>
                    <p><b>Artículo 14º.-</b> El negociador podrá apercibir y/o separar de la intervención en el proceso a los apoderados, representantes, especialistas o ayudantes de un participante que obstaculicen la marcha normal de las actuaciones con peticiones o posiciones improcedentes, o que deliberadamente incurran en demoras injustificadas.</p>
                    <p><b>CAPITULO VI. HONORARIOS</b></p>
                    <p><b>Artículo 15º.-</b> Los honorarios de negociación —cuando interviene un único negociador— serán de $ 10.000 por cada día de 24 horas o fracción. En el caso de constituirse un equipo se incrementará el cincuenta por ciento por cada componente adicional.</p>
                    <p><b>CAPÍTULO VII. CUESTIONES NO PREVISTAS</b></p>
                    <p><b>Artículo 16º.-</b> Para resolver cualquier punto no previsto en el presente reglamento se aplicará el criterio del negociador, quien podrá consultar pautas a la Comisión Directiva del IANCA y de Proteger.</p>
                    <p><b>CAPÍTULO VIII. EXPERTOS</b></p>
                    <p><b>Artículo 17º.-</b> El negociador puede recurrir al auxilio de expertos.</p>
                    <p><b>Artículo 18º.-</b> Los convocantes resolverán la forma en que abonaran los honorarios de los mismos, y en caso de indefinición o de discrepancia los honorarios de los expertos se abonarán dentro de los cinco días hábiles.</p>
                    <p><b>CAPITULO IX. DESIGNACIÓN DE EXPERTOS</b></p>
                    <p><b>Artículo 19º.-</b> La designación de los Negociadores, Asesores y Administradores de entorno es por el convocante, pero en el caso en que el mismo no lo defina o cuando no haya acuerdo para ello la designación se hará por las pautas indicadas en los artículos siguientes.</p>
                    <p><b>Artículo 20º.-</b> Cuando es menester un único negociador o experto, se sortea uno con el perfil requerido.</p>
                    <p><b>Artículo 21º.-</b> Cuando se requiere un equipo de negociación se proponen o sortean tantos candidatos del registro, con el perfil requerido, como participantes. Siendo el presidente designado de común acuerdo entre los participantes, entre los candidatos designados, y si estos no se ponen de acuerdo lo harán los componentes del equipo, y en caso de mantenerse la discrepancia se designará por sorteo.</p>
                    <p><b>Artículo 22º.-</b> En caso de exclusión o desaparición de un negociador, el reemplazo deberá designarse de la misma forma en que se decidió la designación del reemplazado.</p>
                    <p><b>CAPITULO X. DOCUMENTACIÓN</b></p>
                    <p><b>Artículo 23º.-</b> La documentación, notas de trabajo, grabaciones son confidenciales y serán destruidas inmediatamente de finalizado el incidente.</p>
                </div>
			</div>
		</div>
	</section>
	<!-- Reglamento negociacion crisis section end-->
{% endblock %}
