{% extends 'base.html.twig' %}

{% block body %}
    <!-- REGLAMENTO DE ASOCIADOS section -->
	<section class="about-section spad pt-0">
		<div class="container">
			<div class="section-title text-center">
				<h3>REGLAMENTO DE ASOCIADOS</h3>
                <p>(Aprobado en la Reunión de Comisión Directiva del 15 de noviembre de 2006)</p>
			</div>
            <div class="row">
				<div class="col-lg-12 about-text">
                    <p><b>Categorías</b></p>
                    <p><b>Artículo 1º.-</b> Se establecen las siguientes categorías de Asociados:
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Acti­vos o Adscriptos: los que invistan en carácter de negociador, conciliador, mediador y/o árbitro, o que se propongan desarrollarlo, tengan más de 18 años de edad y sean aceptados por el 90% de la Comisión Directiva Titular , y que hayan cumplido más de cuatro años como mínimo como Asociados Adherentes. Los Asociados Activos son las personas físicas que se incorporan por sí mismas y los Asociados Adscriptos las que lo hacen en representación de Asociados Organizacionales, Patrocinantes o Patrocinantes Mayores;
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Adherente: las personas físicas que invistan en carácter de negociador, conciliador, mediador y/o árbitro, o que se propongan desarrollarlo, tengan más de 18 años de edad;
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Honorarios: los que en aten­ción a los servicios prestados a la Asociación o determinadas condiciones personales, sean designados por la Asamblea a propuesta de la Comisión Di rectiva o de un 20% de los Asociados con derecho a voto. La pertenencia a esta categoría es una mera mención honorífica y, por lo tanto, no implica reconocer derechos ni imponer obligaciones. Los Asociados honorarios que deseen tener los mismos derechos que los Activos o Adscriptos deberán solicitar su admisión en estas categorías a cuyo efecto se ajustarán las condiciones que el presente estatuto exige para la misma; y
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Organizacionales, Patrocinantes y Patrocinantes Mayores: que invistan la calidad de instituciones o personas físicas que quieran asociar a más de un representante como Asociado Adscripto. Los Organizacionales pueden asociar hasta un máximo de cuatro Adscriptos, los Patrocinantes hasta un máximo de ocho Adscriptos y los Patrocinantes Mayores hasta un máximo de quince Adscriptos.
                            </li>
                        </ul>
                    </p>
                    <br>
                    <p><b>Obligaciones y derechos</b></p>
                    <p><b>Artículo 2º.-</b> Los Asociados Activos y Adscriptos (representante) tienen las siguientes obligaciones y derechos:
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                abonar las contribuciones ordinarias que establezca la Asamblea para su categoría de Asociado;
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                cumplir las demás obligaciones que impongan el estatuto, este reglamento y demás reglamentos y las resoluciones de Asamblea y Comisión Directiva;
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                participar con voz y voto en las Asambleas cuando tenga una antigüedad mínima de dos años como Asociado Activo o Adscripto;
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                ser candidato para ser elegidos para integrar los órganos sociales cuando tenga una antigüedad mínima de cuatro años como Asociado Activo o Adscripto;
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                gozar de los beneficios que otorga la enti­dad como Asociado Activo o Adscripto.
                            </li>
                        </ul>
                    </p>
                    <p><b>Artículo 3º.-</b> Los Asociados Adherentes tienen las siguientes obligaciones y derechos:
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                abonar las contribuciones ordinarias que establezca la Asamblea para su categoría de Asociado;
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                cumplir las demás obligaciones que impongan el estatuto, este reglamento y demás reglamentos y las resoluciones de Asamblea y Comisión Directiva;
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                participar con voz en las Asambleas cuando tenga una antigüedad mínima de dos años como Asociado Adherente;
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                gozar de los beneficios que otorga la entidad como Asociado Adherente.
                            </li>
                        </ul>
                    </p>
                    <br>
                    <p><b>Cese</b></p>
                    <p><b>Artículo 4º.-</b> Perderá su carácter de Asociado el que hubiere dejado de reunir las condiciones requeridas por el estatuto para serlo.
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                El que se atrase en el pago de tres cuotas o de cualquier otra contribución establecida, será notificado fehacientemente de su obligación de ponerse al día con la Tesorería Social. Pasado un mes de la notificación sin que hubiera regularizado su situación, la Comisión Directiva podrá declarar la cesantía del Asociado moroso.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Por fallecimiento, renuncia o expulsión.
                            </li>
                        </ul>
                    </p>
                    <br>
                    <p><b>Sanciones</b></p>
                    <p><b>Artículo 5º.-</b> La Comisión Directiva podrá aplicar a los Asociados las siguientes sanciones:
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                amonestación;
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                suspensión, cuyo plazo máximo no podrá exceder de un año;
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                expulsión, las que se graduarán de acuerdo a la gravedad de la falta y a las circunstancias del caso por las siguientes causas:
                                <ul class="about-list" style="margin-left:20px">
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        incumplimiento de las obligaciones impuestas por el estatuto, reglamento o resoluciones de las Asambleas y de la Comisión Directiva;
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        inconducta notoria;
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right"></i>
                                        hacer voluntariamente daño a la Asociación, provo­car desórdenes graves en su seno u observar una conducta que sea notoriamente perjudicial a los intereses sociales.
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </p>
                    <p><b>Artículo 6º.-</b> Las sanciones disciplinarias a que se refiere el artículo anterior serán resueltas por la Comisión Directiva previa defensa del inculpado. En todos los casos, el afectado podrá interponer –dentro del término de 30 días de notificado de la sanción– el recurso de apelación por ante la primera Asamblea que se celebre. La interposición del recurso tendrá e­fecto suspensivo. En cuanto a sus derechos de Asociado en el supuesto de ejercer el Asociado sancionado un cargo dentro de los Órganos de Administra­ción o Fiscalización, podrá ser suspendido por dicho Órgano en ese carác­ter, hasta tanto resuelva su situación la asamblea respectiva.</p>
                    <br>
                    <p><b>Cuotas</b></p>
                    <p><b>Artículo 7º.-</b> Las cuotas de ingreso son para cada categoría:
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Activos: $ 5.000,00.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Organizaciona­les: $ 15.000,00.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Patrocinantes; $ 30.000,00.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Patrocinantes Mayores: $ 60.000,00
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Adherentes: $ 100,00.
                            </li>
                        </ul>
                    </p>
                    <p><b>Artículo 8º.-</b> Las cuotas mensuales son para cada categoría:
                        <ul class="about-list" style="margin-left:20px">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Activos y Adscriptos: $ 20,00.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Organizaciona­les: $ 60,00.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Patrocinantes; $ 120,00.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Patrocinantes Mayores: $ 240,00
                            </li>
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                Adherentes: $ 10,00.
                            </li>
                        </ul>
                    </p>
                    <br>
                    <p><b>Movilidad</b></p>
                    <p><b>Artículo 9º.-</b> Los Asociados Organizacionales, Patrocinantes o Patrocinantes Mayores pueden movilizarse entre estas categorías, para lo que deberán abonar las diferencias de cuotas de ingresos hacia categorías mayores. En caso de movilizarse a una categoría menor no tiene restitución de la cuota de ingreso pero si se reduce la cuota mensual.</p>
                    <p><b>Artículo 10º.-</b> Los Asociados Adscriptos que pasen a Activos deben abonar la cuota de inscripción correspondiente y deben tener una antigüedad mayor de 4 años como Adscripto o Adherente.</p>
                    <p><b>Artículo 11º.-</b> Los Asociados Adherentes que pasen a Activos deben abonar la cuota de ingreso correspondiente y deben tener una antigüedad mayor de cuatro años como Adherente.</p>
                    <br>
                    <p><b>Registros</b></p>
                    <p><b>Artículo 12º.-</b> Todos Asociados que son personas físicas pueden ingresar a los registros de especialidades de la Asociación siempre que acrediten antecedentes y formación en el área específica.</p>
                </div>
			</div>
		</div>
	</section>
	<!-- REGLAMENTO DE ASOCIADOS section end-->
{% endblock %}
